[Unit]
Description=Xinetd Super server
After=network.target

[Service]
User=root
EnvironmentFile=/etc/environment
PIDFile=/run/xinetd.pid
ExecStart=/usr/sbin/xinetd -stayalive -pidfile /run/xinetd.pid
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
