########################################
## Raw
########################################
Ivoz\Kam\Domain\Model\UsersLocation\RegistrationStatus:
  itemOperations: []
  collectionOperations: []
  attributes:
    normalization_context:
      groups: ['']

Ivoz\Kam\Domain\Model\UsersCdr\UsersCdr:
  attributes:
    pagination_client_enabled: true
    access_control: '("ROLE_COMPANY_ADMIN" in roles) or ("ROLE_COMPANY_USER" in roles)'
    read_access_control:
      ROLE_COMPANY_ADMIN:
        company:
          eq: "user.getCompany().getId()"
        hidden:
          eq: 0
      ROLE_COMPANY_USER:
        company:
          eq: "user.getCompany().getId()"
        hidden:
          eq: 0
  itemOperations:
    get: ~
  collectionOperations:
    get:
      swagger_context:
        produces:
        - 'application/json'
        - 'application/ld+json'
        - 'text/csv'
    get_my_call_history:
      method: 'GET'
      path: '/my/call_history'
      route_name: 'get_my_call_history'
      swagger_context:
        produces:
        - 'application/json'
        - 'application/ld+json'
        - 'text/csv'
        tags:
        - My
