#sidebar div {
    max-height: 300px;
/*     overflow: hidden; */
}
/* #sidebar div:hover { */
/*     overflow: auto; */
/* } */
.red {
    color: red;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.blue {
    color: blue;
}
.yellow {
    color: yellow;
}



.changeMenuStatus {
    float:right;
    margin-right: 1em;
    margin-left: 1em;
    cursor: pointer;
}

.forbidden {
    cursor: not-allowed;
}
.asterisc {
	vertical-align: middle;
	font-weight: bold;
	font-size: x-large;	
}

.entitySelectDiv {
	display: inline-block;
}

.clipDialog {
    overflow: visible;
}

.selectboxit-container .selectboxit-options {

    /* Set's the max-height property to only show a subset of the drop down items.
       If you do not set a max-height property, SelectBoxIt will dynamically
       position the dropdown (when opened) to make sure the drop down items are not
       displayed outside of the current window viewport.
    */
    max-height: 400px;
}