Source: oasis-profiles
Section: php
Priority: optional
Build-Depends: debhelper
Standards-Version: 3.9.6
Maintainer: Irontec OASIS Team <oasis@irontec.com>

Package: oasis-profile-common
Architecture: all
Section: admin
Priority: optional
Conflicts: oasis-puppet-agent
Pre-Depends: po-debconf, ntp, vim, ntpdate, sudo, htop, vlan, tcpdump, ngrep, screen, ssh, systemd-cron
Homepage: http://www.irontec.com
Description: OASIS - Common configuration files
 Files includes in this package are common to all OASIS systems
 .
 This package is used to:
  - System wide configuration files
  - NTP Daemon configuration
  - Enviroment configuration requets (testing, production, ..)
 .

Package: oasis-profile-as-system
Architecture: all
Section: admin
Priority: optional
Depends: oasis-profile-common, oasis-app-agi, oasis-asterisk, oasis-asterisk-config, sngrep, ghostscript, libtiff-tools
Homepage: http://www.irontec.com
Description: OASIS - Profile for Application Servers
 .

Package: oasis-profile-data-system
Architecture: all
Section: admin
Priority: optional
Pre-Depends: oasis-profile-common, mysql-server, libstring-crc32-perl
Homepage: http://www.irontec.com
Description: OASIS - Data System Profile
 .

Package: oasis-profile-portal-system
Architecture: all
Section: admin
Priority: optional
Depends: oasis-profile-common, klear, apache2, php5, php5-igbinary, php5-mysql, php5-imagick, php5-curl, oasis-app-user-webapp, oasis-app-portals
Homepage: http://www.irontec.com
Description: OASIS - Portal System Profile
 .

Package: oasis-profile-proxy-system
Architecture: all
Section: admin
Priority: optional
Depends: oasis-profile-common, sngrep, mysql-client, netcat-openbsd, ssl-cert
Homepage: http://www.irontec.com
Description: OASIS - Profile files for a Proxy Systems
 .

