*.buildpath
*.project
*.settings
*.idea
.idea/*
.vscode

**/.unison.**
**/__debug**
vendor
**/coverage/
storage/*
mount-storage.sh
**.phplint-cache
**.phpunit.result.cache
**/.nvmrc

web/portal/client/.history

doc/html/*
doc/doctrees/
