*.buildpath
*.project
*.settings
*.idea
.idea/*
.vscode

vendor
**/coverage/
storage/*
mount-storage.sh
**.phplint-cache
**.phpunit.result.cache

web/admin/storage
web/admin/application/cache/*
web/admin/public/img/
web/admin/public/styles/
web/admin/public/fonts/

web/user/index.phtml
web/user/scripts/
web/user/app/styles/main.css.map
web/user/app/styles/main.css

web/portal/client/.history

doc/html/*
doc/doctrees/

kamailio/users/config/kamailio-selfsigned.key
kamailio/trunks/config/kamailio-selfsigned.key

kamailio/users/config/listeners.cfg
kamailio/trunks/config/listeners.cfg
