#include conf.d/mapperList.yaml
#include conf.d/actions.yaml

production: 
  main: 
    module: klearMatrix
    defaultScreen: extensionsList_screen
  screens: &extensions_screenLink
    extensionsList_screen: &extensionsList_screenLink 
      controller: list
      pagination: 
        items: 25
      order:
        field: number
      <<: *Extensions
      title: _("List of %s %2s", ngettext('Extension', 'Extensions', 0), "[format| (%parent%)]")
      class: ui-silk-book-open
      forcedValues:
        <<: *forcedCompany
      fields: 
        options: 
          title: _("Options")
          screens: 
            extensionsEdit_screen: true
          dialogs: 
            extensionsDel_dialog: true
          default: extensionsEdit_screen
        blacklist:
          IVRCommonId: true
          IVRCustomId: true
          huntGroupId: true
          userId: true
          conferenceRoomId: true
        order:
          number: true
          routeType: true
          target: true
      options: 
        title: _("Options")
        screens: 
          extensionsNew_screen: true
        dialogs: 
          extensionsDel_dialog: true
          importExtensions_dialog: true
    extensionsNew_screen: &extensionsNew_screenLink 
      <<: *Extensions
      controller: new
      class: ui-silk-add
      label: true
      multiInstance: true
      title: _("Add %s", ngettext('Extension', 'Extensions', 1))
      forcedValues:
        <<: *forcedCompany
      shortcutOption: N
      fields:
        blacklist:
          target: true
      fixedPositions: &extensionFixedPositions_link
        group0:
          colsPerRow: 2
          fields:
            number: 1
        group1:
          colsPerRow: 3
          fields:
            routeType: 2
            IVRCommonId: 1
            IVRCustomId: 1
            huntGroupId: 1
            conferenceRoomId: 1
            userId: 1
    extensionsEdit_screen: &extensionsEdit_screenLink 
      <<: *Extensions
      controller: edit
      class: ui-silk-pencil
      label: false
      forcedValues:
        <<: *forcedCompany
      title: _("Edit %s %2s", ngettext('Extension', 'Extensions', 1), "[format| (%item%)]")
      fields:
        blacklist:
          target: true
      fixedPositions: 
        <<: *extensionFixedPositions_link
  dialogs: &extensions_dialogsLink
    extensionsDel_dialog: &extensionsDel_dialogLink 
      <<: *Extensions
      controller: delete
      class: ui-silk-bin
      labelOption: false
      title: _("Delete %s", ngettext('Extension', 'Extensions', 1))
      description: _("Do you want to delete this %s?", ngettext('Extension', 'Extensions', 1))
      message: _("%s successfully deleted.", ngettext('Extension', 'Extensions', 1))
      multiItem: 1
      labelOnList: 1

    importExtensions_dialog:
      <<: *Extensions
      module: default
      title: _("Import %s", ngettext('File', 'Files', 1))
      label: false
      labelOnEdit: true
      labelOnList: true
      labelOnOption: true
      labelOnEntityPostSave: true
      controller: import-file
      action: import
      class:  ui-silk-page-gear
      freeUploadCommand: importExtensionsFreeUpload_command
      delimiter: ";"
      enclosure: '"'
      escape: "\\"
      forcedValues:
        companyId: ${auth.companyId}

  commands:
    importExtensionsFreeUpload_command:
      <<: *Extensions
      controller: File
      action: free-upload

staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
