#include conf.d/mapperList.yaml
#include conf.d/actions.yaml
#include HuntGroupsRelUsersList.yaml

production: 
  main: 
    module: klearMatrix
    defaultScreen: huntGroupsList_screen
  screens: &huntGroups_screensLink
    huntGroupsList_screen: &huntGroupsList_screenLink 
      controller: list
      pagination: 
        items: 25
      <<: *HuntGroups
      class: ui-silk-group-go
      title: _("List of %s %2s", ngettext('Hunt group', 'Hunt groups', 0), "[format| (%parent%)]")
      forcedValues:
        <<: *forcedCompany
      fields: 
        options: 
          title: _("Options")
          screens: 
            huntGroupsEdit_screen: true
            huntGroupsRelUsersList_screen: true
            huntGroupsRelUsersFilterRingAllList_screen: true
            huntGroupsRelUsersFilterRandomList_screen: true
          dialogs: 
            huntGroupsDel_dialog: true
          default: huntGroupsEdit_screen
        blacklist:
          nextUserPosition: true
          ringAllTimeout: true
          noAnswerTargetType: true
          noAnswerLocutionId: true
          noAnswerNumberValue: true
          noAnswerExtensionId: true
          noAnswerVoiceMailUserId: true
      options: 
        title: _("Options")
        screens: 
          huntGroupsNew_screen: true
        dialogs: 
          huntGroupsDel_dialog: true
    huntGroupsNew_screen: &huntGroupsNew_screenLink 
      <<: *HuntGroups
      controller: new
      class: ui-silk-add
      label: true
      multiInstance: true
      title: _("Add %s", ngettext('Hunt group', 'Hunt groups', 1))
      shortcutOption: N
      forcedValues:
        <<: *forcedCompany
      fields:
        blacklist: &huntGroupsBlacklist_Link
          nextUserPosition: true
      fixedPositions: &huntGroupsFixedPositions_Link
        group0:
          label: _("Basic data")
          colsPerRow: 2
          fields:
            name: 1
            description: 1
            strategy: 1
            ringAllTimeOut: 1
        group1:
          label: _("Target data")
          colsPerRow: 3
          fields:
            callTypeFilter: 1
            targetType: 1
            numberValue: 1
            extensionId: 1
            voiceMailUserId: 1
        group2:
          label: _("No answer configuration")
          colsPerRow: 3
          fields:
            noAnswerLocutionId: 3
            noAnswerTargetType: 1
            noAnswerNumberValue: 1
            noAnswerExtensionId: 1
            noAnswerVoiceMailUserId: 1
    huntGroupsEdit_screen: &huntGroupsEdit_screenLink 
      <<: *HuntGroups
      controller: edit
      class: ui-silk-pencil
      label: false
      title: _("Edit %s %2s", ngettext('Hunt group', 'Hunt groups', 1), "[format| (%item%)]")
      forcedValues:
        <<: *forcedCompany
      fields:
        blacklist:
          <<: *huntGroupsBlacklist_Link
      fixedPositions:
        <<: *huntGroupsFixedPositions_Link

    # HuntGroupRelUsers
    <<: *huntGroupsRelUsers_screensLink
    huntGroupsRelUsersList_screen:
      <<: *huntGroupsRelUsersList_screenLink
      title: _("List of %s %2s", ngettext('User', 'Users', 0), "[format| (%parent%)]")
      class: ui-silk-user
      filterField: huntGroupId
      parentOptionCustomizer:
        - IvozProvider_Klear_Options_OptionsCustomizerFilterForHuntGroup
        - recordCount
    huntGroupsRelUsersEdit_screen:
      <<: *huntGroupsRelUsersEdit_screenLink
      title: _("Edit %s", ngettext('User', 'User', 1))
      filterField: huntGroupId
    huntGroupsRelUsersNew_screen:
      <<: *huntGroupsRelUsersNew_screenLink
      title: _("Add %s %2s", ngettext("User", "users", 1), "[format| (%parent%)]")
      filterField: huntGroupId

    # HuntGroupRelUsers filter by "ringAll"
    huntGroupsRelUsersFilterRingAllList_screen:
      <<: *huntGroupsRelUsersList_screenLink
      title: _("List of %s %2s", ngettext('User', 'Users', 0), "[format| (%parent%)]")
      class: ui-silk-user
      filterField: huntGroupId
      parentOptionCustomizer:
        - IvozProvider_Klear_Options_OptionsCustomizerFilterForHuntGroup
        - recordCount
      fields:
        blacklist:
          timeoutTime: true
          priority: true
        options:
          title: _("Options")
          screens:
            huntGroupsRelUsersFilterRingAllEdit_screen: true
          dialogs:
            huntGroupsRelUsersDel_dialog: true
          default: huntGroupsRelUsersFilterRingAllEdit_screen
      options:
        title: _("Options")
        screens:
          huntGroupsRelUsersFilterRingAllNew_screen: true
        dialogs:
          huntGroupsRelUsersDel_dialog: true
    huntGroupsRelUsersFilterRingAllEdit_screen:
      <<: *huntGroupsRelUsersEdit_screenLink
      title: _("Edit %s", ngettext('User', 'User', 1))
      filterField: huntGroupId
      fields:
        blacklist:
          timeoutTime: true
          priority: true
    huntGroupsRelUsersFilterRingAllNew_screen:
      <<: *huntGroupsRelUsersNew_screenLink
      title: _("Add %s %2s", ngettext("User", "users", 1), "[format| (%parent%)]")
      filterField: huntGroupId
      fields:
        blacklist:
          timeoutTime: true
          priority: true

    # HuntGroupRelUsers filter by "random"
    huntGroupsRelUsersFilterRandomList_screen:
      <<: *huntGroupsRelUsersList_screenLink
      title: _("List of %s %2s", ngettext('User', 'Users', 0), "[format| (%parent%)]")
      class: ui-silk-user
      filterField: huntGroupId
      parentOptionCustomizer:
        - IvozProvider_Klear_Options_OptionsCustomizerFilterForHuntGroup
        - recordCount
      fields:
        blacklist:
          priority: true
        options:
          title: _("Options")
          screens:
            huntGroupsRelUsersFilterRandomEdit_screen: true
          dialogs:
            huntGroupsRelUsersDel_dialog: true
          default: huntGroupsRelUsersFilterRandomEdit_screen
      options:
        title: _("Options")
        screens:
          huntGroupsRelUsersFilterRandomNew_screen: true
        dialogs:
          huntGroupsRelUsersDel_dialog: true
    huntGroupsRelUsersFilterRandomEdit_screen:
      <<: *huntGroupsRelUsersEdit_screenLink
      title: _("Edit %s", ngettext('User', 'User', 1))
      filterField: huntGroupId
      fields:
        blacklist:
          priority: true
    huntGroupsRelUsersFilterRandomNew_screen:
      <<: *huntGroupsRelUsersNew_screenLink
      title: _("Add %s %2s", ngettext("User", "users", 1), "[format| (%parent%)]")
      filterField: huntGroupId
      fields:
        blacklist:
          priority: true

  dialogs: &huntGroups_dialogsLink 
    huntGroupsDel_dialog: &huntGroupsDel_dialogLink 
      <<: *HuntGroups
      controller: delete
      class: ui-silk-bin
      labelOption: false
      title: _("Delete %s", ngettext('Hunt group', 'Hunt groups', 1))
      description: _("Do you want to delete this %s?", ngettext('Hunt group', 'Hunt groups', 1))
      message: _("%s successfully deleted.", ngettext('Hunt group', 'Hunt groups', 1))
      multiItem: 1
      labelOnList: 1
      
    <<: *huntGroupsRelUsers_dialogsLink
    huntGroupsRelUsersDel_dialog:
      <<: *huntGroupsRelUsersDel_dialogLink
      title: _("Delete %s", ngettext('User', 'Users', 1))

staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
