#include conf.d/mapperList.yaml
#include conf.d/actions.yaml
#include UsersList.yaml


production:
  main: 
    module: klearMatrix
    defaultScreen: terminalsList_screen
  screens: &terminals_screensLink
    terminalsList_screen: &terminalsList_screenLink
      controller: list
      pagination: 
        items: 25
      <<: *Terminals
      class: ui-silk-telephone
      title: _("List of %s %2s", ngettext('Terminal', 'Terminals', 0), "[format| (%parent%)]")
      forcedValues:
        <<: *forcedCompany
      fields:
        blacklist: 
          password: true
          direct_media_method: true
          lastProvisionDate: true
          disallow: true
        options: 
          title: _("Options")
          screens: 
            terminalsEdit_screen: true
          dialogs: 
            terminalsDel_dialog: true
          default: terminalsEdit_screen
        order:
          name: true
          domain: true
          TerminalModelId: true
          mac: true
          allow: true
          lastProvisionDate: true
      options: 
        title: _("Options")
        screens: 
          terminalsNew_screen: true
        dialogs: 
          terminalsDel_dialog: true
          importTerminals_dialog: true
    terminalsNew_screen: &terminalsNew_screenLink 
      <<: *Terminals
      controller: new
      class: ui-silk-add
      label: true
      multiInstance: true
      title: _("Add %s", ngettext('Terminal', 'Terminals', 1))
      scripts:
        module: default
        name: jquery.passwordgennew.js
      plugin: passwordgennew
      forcedValues:
        <<: *forcedCompany
      shortcutOption: N
      fields:
        order:
          name: true
          password: true
          allow: true
          direct_media_method: true
          TerminalModelId: true
          mac: true
          lastProvisionDate: true
        blacklist: 
          disallow: true
          lastProvisionDate: true
          domain: true
      fixedPositions: &TerminalsFixedPositions_link
        group0:
          label: _("Login Info")
          colsPerRow: 12
          fields:
            name: 6
            __empty2: 1
            password: 5
        group1:
          label: _("Connection Info")     
          colsPerRow: 12
          fields:
            allow: 6
            direct_media_method: 5
        group2:
          label: _("Provisioning Info")
          colsPerRow: 12
          fields:
            TerminalModelId: 6
            mac: 6
            lastProvisionDate: 6
    terminalsEdit_screen: &terminalsEdit_screenLink 
      <<: *Terminals
      controller: edit
      class: ui-silk-pencil
      label: false
      title: _("Edit %s %2s", ngettext('Terminal', 'Terminals', 1), "[format| (%item%)]")
      scripts:
        module: default
        name: jquery.passwordgenedit.js
      plugin: passwordgen
      forcedValues:
        <<: *forcedCompany
      fields:
        readOnly: 
          lastProvisionDate: true
        blacklist:
          domain: true
          disallow: true
        order:
          name: true
          password: true
          allow: true
          direct_media_method: true
          TerminalModelId: true
          mac: true
          lastProvisionDate: true
      fixedPositions:
        <<: *TerminalsFixedPositions_link
  dialogs: &terminals_dialogsLink
    terminalsDel_dialog: &terminalsDel_dialogLink 
      <<: *Terminals
      controller: delete
      class: ui-silk-bin
      labelOption: false
      title: _("Delete %s", ngettext('Terminal', 'Terminals', 1))
      description: _("Do you want to delete this %s?", ngettext('Terminal', 'Terminals', 1))
      message: _("%s successfully deleted.", ngettext('Terminal', 'Terminals', 1))
      multiItem: 1
      labelOnList: 1

    importTerminals_dialog:
      <<: *Terminals
      module: default
      title: _("Import %s", ngettext('File', 'Files', 1))
      label: false
      labelOnEdit: true
      labelOnList: true
      labelOnOption: true
      labelOnEntityPostSave: true
      controller: import-file
      action: import
      class:  ui-silk-page-gear
      freeUploadCommand: importTerminalsFreeUpload_command
      delimiter: ";"
      enclosure: '"'
      escape: "\\"
      forcedValues:
        companyId: ${auth.companyId}

  commands:
    importTerminalsFreeUpload_command:
      <<: *Terminals
      controller: File
      action: free-upload
    generatePassword_command:
      <<: *Terminals
      title: "Generate new secure password"
      class: ui-silk-arrow-refresh
      module: default
      controller: Password
      action: generate
staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
