########################################
## Custom models
########################################

Model\ActiveCalls:
  itemOperations:
    get_my_active_calls:
      access_control: '"ROLE_SUPER_ADMIN" in roles && user.hasAccessPrivileges(_api_resource_class, request.getMethod())'
      method: 'GET'
      path: '/my/active_calls'
      route_name: 'get_my_active_calls'
      parameters: []
      swagger_context:
        produces:
        - 'application/json'
        tags:
        - My
        parameters:
        - name: brand
          in: query
          type: integer
          required: false
          description: 'Brand Id'
    get_my_active_calls_realtime_filter:
      access_control: '"ROLE_SUPER_ADMIN" in roles && user.hasAccessPrivileges(_api_resource_class, request.getMethod())'
      method: 'GET'
      path: '/my/active_calls/realtime_filter'
      route_name: 'get_my_active_calls_realtime_filter'
      swagger_context:
        produces:
          - 'application/json'
        tags:
          - My
        parameters:
          - name: b
            in: query
            type: string
            required: false
            description: 'Brand Id'
          - name: c
            in: query
            type: string
            required: false
            description: 'Company Id'
          - name: cr
            in: query
            type: string
            required: false
            description: 'Carrier Id'
          - name: dp
            in: query
            type: string
            required: false
            description: 'DdiProvider Id'
          - name: direction
            in: query
            required: false
            description: 'Direction'
            type: string
            enum:
              - inbound
              - outbound
        responses:
          200:
            description: 'Criteria response'
            schema:
              type: object
              properties:
                criteria:
                  description: 'Criteria'
                  type: string
          400:
            description: 'Domain Exception'
  collectionOperations: []
  attributes:
    order:
      startTime: ASC

Model\Dashboard\DashboardAdmin:
  itemOperations: []
  collectionOperations: []

Model\Dashboard\DashboardBrand:
  itemOperations: []
  collectionOperations: []

Model\Dashboard\Dashboard:
  itemOperations:
    get_my_dasboard:
      access_control: '"ROLE_SUPER_ADMIN" in roles'
      method: 'GET'
      path: '/my/dashboard'
      route_name: 'get_my_dasboard'
      parameters: []
      swagger_context:
        produces:
          - 'application/json'
        tags:
          - My
  collectionOperations: []

Model\Profile:
  itemOperations:
    get_my_profile:
      access_control: '"ROLE_SUPER_ADMIN" in roles'
      depth: 2
      method: 'GET'
      path: '/my/profile'
      route_name: 'get_my_profile'
      swagger_context:
        produces:
          - 'application/json'
        tags:
          - My
        parameters: []
  collectionOperations: []