production: 
  class: \IvozProvider\Model\Faxes
  fields: 
    companyId: 
      title: ngettext('Company', 'Companies', 1)
      type: select
      required: true
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\Companies
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order: name
      default: true
    name:
      title: _('Name')
      type: text
      trim: both
      required: true
      maxLength: 50
      default: true
    email: 
      title: ngettext('Email', 'Emails', 1)
      type: text
      trim: both
      required: true
      maxLength: 255
    sendByEmail: 
      title: _('Send by email')
      type: select
      defaultValue: 1
      source: 
        data: inline
        values: 
          '0': 
            title: _("No")
            visualFilter:
              hide: ["email"]
          '1': 
            title: _("Yes")
            visualFilter:
              show: ["email"]
    outgoingDDIId:
      title: _('Outgoing DDI')
      type: select
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\DDIs
          filterClass: IvozProvider_Klear_Filter_Company          
          fieldName: 
            fields: 
              - DDIE164
            template: '+%DDIE164%'
          order: DDIE164
        'null': _("Company's default")
staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
