#include ../conf.d/codecsHelp.yaml
#include ../conf.d/updateMethodHelp.yaml

production:
  class: \IvozProvider\Model\Friends
  fields:
    companyId:
      title: ngettext('Company', 'Companies', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          mapperName: \IvozProvider\Mapper\Sql\Companies
          fieldName:
            fields:
              - name
            template: '%name%'
          order: name
      default: true
    name:
      title: _('Name')
      type: text
      pattern: "^[a-zA-Z0-9_]+$"
      trim: both
      maxLength: 100
      required: true
      info:
        type: box
        position: left
        icon: help
        text: _("Allowed characters are a-z, A-Z, 0-9 and underscore")
        label: _("Need help?")
    description:
      title: _('Description')
      type: text
      defaultValue:
      maxLength: 500
    transport:
      title: _('Transport')
      type: select
      required: true
      source:
        data: inline
        values:
          'udp': _('UDP')
          'tcp': _('TCP')
          'tls': _('TLS')
    ip:
      title: _('Destination IP address')
      type: text
      pattern: "^[.0-9]+$"
      trim: both
      info:
        type: box
        position: left
        icon: help
        text: _("e.g. 8.8.8.8")
        label: _("Need help?")
    port:
      title: _('Port')
      type: text
      pattern: "^[0-9]+$"
      defaultValue: 5060
    auth_needed:
      title: _('Auth needed')
      type: select
      defaultValue: 'no'
      source:
        data: inline
        values:
          'yes':
            title: _('Yes')
            visualFilter:
              show: ["password"]
              hide: []
          'no':
            title: _('No')
            visualFilter:
              hide: ["password"]
              show: []
    password:
      title: _('Password')
      type: text
      pattern: "^(?=.*[A-Z].*[A-Z].*[A-Z])(?=.*[+*_-])(?=.*[0-9].*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{10,}$"
      required: true
      info:
        type: box
        position: left
        icon: help
        text: _("Minimal length 10, including 3 uppercase letters, 3 lowercase letters, 3 digits and one character in '+*_-'")
        label: _("Need help?")
      options:
        commands:
          generatePassword_command: true
    callACLId:
      title: _('Call ACL')
      type: select
      source:
        data: mapper
        config:
          mapperName: \IvozProvider\Mapper\Sql\CallACL
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order: name
        'null': _("Allow all outgoing calls")
    countryId:
      title: _('Country code')
      type: select
      source:
        data: mapper
        config:
          mapperName: \IvozProvider\Mapper\Sql\Countries
          fieldName:
            fields:
              - name
              - calling_code
            template: '%name% (+%calling_code%)'
          order: name_${lang}
        'null': _("Company's default")
      info:
        type: box
        position: left
        icon: help
        text: _("Outgoing calls coming from Friend must have this country format")
        label: _("Need help?")
    areaCode:
      title: _('Area code')
      type: text
      maxLength: 10
      info:
        type: box
        position: left
        icon: help
        text: _("Outgoing calls coming from Friend must have this area code format")
        label: _("Need help?")
    outgoingDDIId:
      title: _('Fallback Outgoing DDI')
      type: select
      source:
        data: mapper
        config:
          mapperName: \IvozProvider\Mapper\Sql\DDIs
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - DDIE164
            template: '+%DDIE164%'
          order: DDIE164
        'null': _("Company's default")
      info:
        type: box
        position: left
        icon: help
        text: _("This DDI will be used if friend presented DDI doesn't match any of the company DDIs")
        label: _("Need help?")
    priority:
      title: _('Priority')
      type: number
      defaultValue: 1
      source:
        control: Spinner
    disallow:
      title: _('Disallowed audio codecs')
      type: text
      trim: both
      defaultValue: all
      maxLength: 100
      <<: *codecsHelp
    allow:
      title: _('Allowed audio codecs')
      type: select
      trim: both
      defaultValue: alaw
      maxLength: 100
      source:
        data: inline
        values:
            'alaw': 'alaw - G.711 a-law'
            'ulaw': 'ulaw - G.711 u-law'
            'gsm': 'gsm - GSM'
            'speex': 'speex - SpeeX 32khz'
            'g722': 'g722 - G.722'
            'g726': 'g726 - G.726 RFC3551'
            'g729': 'g729 - G.729A'
            'ilbc': 'ilbc - iLBC'
            'opus': 'opus - Opus codec'
    direct_media_method:
      title: _('CallerID update method')
      type: select
      defaultValue: update
      source:
        data: inline
        values:
          'invite': 'invite'
          'update': 'update'
      <<: *updateMethodHelp
    callerid_update_header:
      title: _('CallerID update header')
      type: select
      defaultValue: pai
      source:
        data: inline
        values:
          'pai': 'P-Asserted-Identity (PAI)'
          'rpid': 'Remote-Party-ID (RPID)'
    update_callerid:
      title: _('Update CallerID?')
      type: select
      defaultValue: yes
      source:
        data: inline
        values:
          'yes':
            title: _('Yes')
            visualFilter:
              show: ["direct_media_method", "callerid_update_header"]
              hide: []
          'no':
            title: _('No')
            visualFilter:
              hide: ["direct_media_method", "callerid_update_header"]
              show: []
    from_domain:
      title: _('From domain')
      type: text
      maxLength: 190
    directConnectivity:
      title: _('Direct connectivity')
      type: select
      defaultValue: yes
      source:
        data: inline
        values:
          'yes':
            title: _('Yes')
            visualFilter:
              show: ["ip", "port", "transport", "auth_needed"]
              hide: []
          'no':
            title: _('No')
            visualFilter:
              hide: ["ip", "port", "transport", "auth_needed"]
              show: ["password"]
    languageId:
      title: _('Language')
      type: select
      source:
        data: mapper
        config:
          mapperName: \IvozProvider\Mapper\Sql\Languages
          fieldName:
            fields:
              - name
            template: '%name%'
          order: name
        'null': _("Company's default")
    status:
      title: _('Status')
      type: ghost
      dirty: true
      source:
        class: IvozProvider_Klear_Ghost_RegisterStatus
        method: getFriendStatus
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
