production: 
  class: \IvozProvider\Model\LcrRuleTarget
  fields: 
    brandId: 
      title: _('Brand id')
      type: select
      required: true
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\Brands
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order: name
      default: true
    rule_id: 
      title: _('Rule id')
      type: select
      required: true
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\LcrRules
          fieldName: 
            fields: 
              - prefix
            template: '%prefix%'
          order: prefix
    gw_id: 
      title: _('Gw id')
      type: number
      required: true
      source: 
        control: Spinner
    priority: 
      title: _('Priority')
      type: number
      required: true
      source: 
        control: Spinner
    weight: 
      title: _('Weight')
      type: number
      defaultValue: 1
      source: 
        control: Spinner
staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
