production: 
  class: \IvozProvider\Model\OutgoingRouting
  fields: 
    type: 
      title: ngettext('Type', 'Types', 1)
      type: select
      defaultValue: pattern
      source: 
        data: inline
        values: 
          'pattern':
            title: _('Pattern')
            visualFilter:
              show: ["routingPatternId"]
              hide: ["routingPatternGroupId"]
          'group':
            title: _('Group')
            visualFilter:
              show: ["routingPatternGroupId" ]
              hide: ["routingPatternId"]
          'fax':
            title: _('Fax')
            visualFilter:
              hide: ["routingPatternId","routingPatternGroupId"]
      default: true
    routingPatternId: 
      title: _('Select destination pattern')
      type: select
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\RoutingPatterns
          filterClass: IvozProvider_Klear_Filter_Brand
          fieldName: 
            fields: 
              - name
              - description
              - regExp
            template: '%name% %description% (%regExp%)'
          order: name_es
    routingPatternGroupId: 
      title: _('Select destination group')
      type: select
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\RoutingPatternGroups
          filterClass: IvozProvider_Klear_Filter_Brand
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order: name
    peeringContractId: 
      title: _('Peering contract')
      type: select
      required: true
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\PeeringContracts
          filterClass: IvozProvider_Klear_Filter_Brand
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order: name
    priority: 
      title: _('Priority')
      type: number
      required: true
      source: 
        control: Spinner
        min: 1
        max: 254
    weight: 
      title: _('Weight')
      type: number
      required: true
      defaultValue: 1
      source: 
        control: Spinner
        min: 1
        max: 254
    companyId: 
      title: _('Company')
      type: select
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\Companies
          filterClass: IvozProvider_Klear_Filter_Brand
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order: name
        'null': _("Apply to all companies")
    target:
      title: _('Destino')
      type: ghost
      source:
        class: IvozProvider_Klear_Ghost_OutgoingRouteType
        method: getData

staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
