production: 
  class: \IvozProvider\Model\PeeringContracts
  fields: 
    name: 
      title: ngettext('Name', 'Names', 1)
      type: text
      trim: both
      required: true
      default: true 
    description: 
      title: ngettext('Description', 'Descriptions', 1)
      type: text
      trim: both
      defaultValue:
    brandId: 
      title: _('Brand')
      type: select
      required: true
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\Brands
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order: name
    transformationRulesetGroupsTrunksId: 
      title: _('Transformation ruleset groups trunks')
      type: select
      source: 
        data: mapper
        'null': _("Unasigned")
        config: 
          mapperName: \IvozProvider\Mapper\Sql\TransformationRulesetGroupsTrunks
          filterClass: IvozProvider_Klear_Filter_Brand
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order: name
      options:
        screens:
          transformationRulesetGroupsTrunksList_screen: false
    externallyRated:
      title: _('Externally rated')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("No")
          '1':
            title: _("Yes")
staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
