production: 
  class: \IvozProvider\Model\ProxyTrunks
  fields: 
    name: 
      title: ngettext('Name', 'Names', 1)
      type: text
      trim: both
      maxLength: 100
      default: true
    ip: 
      title: _('Ip')
      type: text
      trim: both
      required: true
      maxLength: 100
staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
