<div class="row">

    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="calldate"></strong>: <p>{{ngDialogData.startTime}}</p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="interlocutor"></strong>: <p>{{ngDialogData.interlocutor}}</p>
        </div>
    </div>

    <div class="col-md-12">
       <div class="col-md-6">
            <strong translate="duration"></strong>: <p>{{getDuration(ngDialogData.duration)}}</p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="type"></strong>: <p>{{ngDialogData.direction | translate }}</p>
        </div>
    </div>

</div>
