<br />
<form class="form form-horizontal well" id="formSearchCalls" name="form" ng-submit="search()" role="form" >

    <div class="col-md-12 text-right">
        <i class="fa fa-search-minus pointer" ng-click="showForm()"></i>
    </div>
    
    <div class="col-md-12">
        <div class="form-group col-md-6">
            <datepicker 
                date-format="dd-MM-yyyy"
                date-max-limit="{{dateNow}}"
                button-prev="<i class='fa fa-arrow-left'></i>" 
                button-next="<i class='fa fa-arrow-right'></i>" 
                >
                <input type="text" name="startTime" class="form-control empty" ng-model="formData.startTime" placeholder="{{'calldate' | translate}}" />
            </datepicker>
        </div>
        
        <div class="form-group col-md-6">
            <select
                type="text"
                name="direction"
                class="form-control empty"
                ng-model="formData.direction"
                placeholder="{{'type' | translate}}"
            >
                <option value="inbound">{{ 'inbound' | translate }}</option>
                <option value="outbound">{{ 'outbound' | translate }}</option>
            </select>
        </div>
    </div>
    
    <div class="col-md-12">
        
        <!--<div class="form-group col-md-6">-->
            <!--<input-->
                    <!--type="text"-->
                    <!--name="interlocutor"-->
                    <!--class="form-control empty"-->
                    <!--ng-model="formData.interlocutor"-->
                    <!--placeholder="{{'interlocutor' | translate}}" />-->
        <!--</div>-->

        <div class="form-group col-md-6">
            <input type="number" name="duration" class="form-control empty" ng-model="formData.duration" placeholder="{{'duration' | translate}}" />
        </div>
        
    </div>

    <div class="form-actions text-right">
    
        <button type="submit" class="btn btn-info">
            <i class="fa fa-search"></i> {{'search' | translate}}
        </button>
        
        <span class="btn btn-danger" ng-click="reset()">
            <i class="fa fa-trash-o"></i> {{'clear' | translate}}
        </span>
    
    </div>
    
</form>