<div class="ui-widget-content ui-corner-all assistant">
    <span class=" ui-silk ui-silk-help fieldInfo-boxinfo fieldInfo-position-left " data-title=""></span>
    <a href="/doc/en/administration_portal/platform/active_calls.html" target="_blank" class="info-link">
        ${translations.checkDocumentation}
    </a>
</div>

<div class="ui-widget-content ui-corner-all klearMatrixFiltering">
    {{html filterForm}}
</div>

<table class="kMatrix rtbase rtHeader">
    <caption class="ui-state-active ui-priority-primary">
        ${$.translate(translations.listOf, translations.activeCalls)}
        <span class="extraCaptionInfo"> ${translations.total}: <strong id="callNum">0</strong> ${translations.calls} </span>
    </caption>
    <thead>
        <tr>
            <th class="ui-widget-header context" style="width: 150px;">${translations.duration}</th>
            <th class="ui-widget-header brand">${translations.brand}</th>
            <th class="ui-widget-header company">${translations.client}</th>
            <th class="ui-widget-header caller" style="width: 150px;">${translations.caller}</th>
            <th class="ui-widget-header callee" style="width: 150px;">${translations.callee}</th>
            <th class="ui-widget-header operator">${translations.carrier}</th>
            <th class="ui-widget-header options">${translations.options}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="RtTmpl">
            <td class="ui-widget-content context">
                <span class="direction"></span>
                <span class="event"></span>
                <span class="time"></span>
            </td>
            <td class="ui-widget-content brand"></td>
            <td class="ui-widget-content company"></td>
            <td class="ui-widget-content caller"></td>
            <td class="ui-widget-content callee"></td>
            <td class="ui-widget-content operator"></td>
            <td class="ui-widget-content options">
                <span title="${translations.copyCallId}" class="copyCallId ui-silk inline ui-silk-page-copy"></span>
            </td>
        </tr>
        <tr class="feedback error">
            <td class="ui-widget-content" colspan="7">Error: socket closed...</td>
        </tr>
        <tr class="feedback connecting">
            <td class="ui-widget-content" colspan="7">${translations.connecting}...</td>
        </tr>
        <tr class="feedback loading">
            <td class="ui-widget-content" colspan="7">${translations.loading}...</td>
        </tr>
        <tr class="feedback none">
            <td class="ui-widget-content" colspan="7">
                <span class="ui-silk inline ui-silk-sleep"></span>${translations.noCalls}.
            </td>
        </tr>
    </tbody>
</table>
