Source: oasis-app-agi
Section: php
Priority: optional
Build-Depends: debhelper
Standards-Version: 3.9.6
Maintainer: Irontec OASIS Team <oasis@irontec.com>

Package: oasis-app-agi
Architecture: all
Section: php
Priority: optional
Depends: zendframework, oasis-data-library
Homepage: http://www.irontec.com
Description: OASIS - Asterik Gateway Interface Zend Application
 .

