production:
  class: \IvozProvider\Model\BrandOperators
  entity: \Ivoz\Provider\Domain\Model\BrandOperator\BrandOperator
  fields: 
    brandId:
      title: ngettext('Brand', 'Brands', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Brands
          entity: \Ivoz\Provider\Domain\Model\Brand\Brand
          fieldName:
            fields: 
              - name
            template: '%name%'
          order:
            Brand.name: asc
    username:
      title: _('Username')
      type: text
      trim: both
      required: true
      default: true
      maxLength: 65
    pass:
      title: _('Password')
      type: password
      required: true
      adapter: Blowfish
    email:
      title: _('Email')
      type: text
      trim: both
      defaultValue:
      maxLength: 100
    active:
      title: _('Active')
      type: select
      defaultValue: 1
      source:
        data: inline
        values:
          '0':
            title: _("No")
          '1':
            title: _("Yes")
    timezoneId:
      title: _('Timezone')
      type: select
      defaultValue: 145
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Timezones
          entity: \Ivoz\Provider\Domain\Model\Timezone\Timezone
          fieldName:
            fields: 
              - tz
            template: '%tz%'
          order:
            Timezone.tz: asc
    name:
      title: _('Name')
      type: text
      trim: both
    lastname:
      title: _('Lastname')
      type: text
      trim: both
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
