production:
  entity: Ivoz\Provider\Domain\Model\Carrier\Carrier
  fields:
    name:
      title: _('Name')
      type: text
      trim: both
      required: true
      default: true
    description:
      title: _('Description')
      type: text
      trim: both
      defaultValue:
    brand:
      title: ngettext('Brand', 'Brands', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Brand\Brand
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Brand.name: asc
    transformationRuleSet:
      title: _('Numeric transformation')
      type: select
      defaultValue: 252
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\TransformationRuleSet\TransformationRuleSet
          filterClass: IvozProvider_Klear_Filter_TransformationRuleSets
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            TransformationRuleSet.name.${lang}: asc
    externallyRated:
      title: _('Externally rated')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("No")
            visualFilter:
              show: [balance]
              hide: []
          '1':
            title: _("Yes")
            visualFilter:
              show: []
              hide: [balance]
    balance:
      title: _('Balance')
      type: text
      readonly: true
    acd:
      title: _('ACD')
      type: ghost
      dirty: true
      source:
        class: IvozProvider_Klear_Ghost_Carriers
        method: getAcd
      info:
        type: box
        position: left
        icon: help
        text: _("Average Call Duration: <a href='%s' target='_blank' >more info</a>", _("https://en.wikipedia.org/wiki/Average_call_duration"))
        label: _("Need help?")
    asr:
      title: _('ASR')
      type: ghost
      dirty: true
      source:
        class: IvozProvider_Klear_Ghost_Carriers
        method: getAsr
      info:
        type: box
        position: left
        icon: help
        text: _("Answer-Seizure Ratio: <a href='%s' target='_blank' >more info</a>", _("https://en.wikipedia.org/wiki/Answer-seizure_ratio"))
        label: _("Need help?")
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
