#include ../conf.d/recordingHelp.yaml

production:
  entity: \Ivoz\Provider\Domain\Model\Company\Company
  fields:
    id:
      title: ngettext('Id', 'Ids', 1)
      required: false
      readonly: true
    brand:
      title: ngettext('Brand', 'Brands', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Brand\Brand
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Brand.name: asc
    name:
      title: _("Name")
      type: text
      trim: both
      required: true
      default: true
    domainUsers:
      title: _('SIP domain')
      type: text
      trim: both
      maxLength: 190
      required: true
    nif:
      title: _('Nif')
      type: text
      trim: both
      required: true
    defaultTimezone:
      title: _('Default timezone')
      type: select
      defaultValue: 145
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Timezone\Timezone
          fieldName:
            fields:
              - tz
            template: '%tz%'
          order:
            Timezone.tz: asc
    currency:
      title: ngettext('Currency', 'Currencies', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Currency\Currency
          fieldName:
            fields:
              - name${lang}
              - symbol
            template: '%name${lang}% (%symbol%)'
        'null': _("Default currency")
    distributeMethod:
      title: _('Distribute method')
      type: select
      defaultValue: hash
      source:
        data: inline
        values:
          'static':
            title: _("Static")
            visualFilter:
              show: ["applicationServer"]
              hide: []
          'rr':
            title: _("Round Robin")
            visualFilter:
              show: []
              hide: ["applicationServer"]
          'hash':
            title: _("Hash based")
            visualFilter:
              show: []
              hide: ["applicationServer"]
    applicationServer:
      title: ngettext('Application Server', 'Application Servers', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\ApplicationServer\ApplicationServer
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ApplicationServer.name: asc
        'null': _("Unassigned")
    maxCalls:
      title: _('Max calls')
      type: number
      defaultValue: 10
      source:
        control: Spinner
        min: 0
      info:
        type: box
        position: left
        icon: help
        text: _("Limits external incoming and outgoing calls to this value (0 for unlimited).")
        label: _("Need help?")
    postalAddress:
      title: _('Postal address')
      type: text
      trim: both
      required: true
      maxLength: 255
    postalCode:
      title: ngettext('Postal code', 'Postal codes', 1)
      type: text
      trim: both
      required: true
      maxLength: 10
    town:
      title: _('Town')
      type: text
      trim: both
      required: true
      maxLength: 255
    province:
      title: ngettext('Province', 'Provinces', 1)
      type: text
      trim: both
      required: true
      maxLength: 255
    countryName:
      title: ngettext('Country', 'Countries', 1)
      type: text
      trim: both
      required: true
      maxLength: 255
    country:
      title: _('Country code')
      type: select
      defaultValue: 70
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Country\Country
          fieldName:
            fields:
              - name${lang}
              - countryCode
            template: '%name${lang}% (%countryCode%)'
          order:
            Country.name.${lang}: asc
    transformationRuleSet:
      title: ngettext('Numeric transformation', 'Numeric transformations', 1)
      type: select
      required: true
      defaultValue: 70
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\TransformationRuleSet\TransformationRuleSet
          filterClass: IvozProvider_Klear_Filter_TransformationRuleSets
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            TransformationRuleSet.name.${lang}: asc
    outgoingDDI:
      title: _('Outgoing DDI')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Ddi\Ddi
          filterClass: IvozProvider_Klear_Filter_OutgoingDDI
          fieldName:
            fields:
              - ddie164
            template: '%ddie164%'
          order:
            Ddi.ddie164: asc
        'null': _("Unassigned")
    outgoingDdiRule:
      title: ngettext('Outgoing DDI Rule', 'Outgoing DDI Rules', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\OutgoingDdiRule\OutgoingDdiRule
          filterClass: IvozProvider_Klear_Filter_OutgoingDDIRules
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            OutgoingDdiRule.name: asc
        'null': _("Unassigned")
      info:
        type: box
        position: left
        icon: help
        text: _("Default outgoing DDI. This can be overriden in caller's edit screen.")
        label: _("Need help?")
    language:
      title: _('Language')
      type: select
      defaultValue: 1
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Language\Language
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            Language.name.${lang}: asc
    mediaRelaySets:
      title: _('Media relay Set')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\MediaRelaySet\MediaRelaySet
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            MediaRelaySet.name: asc
    ipFilter:
      title: _('Filter by IP address')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("No")
          '1':
            title: _("Yes")
      info:
        type: box
        position: left
        icon: help
        text: _("Add IPs or network if enabled. Otherwise all calls will be rejected.")
        label: _("Need help?")
    onDemandRecord:
      title: _('On-demand call recording')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("Disabled")
            visualFilter:
              show: []
              hide: ["onDemandRecordCode"]
          '1':
            title: _("Using INFO")
            visualFilter:
              show: []
              hide: ["onDemandRecordCode"]
          '2':
            title: _("Using DTMFs (read WARNING)")
            visualFilter:
              show: ["onDemandRecordCode"]
              hide: []
      <<: *recordingHelp
    onDemandRecordCode:
      title: _('Code')
      type: text
      trim: both
      required: true
      maxLength: 3
      prefix: '<span class="asterisc">*</span>'
      pattern: '[0-9*]+'
    externallyExtraOpts:
      title: _('Externally rater custom options')
      type: textarea
    recordingsLimitMB:
      title: _("Max disk usage (in MB)")
      type: number
      nullIfEmpty: true
      source:
        control: Spinner
        min: 0
      info:
        type: box
        position: left
        icon: help
        text: _("Max disk usage in megabytes this company can use. When limit has been reached, oldest recordings will be removed. Leave empty to allow unlimited disk usage.")
        label: _("Need help?")
    recordingsDiskUsage:
      title: _('Disk usage')
      type: ghost
      source:
        class: IvozProvider_Klear_Ghost_Recordings
        method: getCompanyDiskUsage
    recordingsLimitEmail:
      title: _('Disk usage notification email')
      type: text
      maxLength: 250
      info:
        type: box
        position: left
        icon: help
        text: _("Email address that will be notified when 80% of the configured limit has been reached.")
        label: _("Need help?")
    relFeatures:
      title: _('Features')
      type: multiselect
      source:
        data: mapper
        config:
          extraDataAttributes:
            feature: id
          relation: \Ivoz\Provider\Domain\Model\FeaturesRelCompany\FeaturesRelCompany
          relationProperty: company
          relatedProperty: feature
          related: \Ivoz\Provider\Domain\Model\Feature\Feature
          filterClass: IvozProvider_Klear_Filter_Features
          relatedFieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          visualFilter:
            iden:
              recordings:
                toggle:
                  - recordingsLimitMB
                  - recordingsDiskUsage
                  - recordingsLimitEmail
                  - onDemandRecord
              faxes:
                toggle:
                  - faxNotificationTemplate
          order: name
    voicemailNotificationTemplate:
      title: ngettext('Voicemail Notification', 'Voicemail Notifications', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\NotificationTemplate\NotificationTemplate
          filterClass: IvozProvider_Klear_Filter_NotificationTemplateVoicemail
          fieldName:
            fields:
              - name
            template: '%name%'
        'null': _("Use generic template")
    faxNotificationTemplate:
      title: ngettext('Fax Notification', 'Fax Notifications', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\NotificationTemplate\NotificationTemplate
          filterClass: IvozProvider_Klear_Filter_NotificationTemplateFax
          fieldName:
            fields:
              - name
            template: '%name%'
        'null': _("Use generic template")
    invoiceNotificationTemplate:
      title: ngettext('Invoice Notification', 'Invoice Notifications', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\NotificationTemplate\NotificationTemplate
          filterClass: IvozProvider_Klear_Filter_NotificationTemplateInvoice
          fieldName:
            fields:
              - name
            template: '%name%'
        'null': _("Use generic template")
    callCsvNotificationTemplate:
      title: ngettext('Call CSV Notification', 'Call CSV Notifications', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\NotificationTemplate\NotificationTemplate
          filterClass: IvozProvider_Klear_Filter_NotificationTemplateCallCsv
          fieldName:
            fields:
            - name
            template: '%name%'
        'null': _("Use generic template")
    billingMethod:
      title: _('Billing method')
      type: select
      defaultValue: postpaid
      source:
        data: inline
        values:
          'postpaid':
            title: _("Postpaid")
          'prepaid':
            title: _("Prepaid")
          'pseudoprepaid':
            title: _("Pseudo-prepaid")
    balance:
      title: _('Balance')
      type: ghost
      readonly: true
      source:
        class: IvozProvider_Klear_Ghost_Companies
        method: getBalance
    typeIcon:
      title: _('Type')
      type: ghost
      dirty: true
      source:
        class: IvozProvider_Klear_Ghost_Companies
        method: getTypeIcon
    showInvoices:
      title: _('Display Client Invoices section')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("No")
          '1':
            title: _("Yes")
      info:
        type: box
        position: left
        icon: help
        text: _("Enable this option to display a section in Client's portal to download generated invoices.")
        label: _("Need help?")
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
