production:
  entity: \Ivoz\Provider\Domain\Model\CompanyService\CompanyService
  fields: 
    service:
      title: ngettext('Service', 'Services', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Service\Service
          filterClass: IvozProvider_Klear_Filter_CompanyServices
          fieldName: 
            fields: 
              - name${lang}
            template: '%name${lang}%'
          order:
            Service.name.${lang}: asc
      default: true
    company:
      title: ngettext('Client', 'Clients', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Company\Company
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order:
            Company.name: asc
    code:
      title: _('Code')
      type: text
      trim: both
      required: true
      maxLength: 6
      prefix: '<span class="asterisc">*</span>'
      pattern: '[#0-9*]+'
      info:
        type: box
        position: left
        icon: help
        text: _("Allowed characters are 0-9, * and #")
        label: _("Need help?")
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
