production:
  class: \IvozProvider\Model\ConditionalRoutesConditions
  entity: \Ivoz\Provider\Domain\Model\ConditionalRoutesCondition\ConditionalRoutesCondition
  fields:
    conditionalRouteId:
      title: _('Conditional Route')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\ConditionalRoute\ConditionalRoute
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ConditionalRoute.name: asc
      default: true
    priority:
      title: _('Priority')
      type: number
      defaultValue: 1
      minValue: 0
      maxValue: 100
      source:
        control: Spinner
    matchlists:
      title: _('Origin')
      type: multiselect
      source:
        data: mapper
        config:
          relation: \Ivoz\Provider\Domain\Model\ConditionalRoutesConditionsRelMatchlist\ConditionalRoutesConditionsRelMatchlist
          relationProperty: matchlist
          relatedProperty: matchlist
          related: \Ivoz\Provider\Domain\Model\MatchList\MatchList
          relatedFieldName: name
          filterClass: IvozProvider_Klear_Filter_Company
    schedules:
      title: ngettext('Schedule', 'Schedules', 0)
      type: multiselect
      source:
        data: mapper
        config:
          relation: \Ivoz\Provider\Domain\Model\ConditionalRoutesConditionsRelSchedule\ConditionalRoutesConditionsRelSchedule
          relationProperty: schedule
          relatedProperty: schedule
          related: \Ivoz\Provider\Domain\Model\Schedule\Schedule
          relatedFieldName: name
          filterClass: IvozProvider_Klear_Filter_Company
    calendars:
      title: ngettext('Calendar', 'Calendars', 0)
      type: multiselect
      source:
        data: mapper
        config:
          relation: \Ivoz\Provider\Domain\Model\ConditionalRoutesConditionsRelCalendar\ConditionalRoutesConditionsRelCalendar
          relationProperty: Calendar
          relationProperty: calendar
          related: \Ivoz\Provider\Domain\Model\Calendar\Calendar
          relatedFieldName: name
          filterClass: IvozProvider_Klear_Filter_Company
    ConditionMatch:
      title: _('Match')
      type: ghost
      source:
        class: IvozProvider_Klear_Ghost_ConditionalRoutes
        method: getMatchData
    locutionId:
      title: ngettext('Locution', 'Locutions', 1)
      type: select
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\Locution\Locution
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Locution.name: asc
        'null': _("Unassigned")
    routeType:
      title: _('Route type')
      type: select
      source:
        data: inline
        filterClass: IvozProvider_Klear_Filter_RouteTypes
        values:
          '__null__':
            title: _("Unassigned")
            visualFilter:
              show: [ ]
              hide: &routableFields
                - numberCountryId
                - numberValue
                - ivrId
                - userId
                - huntGroupId
                - voiceMailUserId
                - friendValue
                - queueId
                - conferenceRoomId
                - extensionId
          'user':
            title: ngettext('User', 'Users', 1)
            visualFilter:
              show: [ userId ]
              hide:
                <<: *routableFields
          'ivrId':
            title: ngettext('IVR Custom', 'IVRs Custom', 1)
            visualFilter:
              show: [ ivrId ]
              hide:
                <<: *routableFields
          'huntGroup':
            title: ngettext('Hunt Group', 'Hunt Groups', 1)
            visualFilter:
              show: [ huntGroupId ]
              hide:
                <<: *routableFields
          'voicemail':
            title: ngettext('Voicemail', 'Voicemails', 1)
            visualFilter:
              show: [ voiceMailUserId ]
              hide:
                <<: *routableFields
          'number':
            title: _('Number')
            visualFilter:
              show: [ numberCountryId, numberValue ]
              hide:
                <<: *routableFields
          'friend':
            title: ngettext('Friend', 'Friends', 1)
            visualFilter:
              show: [ friendValue ]
              hide:
                <<: *routableFields
          'queue':
            title: ngettext('Queue', 'Queues', 1)
            visualFilter:
              show: [ queueId ]
              hide:
                <<: *routableFields
          'conferenceRoom':
            title: ngettext('Conference room', 'Conference rooms', 1)
            visualFilter:
              show: [ conferenceRoomId ]
              hide:
                <<: *routableFields
          'extension':
            title: _('Extension')
            visualFilter:
              show: [ extensionId ]
              hide:
                <<: *routableFields
    ivrId:
      title: ngettext('IVR', 'IVRs', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\Ivr\Ivr
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Ivr.name: asc
        'null': _("Unassigned")
    huntGroupId:
      title: ngettext('Hunt Group', 'Hunt Groups', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\HuntGroup\HuntGroup
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            HuntGroup.name: asc
        'null': _("Unassigned")
    voiceMailUserId:
      title: ngettext('Voicemail', 'Voicemails', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\User\User
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields: [ name, lastname ]
            template: '%name% %lastname%'
          order:
            User.name: asc
        'null': _("Unassigned")
    userId:
      title: _('User')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\User\User
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields: [ name, lastname ]
            template: '%name% %lastname%'
          order:
            User.name: asc
        'null': _("Unassigned")
    numberCountryId:
      title: _('Country')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Country\Country
          fieldName:
            fields:
              - name${lang}
              - countryCode
            template: '%name${lang}% (%countryCode%)'
          order:
            Country.name.${lang}: asc
    numberValue:
      title: _('Number')
      type: text
      required: true
      maxLength: 25
    friendValue:
      title: _('Friend value')
      type: text
      required: true
      maxLength: 25
    queueId:
      title: ngettext('Queue', 'Queues', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\Queue\Queue
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Queue.name: asc
        'null': _("Unassigned")
    conferenceRoomId:
      title: ngettext('Conference room', 'Conference rooms', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\ConferenceRoom\ConferenceRoom
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ConferenceRoom.name: asc
        'null': _("Unassigned")
    extensionId:
      title: _('Extension')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\Extension\Extension
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - number
            template: '%number%'
          order:
            Extension.number: asc
        'null': _("Unassigned")
    target:
      title: _('Target')
      type: ghost
      source:
        class: IvozProvider_Klear_Ghost_RouteTarget
        method: getTarget

staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
