production:
  entity: \Ivoz\Provider\Domain\Model\ConditionalRoutesCondition\ConditionalRoutesCondition
  fields:
    conditionalRoute:
      title: _('Conditional Route')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\ConditionalRoute\ConditionalRoute
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ConditionalRoute.name: asc
      default: true
    priority:
      title: _('Priority')
      type: number
      defaultValue: 1
      minValue: 0
      maxValue: 100
      source:
        control: Spinner
    relMatchlists:
      title: _('Origin')
      type: multiselect
      source:
        data: mapper
        config:
          relation: \Ivoz\Provider\Domain\Model\ConditionalRoutesConditionsRelMatchlist\ConditionalRoutesConditionsRelMatchlist
          relationProperty: condition
          relatedProperty: matchlist
          related: \Ivoz\Provider\Domain\Model\MatchList\MatchList
          relatedFieldName: name
          filterClass: IvozProvider_Klear_Filter_MatchList
      info:
        type: box
        position: left
        icon: help
        text: _("If caller matches any selected matchlist, this criteria is considered fulfilled.")
        label: _("Need help?")
    relSchedules:
      title: ngettext('Schedule', 'Schedules', 0)
      type: multiselect
      source:
        data: mapper
        config:
          relation: \Ivoz\Provider\Domain\Model\ConditionalRoutesConditionsRelSchedule\ConditionalRoutesConditionsRelSchedule
          relationProperty: condition
          relatedProperty: schedule
          related: \Ivoz\Provider\Domain\Model\Schedule\Schedule
          relatedFieldName: name
          filterClass: IvozProvider_Klear_Filter_Company
      info:
        type: box
        position: left
        icon: help
        text: _("If calling time is included in any selected schedules, this criteria is considered fulfilled.")
        label: _("Need help?")
    relCalendars:
      title: ngettext('Calendar', 'Calendars', 0)
      type: multiselect
      source:
        data: mapper
        config:
          relation: \Ivoz\Provider\Domain\Model\ConditionalRoutesConditionsRelCalendar\ConditionalRoutesConditionsRelCalendar
          relationProperty: condition
          relatedProperty: calendar
          related: \Ivoz\Provider\Domain\Model\Calendar\Calendar
          relatedFieldName: name
          filterClass: IvozProvider_Klear_Filter_Company
      info:
        type: box
        position: left
        icon: help
        text: _("If calling date is marked as holiday in any selected calendar, this criteria is considered fulfilled. Calendar periods are not taken into account.")
        label: _("Need help?")
    relRouteLocks:
      title: ngettext('Route Lock', 'Route Locks', 0)
      type: multiselect
      source:
        data: mapper
        config:
          relation: \Ivoz\Provider\Domain\Model\ConditionalRoutesConditionsRelRouteLock\ConditionalRoutesConditionsRelRouteLock
          relationProperty: condition
          relatedProperty: routeLock
          related: \Ivoz\Provider\Domain\Model\RouteLock\RouteLock
          relatedFieldName: name
          filterClass: IvozProvider_Klear_Filter_Company
      info:
        type: box
        position: left
        icon: help
        text: _("If one of selected route locks is open, this criteria is considered fulfilled.")
        label: _("Need help?")
    ConditionMatch:
      title: _('Match')
      type: ghost
      source:
        class: IvozProvider_Klear_Ghost_ConditionalRoutes
        method: getMatchData
    locution:
      title: ngettext('Locution', 'Locutions', 1)
      type: select
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\Locution\Locution
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Locution.name: asc
        'null': _("Unassigned")
    routeType:
      title: _('Route type')
      type: select
      source:
        data: inline
        filterClass: IvozProvider_Klear_Filter_RouteTypes
        values:
          '__null__':
            title: _("Unassigned")
            visualFilter:
              show: [ ]
              hide: &routableFields
                - numberCountry
                - numberValue
                - ivr
                - user
                - huntGroup
                - voicemail
                - friendValue
                - queue
                - conferenceRoom
                - extension
          'user':
            title: ngettext('User', 'Users', 1)
            visualFilter:
              show: [ user ]
              hide:
                <<: *routableFields
          'ivr':
            title: ngettext('IVR', 'IVRs', 1)
            visualFilter:
              show: [ ivr ]
              hide:
                <<: *routableFields
          'huntGroup':
            title: ngettext('Hunt Group', 'Hunt Groups', 1)
            visualFilter:
              show: [ huntGroup ]
              hide:
                <<: *routableFields
          'voicemail':
            title: ngettext('Voicemail', 'Voicemails', 1)
            visualFilter:
              show: [ voicemail ]
              hide:
                <<: *routableFields
          'number':
            title: _('Number')
            visualFilter:
              show: [ numberCountry, numberValue ]
              hide:
                <<: *routableFields
          'friend':
            title: ngettext('Friend', 'Friends', 1)
            visualFilter:
              show: [ friendValue ]
              hide:
                <<: *routableFields
          'queue':
            title: ngettext('Queue', 'Queues', 1)
            visualFilter:
              show: [ queue ]
              hide:
                <<: *routableFields
          'conferenceRoom':
            title: ngettext('Conference room', 'Conference rooms', 1)
            visualFilter:
              show: [ conferenceRoom ]
              hide:
                <<: *routableFields
          'extension':
            title: _('Extension')
            visualFilter:
              show: [ extension ]
              hide:
                <<: *routableFields
    ivr:
      title: ngettext('IVR', 'IVRs', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\Ivr\Ivr
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Ivr.name: asc
        'null': _("Unassigned")
    huntGroup:
      title: ngettext('Hunt Group', 'Hunt Groups', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\HuntGroup\HuntGroup
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            HuntGroup.name: asc
        'null': _("Unassigned")
    voicemail:
      title: ngettext('Voicemail', 'Voicemails', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Voicemail\Voicemail
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Voicemail.name: asc
        'null': _("Unassigned")
    user:
      title: _('User')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\User\User
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields: [ name, lastname ]
            template: '%name% %lastname%'
          order:
            User.name: asc
        'null': _("Unassigned")
    numberCountry:
      title: _('Country')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Country\Country
          fieldName:
            fields:
              - name${lang}
              - countryCode
            template: '%name${lang}% (%countryCode%)'
          order:
            Country.name.${lang}: asc
    numberValue:
      title: _('Number')
      type: text
      required: true
      maxLength: 25
    friendValue:
      title: _('Friend value')
      type: text
      required: true
      maxLength: 25
    queue:
      title: ngettext('Queue', 'Queues', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\Queue\Queue
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Queue.name: asc
        'null': _("Unassigned")
    conferenceRoom:
      title: ngettext('Conference room', 'Conference rooms', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\ConferenceRoom\ConferenceRoom
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ConferenceRoom.name: asc
        'null': _("Unassigned")
    extension:
      title: _('Extension')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\Extension\Extension
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - number
            template: '%number%'
          order:
            Extension.number: asc
        'null': _("Unassigned")
    target:
      title: _('Target')
      type: ghost
      source:
        class: IvozProvider_Klear_Ghost_RouteTarget
        method: getTarget

staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
