#include ../conf.d/friendValueHelp.yaml

production:
  class: \IvozProvider\Model\DDIs
  entity: \Ivoz\Provider\Domain\Model\Ddi\Ddi
  fields:
    companyId:
      title: ngettext('Company', 'Companies', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Companies
          entity: \Ivoz\Provider\Domain\Model\Company\Company
          filterclass: IvozProvider_Klear_Filter_Brand
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Company.name: asc
    DDI:
      title: _('DDI')
      type: text
      trim: both
      pattern: "^[0-9]+$"
      required: true
      default: true
    externalCallFilterId:
      title: ngettext('External call filter', 'External call filters', 1)
      type: select
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\ExternalCallFilters
          entity: \Ivoz\Provider\Domain\Model\ExternalCallFilter\ExternalCallFilter
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ExternalCallFilter.name: asc
        'null': _("Unassigned")
    routeType:
      title: _('Route type')
      type: select
      source:
        data: inline
        filterclass: IvozProvider_Klear_Filter_RouteTypes
        values:
          '__null__':
            title: _("Unassigned")
            visualFilter:
              show: [ ]
              hide: [
                "IVRCommonId", "IVRCustomId", "huntGroupId", "userId","faxId",
                "conferenceRoomId", "friendValue", "queueId", "retailAccountId",
                "conditionalRouteId"
              ]
          'user':
            title: ngettext('User', 'Users', 1)
            visualFilter:
              show: ["userId" ]
              hide: [
                "IVRCommonId", "IVRCustomId", "huntGroupId", "faxId",
                "conferenceRoomId", "friendValue", "queueId", "retailAccountId",
                "conditionalRouteId"
              ]
          'IVRCommon':
            title: ngettext('IVR Common', 'IVRs Common', 1)
            visualFilter:
              show: [ "IVRCommonId" ]
              hide: [
                "userId", "IVRCustomId", "huntGroupId", "faxId",
                "conferenceRoomId", "friendValue", "queueId", "retailAccountId",
                "conditionalRouteId"
              ]
          'IVRCustom':
            title: ngettext('IVR Custom', 'IVR Custom', 1)
            visualFilter:
              show: [ "IVRCustomId" ]
              hide: [
                "IVRCommonId", "userId", "huntGroupId", "faxId",
                "conferenceRoomId", "friendValue", "queueId", "retailAccountId",
                "conditionalRouteId"
              ]
          'huntGroup':
            title: ngettext('Hunt Group', 'Hunt Groups', 1)
            visualFilter:
              show: [ "huntGroupId" ]
              hide: [
                "IVRCommonId", "IVRCustomId", "userId", "faxId",
                "conferenceRoomId", "friendValue", "queueId", "retailAccountId",
                "conditionalRouteId"
              ]
          'fax':
            title: ngettext('Fax', 'Faxes', 1)
            visualFilter:
              show: [ "faxId" ]
              hide: [
                "IVRCommonId", "IVRCustomId", "huntGroupId", "userId",
                "conferenceRoomId", "recordCalls", "friendValue", "queueId",
                "retailAccountId", "conditionalRouteId"
              ]
          'conferenceRoom':
            title: ngettext('Conference room', 'Conference rooms', 1)
            visualFilter:
              show: [ "conferenceRoomId" ]
              hide: [
                "IVRCommonId", "IVRCustomId", "huntGroupId", "userId", "faxId",
                "friendValue", "queueId", "retailAccountId",
                "conditionalRouteId"
              ]
          'friend':
            title: ngettext('Friend', 'Friends', 1)
            visualFilter:
              show: [ "friendValue" ]
              hide: [
                "IVRCommonId", "IVRCustomId", "huntGroupId", "userId", "faxId",
                "conferenceRoomId", "queueId", "retailAccountId",
                "conditionalRouteId"
              ]
          'queue':
            title: ngettext('Queue', 'Queues', 1)
            visualFilter:
              show: [ "queueId" ]
              hide: [
                "IVRCommonId", "IVRCustomId", "huntGroupId", "userId", "faxId",
                "conferenceRoomId", "friendValue", "retailAccountId",
                "conditionalRouteId"
              ]
          'retailAccount':
            title: _('Retail Account')
            visualFilter:
              show: [ "retailAccountId", "recordCalls" ]
              hide: [
                "IVRCommonId", "IVRCustomId", "huntGroupId", "userId", "faxId",
                  "conferenceRoomId", "friendValue", "queueId",
                  "conditionalRouteId"
              ]
          'conditional':
            title: _('Conditional Route')
            visualFilter:
              show: [ "conditionalRouteId" ]
              hide: [
                "friendValue", "conferenceRoomId", "IVRCommonId", "IVRCustomId",
                "userId", "huntGroupId", "numberValue", "queueId", "faxId",
                "retailAccountId"
              ]
    recordCalls:
      title: _('Record call')
      type: select
      defaultValue: none
      source:
        data: inline
        values:
          'none': _('None')
          'all': _('All')
          'inbound': _('Inbound')
          'outbound': _('Outbound')
      info:
        type: box
        position: left
        icon: error
        text: _("Local legislation may enforce to announce the call recording to both parties, act responsibly")
        label: _("Need help?")
    displayName:
      title: _('Display name')
      type: text
      maxLength: 50
      info:
        type: box
        position: left
        icon: help
        text: _("This value will be displayed in the called terminals")
        label: _("Need help?")
    billInboundCalls:
      title: _('Bill inbound call')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("No")
          '1':
            title: _("Yes")
      info:
        type: box
        position: left
        icon: error
        text: _("This setting needs external tarification module")
        label: _("Need help?")
    userId:
      title: ngettext('User', 'Users', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Users
          entity: \Ivoz\Provider\Domain\Model\User\User
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
              - lastname
            template: '%name% %lastname%'
          order:
            User.name: asc
        'null': _("Unassigned")
    IvrCommonId:
      title: ngettext('IVR Common', 'IVRs Common', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\IVRCommon
          entity: \Ivoz\Provider\Domain\Model\IvrCommon\IvrCommon
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            IvrCommon.name: asc
        'null': _("Unassigned")
    IvrCustomId:
      title: ngettext('IVR Custom', 'IVRs Custom', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\IVRCustom
          entity: \Ivoz\Provider\Domain\Model\IvrCustom\IvrCustom
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            IvrCustom.name: asc
        'null': _("Unassigned")
    huntGroupId:
      title: ngettext('Hunt Group', 'Hunt Groups', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\HuntGroups
          entity: \Ivoz\Provider\Domain\Model\HuntGroup\HuntGroup
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            HuntGroup.name: asc
        'null': _("Unassigned")
    faxId:
      title: ngettext('Fax', 'Faxes', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Faxes
          entity: \Ivoz\Provider\Domain\Model\Fax\Fax
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Fax.name: asc
        'null': _("Unassigned")
    conferenceRoomId:
      title: ngettext('Conference room', 'Conference rooms', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\ConferenceRooms
          entity: \Ivoz\Provider\Domain\Model\ConferenceRoom\ConferenceRoom
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ConferenceRoom.name: asc
        'null': _("Unassigned")
    retailAccountId:
      title: _('Retail Account')
      type: select
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\RetailAccounts
          entity: \Ivoz\Provider\Domain\Model\RetailAccount\RetailAccount
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            RetailAccount.name: asc
        'null': _("Unassigned")
    friendValue:
      title: _('Friend value')
      type: text
      maxLength: 25
      required: true
      <<: *friendValueHelp
    target:
      title: _('Target')
      type: ghost
      source:
        class: IvozProvider_Klear_Ghost_DDITarget
        method: getData
    peeringContractId:
      title: _('Peering contract id')
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\PeeringContracts
          entity: \Ivoz\Provider\Domain\Model\PeeringContract\PeeringContract
          filterclass: IvozProvider_Klear_Filter_Brand
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            PeeringContract.description: asc
    countryId:
      title: _('Country')
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Countries
          entity: \Ivoz\Provider\Domain\Model\Country\Country
          fieldName:
            fields:
              - name${lang}
              - callingCode
            template: '%name${lang}% (+%callingCode%)'
          order:
            Country.name.${lang}: asc
    languageId:
      title: _('Language')
      type: select
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Languages
          entity: \Ivoz\Provider\Domain\Model\Language\Language
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            Language.name.${lang}: asc
        'null': _("Company's default")
    queueId:
      title: ngettext('Queue', 'Queues', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Queues
          entity: \Ivoz\Provider\Domain\Model\Queue\Queue
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Queue.name: asc
        'null': _("Unassigned")
    conditionalRouteId:
      title: _('Conditional Route')
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\ConditionalRoutes
          entity: \Ivoz\Provider\Domain\Model\ConditionalRoute\ConditionalRoute
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ConditionalRoute.name: asc
        'null': _("Unassigned")
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
