#include ../conf.d/friendValueHelp.yaml

production:
  entity: \Ivoz\Provider\Domain\Model\Ddi\Ddi
  fields:
    company:
      title: ngettext('Client', 'Clients', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Company\Company
          filterClass: IvozProvider_Klear_Filter_Brand
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Company.name: asc
    ddi:
      title: ngettext('DDI', 'DDIs', 1)
      type: text
      trim: both
      pattern: "^[0-9]+$"
      required: true
      default: true
    externalCallFilter:
      title: ngettext('External call filter', 'External call filters', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\ExternalCallFilter\ExternalCallFilter
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ExternalCallFilter.name: asc
        'null': _("Unassigned")
    routeType:
      title: _('Route type')
      type: select
      source:
        data: inline
        filterClass: IvozProvider_Klear_Filter_RouteTypes
        values:
          '__null__':
            title: _("Unassigned")
            visualFilter:
              show: [ ]
              hide: &routableFields
                - ivr
                - huntGroup
                - user
                - fax
                - conferenceRoom
                - friendValue
                - queue
                - residentialDevice
                - conditionalRoute
                - retailAccount
          'user':
            title: ngettext('User', 'Users', 1)
            visualFilter:
              show: [ user ]
              hide:
                <<: *routableFields
          'ivr':
            title: ngettext('IVR', 'IVRs', 1)
            visualFilter:
              show: [ ivr ]
              hide:
                <<: *routableFields
          'huntGroup':
            title: ngettext('Hunt Group', 'Hunt Groups', 1)
            visualFilter:
              show: [ huntGroup ]
              hide:
                <<: *routableFields
          'fax':
            title: ngettext('Fax', 'Faxes', 1)
            visualFilter:
              show: [ fax ]
              hide:
                <<: *routableFields
          'conferenceRoom':
            title: ngettext('Conference room', 'Conference rooms', 1)
            visualFilter:
              show: [ conferenceRoom ]
              hide:
                <<: *routableFields
          'friend':
            title: ngettext('Friend', 'Friends', 1)
            visualFilter:
              show: [ friendValue ]
              hide:
                <<: *routableFields
          'queue':
            title: ngettext('Queue', 'Queues', 1)
            visualFilter:
              show: [ queue ]
              hide:
                <<: *routableFields
          'residential':
            title: _('Residential Device')
            visualFilter:
              show: [ residentialDevice, recordCalls ]
              hide:
                <<: *routableFields
          'conditional':
            title: _('Conditional Route')
            visualFilter:
              show: [ conditionalRoute ]
              hide:
                <<: *routableFields
          'retail':
            title: ngettext('Retail Account', 'Retail Accounts', 1)
            visualFilter:
              show: [ retailAccount ]
              hide:
                <<: *routableFields
    recordCalls:
      title: _('Record call')
      type: select
      defaultValue: none
      source:
        data: inline
        values:
          'none': _('None')
          'all': _('All')
          'inbound': _('Inbound')
          'outbound': _('Outbound')
      info:
        type: box
        position: left
        icon: error
        text: _("Local legislation may enforce to announce the call recording to both parties, act responsibly")
        label: _("Need help?")
    displayName:
      title: _('Display name')
      type: text
      maxLength: 50
      info:
        type: box
        position: left
        icon: help
        text: _("This value will be displayed in the called terminals")
        label: _("Need help?")
    user:
      title: ngettext('User', 'Users', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\User\User
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
              - lastname
            template: '%name% %lastname%'
          order:
            User.name: asc
        'null': _("Unassigned")
    ivr:
      title: ngettext('IVR', 'IVRs', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Ivr\Ivr
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Ivr.name: asc
        'null': _("Unassigned")
    huntGroup:
      title: ngettext('Hunt Group', 'Hunt Groups', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\HuntGroup\HuntGroup
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            HuntGroup.name: asc
        'null': _("Unassigned")
    fax:
      title: ngettext('Fax', 'Faxes', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Fax\Fax
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Fax.name: asc
        'null': _("Unassigned")
    conferenceRoom:
      title: ngettext('Conference room', 'Conference rooms', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\ConferenceRoom\ConferenceRoom
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ConferenceRoom.name: asc
        'null': _("Unassigned")
    residentialDevice:
      title: _('Residential Device')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\ResidentialDevice\ResidentialDevice
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ResidentialDevice.name: asc
        'null': _("Unassigned")
    friendValue:
      title: _('Friend value')
      type: text
      maxLength: 25
      required: true
      <<: *friendValueHelp
    ddiProvider:
      title: ngettext('DDI Provider', 'DDI Providers', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\DdiProvider\DdiProvider
          filterClass: IvozProvider_Klear_Filter_Brand
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            DdiProvider.description: asc
    country:
      title: _('Country')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Country\Country
          fieldName:
            fields:
              - name${lang}
              - countryCode
            template: '%name${lang}% (%countryCode%)'
          order:
            Country.name.${lang}: asc
    language:
      title: _('Language')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Language\Language
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            Language.name.${lang}: asc
        'null': _("Company's default")
    queue:
      title: ngettext('Queue', 'Queues', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Queue\Queue
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Queue.name: asc
        'null': _("Unassigned")
    conditionalRoute:
      title: _('Conditional Route')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\ConditionalRoute\ConditionalRoute
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            ConditionalRoute.name: asc
        'null': _("Unassigned")
    retailAccount:
      title:  ngettext('Retail Account', 'Retail Accounts', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\RetailAccount\RetailAccount
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            RetailAccount.name: asc
        'null': _("Unassigned")
    target:
      title: _('Target')
      type: ghost
      source:
        class: IvozProvider_Klear_Ghost_RouteTarget
        method: getTarget
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
