production:
  entity: Ivoz\Provider\Domain\Model\FixedCostsRelInvoiceScheduler\FixedCostsRelInvoiceScheduler
  fields:
    fixedCost:
      title: _('Fixed cost')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\FixedCost\FixedCost
          filterClass: IvozProvider_Klear_Filter_Brand
          fieldName:
            fields:
              - name
              - cost
            template: '%name% - %cost%'
          order:
            FixedCost.description: asc
    invoiceScheduler:
      title: ngettext('Invoice scheduler', 'Invoice schedulers', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\InvoiceScheduler\InvoiceScheduler
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            InvoiceScheduler.name: asc
    quantity:
      title: ngettext('Quantity', 'Quantities', 1)
      type: number
      defaultValue: 1
      source:
        control: Spinner
        min: 1
        max: 100
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
