production:
  class: \IvozProvider\Model\HuntGroupsRelUsers
  entity: Ivoz\Provider\Domain\Model\HuntGroupsRelUser\HuntGroupsRelUser
  fields: 
    huntGroupId:
      title: ngettext('Hunt Group', 'Hunt Groups', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\HuntGroups
          entity: \Ivoz\Provider\Domain\Model\HuntGroup\HuntGroup
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            HuntGroup.name: asc
      default: true
    userId:
      title: ngettext('User', 'Users', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Users
          entity: \Ivoz\Provider\Domain\Model\User\User
          filterclass: IvozProvider_Klear_Filter_Company
          fieldName: 
            fields: 
              - name
              - lastname
            template: '%name% %lastname%'
          order:
            User.name: asc
    timeoutTime:
      title: _('Timeout time')
      type: number
      source:
        control: Spinner
    priority:
      title: _('Priority')
      type: number
      source:
        control: Spinner
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
