production:
  entity: Ivoz\Provider\Domain\Model\IvrEntry\IvrEntry
  fields:
    ivr:
      title: ngettext('IVR', 'IVRs', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Ivr\Ivr
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Ivr.name: asc
      default: true
    entry:
      title: _('Entry')
      type: text
      required: true
      maxLength: 40
      info:
        type: box
        position: left
        icon: help
        text: _("You can use regular expressions to define values this entry will match.")
        label: _("Need help?")
    welcomeLocution:
      title: _('Success locution')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Locution\Locution
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Locution.name: asc
        'null': _("Unassigned")
    routeType:
      title: _('Target type')
      type: select
      required: true
      source:
        data: inline
        values:
          '__null__':
            title: _('Unassigned')
            visualFilter:
              hide: &routableFields
                - numberCountry
                - numberValue
                - extension
                - voicemail
                - conditionalRoute
          'number':
            title: _('Number')
            visualFilter:
              show: [ numberCountry, numberValue]
              hide:
                <<: *routableFields
          'extension':
            title: ngettext('Extension', 'Extensions', 1)
            visualFilter:
              show: [ extension ]
              hide:
                <<: *routableFields
          'voicemail':
            title: ngettext('Voicemail', 'Voicemails', 1)
            visualFilter:
              show: [ voicemail ]
              hide:
                <<: *routableFields
          'conditional':
            title: _('Conditional Route')
            visualFilter:
              show: [ conditionalRoute ]
              hide:
                <<: *routableFields
    numberCountry:
      title: _('Country')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Country\Country
          fieldName:
            fields:
              - name${lang}
              - countryCode
            template: '%name${lang}% (%countryCode%)'
          order:
            Country.name.${lang}: asc
    numberValue:
      title: _('Number')
      type: text
      trim: both
      required: true
    extension:
      title: ngettext('Extension', 'Extensions', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Extension\Extension
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - number
            template: '%number%'
          order:
            Extension.number: asc
        'null': _("Unassigned")
    voicemail:
      title: ngettext('Voicemail', 'Voicemails', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Voicemail\Voicemail
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Voicemail.name: asc
        'null': _("Unassigned")
    conditionalRoute:
      title: ngettext('Conditional Route', 'Conditional Routes', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\ConditionalRoute\ConditionalRoute
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields: [ name ]
            template: '%name%'
          order:
            ConditionalRoute.name: asc
        'null': _("Unassigned")
    target:
      title: _('Target')
      type: ghost
      source:
        class: IvozProvider_Klear_Ghost_RouteTarget
        method: getTarget
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
