production:
  entity: Ivoz\Kam\Domain\Model\Trusted\Trusted
  fields: 
    srcIp:
      title: 'IP'
      type: text
      maxLength: 50
      default: true
      required: true
    proto:
      title: _('Proto')
      type: text
      maxLength: 4
    fromPattern:
      title: _('From pattern')
      type: text
      maxLength: 64
    ruriPattern:
      title: _('R-URI pattern')
      type: text
      maxLength: 64
    description:
      title: _('Description')
      type: text
      maxLength: 200
    priority:
      title: _('Priority')
      type: number
      defaultValue: 0
      source:
        control: Spinner
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
