production:
  entity: Ivoz\Provider\Domain\Model\MatchList\MatchList
  fields:
    company:
      title: ngettext('Client', 'Clients', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Company\Company
          fieldName:
            fields:
              - type
            template: '%type%'
          order:
            Company.type: ASC
      default: true
    name:
      title: _('Name')
      type: text
      trim: both
      required: true
      maxLength: 50
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
