production:
  class: \IvozProvider\Model\PickUpGroups
  entity: Ivoz\Provider\Domain\Model\PickUpGroup\PickUpGroup
  fields: 
    name:
      title: _('Name')
      type: text
      trim: both
      required: true
      default: true
    companyId:
      title: ngettext('Company', 'Companies', 0)
      type: select
      required: true
      source:
        data: mapper
        config:
#          mapperName: \IvozProvider\Mapper\Sql\Companies
          entity: \Ivoz\Provider\Domain\Model\Company\Company
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order:
            Company.name: asc
    relUsers:
      title: ngettext('User', 'Users', 1)
      type: multiselect
      source:
        data: mapper
        config:
          extraDataAttributes:
            pickUpGroup: id
          relation: \Ivoz\Provider\Domain\Model\PickUpRelUser\PickUpRelUser
          relationProperty: pickUpGroup
          relatedProperty: user
          related: \Ivoz\Provider\Domain\Model\User\User
          filterClass: IvozProvider_Klear_Filter_Users
          relatedFieldName:
            fields: 
              - name
              - lastname
            template: '%name% %lastname%'
          order:
            User.name: asc
staging: 
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
