#include ../conf.d/queuesHelp.yaml

production:
  entity: Ivoz\Provider\Domain\Model\Queue\Queue
  fields:
    company:
      title: ngettext('Client', 'Clients', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Company\Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Company.name: asc
      default: true
    name:
      title: _('Name')
      pattern: "^[a-zA-Z0-9_-]+$"
      type: text
      trim: both
      maxLength: 128
      required: true
      info:
        type: box
        position: left
        icon: help
        text: _("Allowed characters: a-z, A-Z, 0-9, underscore and '-'")
        label: _("Need help?")
    displayName:
      title: _('Display name')
      type: text
      maxLength: 50
      info:
        type: box
        position: left
        icon: help
        text: _("This value will be displayed in the called terminals")
        label: _("Need help?")
    maxWaitTime:
      title: _('Max wait time')
      type: number
      source:
        control: Spinner
        min: 0
      info:
        type: box
        position: left
        icon: help
        text: _("If no queue member answers before time this seconds, the timeout queue logic will be activated. Leave empty to disable.")
        label: _("Need help?")
    timeoutLocution:
      title: ngettext('Locution', 'Locutions', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Locution\Locution
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Locution.name: asc
        'null': _("Unassigned")
    timeoutTargetType:
      title: _('Timeout route')
      type: select
      source:
        data: inline
        values:
          '__null__':
            title:  _("Unassigned")
            visualFilter:
              hide: &timeoutFields
                - timeoutNumberCountry
                - timeoutNumberValue
                - timeoutExtension
                - timeoutVoiceMailUser
          'number':
            title: _('Number')
            visualFilter:
              show: [ timeoutNumberCountry, timeoutNumberValue ]
              hide:
                <<: *timeoutFields
          'extension':
            title: ngettext('Extension', 'Extensions', 1)
            visualFilter:
              show: [ timeoutExtension ]
              hide:
                <<: *timeoutFields
          'voicemail':
            title: ngettext('Voicemail', 'Voicemails', 1)
            visualFilter:
              show: [ timeoutVoiceMailUser ]
              hide:
                <<: *timeoutFields
    timeoutNumberCountry:
      title: _('Country')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Country\Country
          fieldName:
            fields:
              - name${lang}
              - countryCode
            template: '%name${lang}% (%countryCode%)'
          order:
            Country.name.${lang}: asc
    timeoutNumberValue:
      title: _('Number')
      type: text
      required: true
      maxLength: 25
    timeoutExtension:
      title: ngettext('Extension', 'Extensions', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Extension\Extension
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - number
            template: '%number%'
          order:
            Extension.number: asc
        'null': _("Unassigned")
    timeoutVoiceMailUser:
      title: ngettext('Voicemail', 'Voicemails', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\User\User
          filterClass: IvozProvider_Klear_Filter_Voicemail
          fieldName:
            fields:
              - name
              - lastname
            template: '%name% %lastname%'
          order:
            User.name: asc
        'null': _("Unassigned")
    maxlen:
      title: _('Max queue length')
      type: number
      source:
        control: Spinner
        min: 0
      info:
        type: box
        position: left
        icon: help
        text: _("Max number of unattended calls that this queue can have. When this value has been reached, full queue logic will be activated on new calls. Leave empty to disable.")
        label: _("Need help?")
    fullLocution:
      title: _('Full queue Locution')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Locution\Locution
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Locution.name: asc
        'null': _("Unassigned")
    fullTargetType:
      title: _('Full queue route')
      type: select
      source:
        data: inline
        values:
          '__null__':
            title:  _("Unassigned")
            visualFilter:
              hide: &fullFields
                - fullNumberCountry
                - fullNumberValue
                - fullExtension
                - fullVoiceMailUser
          'number':
            title: _('Number')
            visualFilter:
              show: [ fullNumberCountry, fullNumberValue ]
              hide:
                <<: *fullFields
          'extension':
            title: ngettext('Extension', 'Extensions', 1)
            visualFilter:
              show: [ fullExtension ]
              hide:
                <<: *fullFields
          'voicemail':
            title: ngettext('Voicemail', 'Voicemails', 1)
            visualFilter:
              show: [ fullVoiceMailUser ]
              hide:
                <<: *fullFields
    fullNumberCountry:
      title: _('Country')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Country\Country
          fieldName:
            fields:
              - name${lang}
              - countryCode
            template: '%name${lang}% (%countryCode%)'
          order:
            Country.name.${lang}: asc
    fullNumberValue:
      title: _('Number')
      type: text
      maxLength: 25
      required: true
    fullExtension:
      title: ngettext('Extension', 'Extensions', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Extension\Extension
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - number
            template: '%number%'
          order:
            Extension.number: asc
        'null': _("Unassigned")
    fullVoiceMailUser:
      title: ngettext('Voicemail', 'Voicemails', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\User\User
          filterClass: IvozProvider_Klear_Filter_Voicemail
          fieldName:
            fields:
              - name
              - lastname
            template: '%name% %lastname%'
          order:
            User.name: asc
        'null': _("Unassigned")
    periodicAnnounceLocution:
      title: _('Periodic Annouce Locution')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Locution\Locution
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Locution.name: asc
        'null': _("Unassigned")
      info:
        type: box
        position: left
        icon: help
        text: _("Locution periodically played to calls that are queued")
        label: _("Need help?")
    periodicAnnounceFrequency:
      title: _('Periodic Announce Frequency')
      type: number
      source:
        control: Spinner
        min: 0
    memberCallRest:
      title: _('Member rest seconds')
      type: number
      defaultValue: 0
      source:
        control: Spinner
        min: 0
      info:
        type: box
        position: left
        icon: help
        text: _("Time in seconds that member won't be disturbed after attending a queue call")
        label: _("Need help?")
    memberCallTimeout:
      title: _('Member call seconds')
      type: number
      defaultValue: 5
      source:
        control: Spinner
        min: 1
      info:
        type: box
        position: left
        icon: help
        text: _("Time in seconds queue calls will ring members")
        label: _("Need help?")
    strategy:
      title: _('Strategy')
      type: select
      defaultValue: 'rrmemory'
      source:
        data: inline
        filterClass: IvozProvider_Klear_Filter_QueueStrategies
        values:
          'ringall': _('Ring all')
          'leastrecent': _('Least recent')
          'fewestcalls': _('Fewest calls')
          'random': _('Random')
          'rrmemory': _('Round Robin memory')
          'linear': _('Linear')
      info:
        type: box
        position: left
        icon: help
        label: _("Need help?")
        text: _("Determines the order current priority members will be called")
    weight:
      title: _('Weight')
      type: number
      defaultValue: 5
      source:
        control: Spinner
        min: 1
      info:
        type: box
        position: left
        icon: help
        text: _("When one member is part of multiples queues, calls from queues with higher weight will be attended first")
        label: _("Need help?")
    preventMissedCalls:
      title: _('Prevent missed calls')
      type: select
      defaultValue: 1
      source:
        data: inline
        values:
          '0':
            title: _("No")
          '1':
            title: _("Yes")
      info:
        type: box
        position: left
        icon: help
        label: _("Need help?")
        text: _("When 'Yes', calls will never generate a missed call. When 'No', missed calls will be prevented only for RingAll queues if someone answers.")
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
