production:
  entity: Ivoz\Provider\Domain\Model\RatingPlanGroup\RatingPlanGroup
  fields:
    id:
      title: ngettext('Id', 'Ids', 1)
      required: false
    name:
      title: _('Name')
      type: text
      isMultilang: true
      trim: both
      required: true
      maxLength: 55
      default: true
    description:
      title: _('Description')
      type: text
      isMultilang: true
      trim: both
      maxLength: 255
    brand:
      title: ngettext('Brand', 'Brands', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Brand\Brand
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Brand.name: asc
    currency:
      title: ngettext('Currency', 'Currencies', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Currency\Currency
          fieldName:
            fields:
              - name${lang}
              - symbol
            template: '%name${lang}% (%symbol%)'
        'null': _("Default currency")
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
