#include ../conf.d/codecsHelp.yaml
#include ../conf.d/updateMethodHelp.yaml

production:
  entity: Ivoz\Provider\Domain\Model\ResidentialDevice\ResidentialDevice
  fields:
    company:
      title: ngettext('Client', 'Clients', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: Ivoz\Provider\Domain\Model\Company\Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Company.name: asc
    name:
      title: _('Name')
      type: text
      pattern: "^[a-zA-Z0-9_*]+$"
      trim: both
      maxLength: 100
      required: true
      info:
        type: box
        position: left
        icon: help
        text: _("Allowed characters: a-z, A-Z, 0-9, underscore and '*'")
        label: _("Need help?")
      default: true
    domain:
      title: ngettext('Domain', 'Domains', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Domain\Domain
          fieldName:
            fields:
              - domain
            template: '%domain%'
    description:
      title: _('Description')
      type: text
      defaultValue:
      maxLength: 500
    transport:
      title: _('Transport')
      type: select
      required: true
      source:
        data: inline
        values:
          'udp': 'UDP'
          'tcp': 'TCP'
          'tls': 'TLS'
    ip:
      title: _('Destination IP address')
      type: text
      required: true
      pattern: "^[.0-9]+$"
      trim: both
      info:
        type: box
        position: left
        icon: help
        text: _("e.g. 8.8.8.8")
        label: _("Need help?")
    port:
      title: _('Port')
      type: text
      required: true
      pattern: "^[0-9]+$"
      defaultValue: 5060
    authNeeded:
      title: _('Auth needed')
      type: select
      defaultValue: 'no'
      source:
        data: inline
        values:
          'yes': _('Yes')
          'no': _('No')
    password:
      title: _('Password')
      type: text
      pattern: "^(?=.*[A-Z].*[A-Z].*[A-Z])(?=.*[+*_-])(?=.*[0-9].*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{10,}$"
      required: true
      info:
        type: box
        position: left
        icon: help
        text: _("Minimal length 10, including 3 uppercase letters, 3 lowercase letters, 3 digits and one character in '+*_-'")
        label: _("Need help?")
      options:
        commands:
          generatePassword_command: true
    outgoingDdi:
      title: _('Fallback Outgoing DDI')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Ddi\Ddi
          filterClass: IvozProvider_Klear_Filter_ResidentialDDIs
          fieldName:
            fields:
              - ddie164
            template: '%ddie164%'
          order:
            Ddi.ddie164: asc
        'null': _("Client's default")
      info:
        type: box
        position: left
        icon: help
        text: _("This DDI will be used if friend presented DDI doesn't match any of the company DDIs")
        label: _("Need help?")
    disallow:
      title: _('Disallowed audio codecs')
      type: text
      trim: both
      defaultValue: all
      maxLength: 100
      <<: *codecsHelp
    allow:
      title: _('Allowed audio codecs')
      type: select
      trim: both
      defaultValue: alaw
      maxLength: 100
      source:
        data: inline
        values:
            'alaw': 'alaw - G.711 a-law'
            'ulaw': 'ulaw - G.711 u-law'
            'gsm': 'gsm - GSM'
            'speex': 'speex - SpeeX 32khz'
            'g722': 'g722 - G.722'
            'g726': 'g726 - G.726 RFC3551'
            'g729': 'g729 - G.729A'
            'ilbc': 'ilbc - iLBC'
            'opus': 'opus - Opus codec'
    directMediaMethod:
      title: _('CallerID update method')
      type: select
      defaultValue: update
      source:
        data: inline
        values:
          'invite': 'invite'
          'update': 'update'
      <<: *updateMethodHelp
    calleridUpdateHeader:
      title: _('CallerID update header')
      type: select
      defaultValue: pai
      source:
        data: inline
        values:
          'pai': 'P-Asserted-Identity (PAI)'
          'rpid': 'Remote-Party-ID (RPID)'
    updateCallerid:
      title: _('Update CallerID?')
      type: select
      defaultValue: yes
      source:
        data: inline
        values:
          'yes':
            title: _('Yes')
            visualFilter:
              show: ["direct_media_method", "callerid_update_header"]
              hide: []
          'no':
            title: _('No')
            visualFilter:
              hide: ["direct_media_method", "callerid_update_header"]
              show: []
    fromDomain:
      title: _('From domain')
      type: text
      maxLength: 190
    directConnectivity:
      title: _('Direct connectivity')
      type: select
      defaultValue: yes
      source:
        data: inline
        values:
          'yes':
            title: _('Yes')
            visualFilter:
              show: ["ip", "port", "transport", "auth_needed"]
              hide: []
          'no':
            title: _('No')
            visualFilter:
              hide: ["ip", "port", "transport", "auth_needed"]
              show: []
    ddiIn:
      title: _('DDI In')
      type: select
      defaultValue: yes
      source:
        data: inline
        values:
          'yes':
            title: _('Yes')
          'no':
            title: _('No')
      info:
        type: box
        position: left
        icon: help
        text: _("If 'no', R-URI username will match endpoint's name. If 'yes', called number will be used instead.")
        label: _("Need help?")
    language:
      title: _('Language')
      type: select
      source:
        data: mapper
        config:
          entity: Ivoz\Provider\Domain\Model\Language\Language
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            Language.name.${lang}: asc
        'null': _("Client's default")
    statusIcon:
      title: _('Status')
      type: ghost
      dirty: true
      source:
        class: IvozProvider_Klear_Ghost_RegisterStatus
        method: getResidentialDeviceStatusIcon
    status:
      title: _('Status')
      type: ghost
      dirty: true
      source:
        class: IvozProvider_Klear_Ghost_RegisterStatus
        method: getResidentialDeviceStatus
    transformationRuleSet:
      title: ngettext('Numeric transformation', 'Numeric transformations', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\TransformationRuleSet\TransformationRuleSet
          filterClass: IvozProvider_Klear_Filter_TransformationRuleSets
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            TransformationRuleSet.name.${lang}: asc
        'null': _("Company's default")
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
