#include ../conf.d/codecsHelp.yaml
#include ../conf.d/updateMethodHelp.yaml

production:
  entity: Ivoz\Provider\Domain\Model\RetailAccount\RetailAccount
  fields:
    id:
      title: ngettext('Id', 'Ids', 1)
      required: false
      readonly: true
    company:
      title: ngettext('Client', 'Clients', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: Ivoz\Provider\Domain\Model\Company\Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Company.name: asc
    name:
      title: _('Name')
      type: text
      pattern: "^[a-zA-Z0-9_*]+$"
      trim: both
      maxLength: 100
      required: true
      info:
        type: box
        position: left
        icon: help
        text: _("Allowed characters: a-z, A-Z, 0-9, underscore and '*'")
        label: _("Need help?")
      default: true
    domain:
      title: ngettext('Domain', 'Domains', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Domain\Domain
          fieldName:
            fields:
              - domain
            template: '%domain%'
    description:
      title: _('Description')
      type: text
      defaultValue:
      maxLength: 500
    transport:
      title: _('Transport')
      type: select
      required: true
      source:
        data: inline
        values:
          'udp': 'UDP'
          'tcp': 'TCP'
          'tls': 'TLS'
    ip:
      title: _('Destination IP address')
      type: text
      required: true
      pattern: "^[.0-9]+$"
      trim: both
      info:
        type: box
        position: left
        icon: help
        text: _("e.g. 8.8.8.8")
        label: _("Need help?")
    port:
      title: _('Port')
      type: text
      required: true
      pattern: "^[0-9]+$"
      defaultValue: 5060
    password:
      title: _('Password')
      type: text
      pattern: "^(?=.*[A-Z].*[A-Z].*[A-Z])(?=.*[+*_-])(?=.*[0-9].*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{10,}$"
      required: true
      info:
        type: box
        position: left
        icon: help
        text: _("Minimal length 10, including 3 uppercase letters, 3 lowercase letters, 3 digits and one character in '+*_-'")
        label: _("Need help?")
      options:
        commands:
          generatePassword_command: true
    outgoingDdi:
      title: _('Fallback Outgoing DDI')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Ddi\Ddi
          filterClass: IvozProvider_Klear_Filter_RetailDDIs
          fieldName:
            fields:
              - ddie164
            template: '%ddie164%'
          order:
            Ddi.ddie164: asc
        'null': _("Client's default")
      info:
        type: box
        position: left
        icon: help
        text: _("This DDI will be used if friend presented DDI doesn't match any of the company DDIs")
        label: _("Need help?")
    fromDomain:
      title: _('From domain')
      type: text
      maxLength: 190
    directConnectivity:
      title: _('Direct connectivity')
      type: select
      defaultValue: yes
      source:
        data: inline
        values:
          'yes':
            title: _('Yes')
            visualFilter:
              show: ["ip", "port", "transport", "auth_needed"]
              hide: []
          'no':
            title: _('No')
            visualFilter:
              hide: ["ip", "port", "transport", "auth_needed"]
              show: []
    ddiIn:
      title: _('DDI In')
      type: select
      defaultValue: yes
      source:
        data: inline
        values:
          'yes':
            title: _('Yes')
          'no':
            title: _('No')
      info:
        type: box
        position: left
        icon: help
        text: _("If 'no', R-URI username will match endpoint's name. If 'yes', called number will be used instead.")
        label: _("Need help?")
    statusIcon:
      title: _('Status')
      type: ghost
      dirty: true
      source:
        class: IvozProvider_Klear_Ghost_RegisterStatus
        method: getRetailAccountStatusIcon
    status:
      title: _('Status')
      type: ghost
      dirty: true
      source:
        class: IvozProvider_Klear_Ghost_RegisterStatus
        method: getRetailAccountStatus
    transformationRuleSet:
      title: ngettext('Numeric transformation', 'Numeric transformations', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\TransformationRuleSet\TransformationRuleSet
          filterClass: IvozProvider_Klear_Filter_TransformationRuleSets
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            TransformationRuleSet.name.${lang}: asc
        'null': _("Company's default")
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
