production:
  entity: Ivoz\Provider\Domain\Model\RoutingPatternGroup\RoutingPatternGroup
  fields: 
    name:
      title: _('Name')
      type: text
      required: true
      maxLength: 55
      default: true
    description:
      title: _('Description')
      type: text
      maxLength: 55
    brand:
      title: ngettext('Brand', 'Brands', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Brand\Brand
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order:
            Brand.name: asc
    relPatterns:
      title: ngettext('Routing pattern', 'Routing patterns', 0)
      type: multiselect
      source:
        data: mapper
        config:
          extraDataAttributes:
            brand: brandId
          relation:  \Ivoz\Provider\Domain\Model\RoutingPatternGroupsRelPattern\RoutingPatternGroupsRelPattern
          relationProperty: routingPatternGroup
          relatedProperty: routingPattern
          related: \Ivoz\Provider\Domain\Model\RoutingPattern\RoutingPattern
          relatedFieldName:
            fields:
              - name${lang}
              - description${lang}
              - prefix
            template: "%name${lang}% %description${lang}% (%prefix%)"
          filterClass: IvozProvider_Klear_Filter_Brand
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
