production:
  class: \IvozProvider\Model\TransformationRulesetGroups
  entity: Ivoz\Provider\Domain\Model\TransformationRulesetGroup\TransformationRulesetGroup
  fields: 
    name:
      title: _('Name')
      type: text
      trim: both
      required: true
      maxLength: 100
    description:
      title: _('Description')
      type: text
      trim: both
      defaultValue:
      maxLength: 500
    brandId:
      title: ngettext('Brand', 'Brands', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Brand\Brand
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order:
            Brand.name: asc
      default: true
    callerIn:
      title: _('Caller in')
      type: number
      source:
        control: Spinner
    calleeIn:
      title: _('Callee in')
      type: number
      source:
        control: Spinner
    callerOut:
      title: _('Caller out')
      type: number
      source:
        control: Spinner
    calleeOut:
      title: _('Callee out')
      type: number
      source:
        control: Spinner
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
