production:
  entity: Ivoz\Provider\Domain\Model\User\User
  fields:
    company:
      title: ngettext('Client', 'Clients', 1)
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Company\Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Company.name: asc
        'null': _("Unassigned")
    name:
      title: _('Name')
      type: text
      trim: both
      required: true
      default: true
    lastname:
      title: _('Lastname')
      type: text
      trim: both
      required: true
    email:
      title: ngettext('Email', 'Emails', 1)
      type: text
      maxLength: 100
      trim: both
      info:
        type: box
        position: left
        icon: help
        text: _("Used as voicemail reception and user portal credential")
        label: _("Need help?")
    pass:
      title: _('Password')
      type: password
      adapter: PlainText
    active:
      title: _('Active')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("No")
            visualFilter:
              show: []
              hide: ["pass"]
          '1':
            title: _("Yes")
            visualFilter:
              show: ["pass"]
              hide: []
    timezone:
      title: _('Timezone')
      type: select
      defaultValue: 145
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Timezone\Timezone
          fieldName:
            fields:
              - tz
            template: '%tz%'
          order:
            Timezone.tz: asc
    transformationRuleSet:
      title: ngettext('Numeric transformation', 'Numeric transformations', 1)
      type: select
      defaultValue: 'null'
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\TransformationRuleSet\TransformationRuleSet
          filterClass: IvozProvider_Klear_Filter_TransformationRuleSets
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            TransformationRuleSet.name.${lang}: asc
        'null': _("Company's default")
    terminal:
      title: _('Terminal')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Terminal\Terminal
          filterClass: IvozProvider_Klear_Filter_Terminals
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Terminal.name: asc
        'null': _("Unassigned")
    statusIcon:
      title: _('Status')
      type: ghost
      dirty: true
      source:
        class: IvozProvider_Klear_Ghost_RegisterStatus
        method: getUserTerminalStatusIcon
    extension:
      title: _('Screen Extension')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Extension\Extension
          filterClass: IvozProvider_Klear_Filter_Extensions
          fieldName:
            fields:
              - number
            template: '%number%'
          order:
            Extension.number: asc
        'null': _("Unassigned")
    outgoingDdi:
      title: _('Outgoing DDI')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Ddi\Ddi
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - ddie164
            template: '%ddie164%'
          order:
            Ddi.ddie164: asc
        'null': _("Company's default")
    outgoingDdiRule:
      title: ngettext('Outgoing DDI Rule', 'Outgoing DDI Rules', 1)
      type: select
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\OutgoingDdiRule\OutgoingDdiRule
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            OutgoingDdiRule.name: asc
        'null': _("Company's default")
      info:
        type: box
        position: left
        icon: help
        text: _("Rules to manipulate outgoingDDI when user directly calls to external numbers.")
        label: _("Need help?")
    callACL:
      title: ngettext('Call ACL', 'Call ACLs', 1)
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\CallAcl\CallAcl
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            CallAcl.name: asc
        'null': _("Allow all outgoing calls")
    doNotDisturb:
      title: _('Do not disturb')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("No")
          '1':
            title: _("Yes")
    isBoss:
      title: _('Is boss')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("No")
            visualFilter:
              show: []
              hide: ["bossAssistant", "bossAssistantWhiteList"]
          '1':
            title: _("Yes")
            visualFilter:
              show: ["bossAssistant", "bossAssistantWhiteList"]
              hide: []
    bossAssistant:
      title: _('Assistant')
      type: select
      required: true
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\User\User
          filterClass: IvozProvider_Klear_Filter_Bossassistant
          fieldName:
            fields:
              - name
              - lastname
            template: '%name% %lastname%'
          order:
            User.name: asc
        'null': _("Unassigned")
    bossAssistantWhiteList:
      title: _('Boss Whitelist')
      type: select
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\MatchList\MatchList
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          MatchList.name: asc
        'null': _("Unassigned")
      info:
        type: box
        position: left
        icon: help
        text: _("Origins matching this list will call directly to the user.")
        label: _("Need help?")
    maxCalls:
      title: _('Max calls')
      type: number
      defaultValue: 0
      source:
        control: Spinner
        min: 0
        max: 100
      info:
        type: box
        position: left
        icon: help
        text: _("Limits the number of concurrent received calls. Set 0 for unlimited calls.")
        label: _("Need help?")
    voicemailEnabled:
      title: _('Voicemail enabled')
      type: select
      defaultValue: 1
      source:
        data: inline
        values:
          '0':
            title: _("No")
            visualFilter:
              show: []
              hide: ["voicemailSendMail", "voicemailAttachSound", "voicemailLocution"]
          '1':
            title: _("Yes")
            visualFilter:
              show: ["voicemailSendMail", "voicemailAttachSound", "voicemailLocution"]
              hide: []
    voicemailLocution:
      title: _('Voicemail Locution')
      type: select
      source:
        data: mapper
        config:
          entity:  \Ivoz\Provider\Domain\Model\Locution\Locution
          filterClass: IvozProvider_Klear_Filter_Company
          fieldName:
            fields:
              - name
            template: '%name%'
          order:
            Locution.name: asc
        'null': _("Unassigned")
    voicemailSendMail:
      title: _('Voicemail send mail')
      type: select
      defaultValue: 1
      source:
        data: inline
        values:
          '0':
            title: _("No")
            visualFilter:
              hide: ["voicemailAttachSound"]
              show: []
          '1':
            title: _("Yes")
            visualFilter:
              show: ["voicemailAttachSound"]
              hide: []
    voicemailAttachSound:
      title: _('Voicemail attach sound')
      type: select
      defaultValue: 1
      source:
        data: inline
        values:
          '0':
            title: _("No")
          '1':
            title: _("Yes")
    PickUpRelUsers:
      title: _('Pick Up Groups')
      type: multiselect
      source:
        data: mapper
        config:
          extraDataAttributes:
            company: companyId
          relation: \Ivoz\Provider\Domain\Model\PickUpRelUser\PickUpRelUser
          relationProperty: user
          relatedProperty: pickUpGroup
          related: \Ivoz\Provider\Domain\Model\PickUpGroup\PickUpGroup
          relatedFieldName: name
          filterClass: IvozProvider_Klear_Filter_Company
    language:
      title: _('Language')
      type: select
      defaultValue: 'null'
      source:
        data: mapper
        config:
          entity: \Ivoz\Provider\Domain\Model\Language\Language
          fieldName:
            fields:
              - name${lang}
            template: '%name${lang}%'
          order:
            Language.name.${lang}: asc
        'null': _("Company's default")
    externalIpCalls:
      title: _('Calls from non-granted IPs')
      type: select
      defaultValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("None")
          '1':
            title: "1"
          '2':
            title: "2"
          '3':
            title: "3"
      info:
        type: box
        position: left
        icon: help
        text: _("Enable calling from non-granted IP addresses for this user. It limits the number of outgoing calls to avoid toll-fraud. 'None' value makes outgoing calls unlimited as long as company IP policy is fulfilled.")
        label: _("Need help?")

    gsQRCode:
      title: _('QR Code')
      type: select
      defautlValue: 0
      source:
        data: inline
        values:
          '0':
            title: _("No")
          '1':
            title: _("Yes")
      info:
        type: box
        position: left
        icon: help
        text: _("Add QR Code to user portal to provision GS Wave mobile softphone")
        label: _("Need help?")
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
