default:
  calls:
    error_reporting: 16383 # E_ALL & ~E_USER_DEPRECATED
  suites:
    default:
      contexts:
        - Behat\MinkExtension\Context\MinkContext
        - Behat\Context\FeatureContext
  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: features/bootstrap/bootstrap.php
      kernel:
        environment: "test"
        debug: true
        path: "src/Kernel.php"
        class: "Kernel"
    Behat\MinkExtension:
      base_url: "https://ivozprovider/"
      sessions:
        default:
          symfony: ~
    Behatch\Extension: ~
