[Unit]
Description=Run cgr-loader with database tariff plans

[Service]
Type=oneshot
ExecStart=/usr/bin/cgr-loader -from_stordb -validate -cleanup -safety_key tp_changed_at
