[Unit]
Description=Run cgr-loader with database tariff plans

[Service]
Type=oneshot
ExecStart=/usr/bin/cgr-loader -validate -stordb_host data.ivozprovider.local -stordb_name ivozprovider -stordb_user kamailio -stordb_passwd ironsecret -verbose -flushdb -from_stordb -tpid ivozprovider -rals trunks.ivozprovider.local:2012 -cdrstats trunks.ivozprovider.local:2012 -users trunks.ivozprovider.local:2012

