[Service]
Type=simple
ExecStart=/var/lib/asterisk/agi-bin/lib/phpagi/phpagi-fastagi.php
User=root
Group=root
StandardInput=socket
StandardOutput=socket
