[Service]
Type=simple
ExecStart=/opt/irontec/ivozprovider/asterisk/agi/application/bin/lib/phpagi/phpagi-fastagi.php
User=root
Group=root
StandardInput=socket
StandardOutput=socket
