[Unit]
Description=gearman job control server

[Service]
ExecStartPre=/usr/bin/install -d -o gearman /run/gearman
PermissionsStartOnly=true
User=gearman
Restart=always
EnvironmentFile=/etc/default/gearman-job-server
PIDFile=/run/gearman/server.pid
ExecStart=/usr/sbin/gearmand ${PARAMS} --pid-file=/run/gearman/server.pid --log-file=/var/log/gearman-job-server/gearman.log

[Install]
WantedBy=multi-user.target
