[Unit]
Description=IvozProvider Recordings Parser

[Service]
Type=oneshot
User=root
ExecStart=/opt/irontec/ivozprovider/microservices/recordings/bin/recordings-encoder
