[Unit]
Description=Kamailio - the Open Source SIP Server
After=network.target
After=multi-user.target

[Service]
Type=forking
User=root
Group=root
LimitCORE=infinity
LimitNOFILE=65535
PIDFile=/var/run/kamailio-%i.pid
EnvironmentFile=/etc/default/kam%i
ExecStart=/usr/sbin/kamailio -A IP=%i -f /etc/kamailio/proxy%i/kamailio.cfg -m ${SH_MEM} -M ${PRIV_MEM} -P /var/run/kamailio-%i.pid
ExecStopPost=/bin/rm -f /var/run/kamailio-%i.pid
TimeoutStopSec=30s
Restart=on-abort

[Install]
WantedBy=multi-user.target
