[Unit]
Description=Kamailio - the Open Source SIP Server
After=network.target
Requires=rtpengine.service

[Service]
Type=forking
User=root
Group=root
PIDFile=/var/run/kamailio_proxytrunks.pid
EnvironmentFile=/etc/default/kamailio_proxytrunks
ExecStart=/usr/sbin/kamailio -A IP=%i -f /etc/kamailio/proxytrunks/kamailio.cfg -m ${SH_MEM} -M ${PRIV_MEM} -P /var/run/kamailio_proxytrunks.pid
ExecStopPost=/bin/rm -f /var/run/kamailio_proxytrunks.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
