[Unit]
Description=Kamailio - the Open Source SIP Server
After=network.target

[Service]
Type=forking
User=root
Group=root
PIDFile=/var/run/kamusers-%i.pid
EnvironmentFile=/etc/default/kamusers
ExecStart=/usr/sbin/kamailio -A IP=%i -f /etc/kamailio/proxyusers/kamailio.cfg -m ${SH_MEM} -M ${PRIV_MEM} -P /var/run/kamusers-%i.pid
ExecStopPost=/bin/rm -f /var/run/kamusers-%i.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
