[Unit]
Description=IvozProvider Shared Storage

[Mount]
What=storage.ivozprovider.local:/storage
Where=/opt/irontec/ivozprovider/storage/
Type=glusterfs
Options=defaults
Restart=always

[Install]
WantedBy = multi-user.target
