application/configs/klear/generator.log
application/configs/klearRaw/generator.log
.project
application/views/scripts/portal/
public/apple-touch-icon.png
public/fonts/glyphicons-halflings-regular.eot
public/fonts/glyphicons-halflings-regular.svg
public/fonts/glyphicons-halflings-regular.ttf
public/fonts/glyphicons-halflings-regular.woff
public/fonts/glyphicons-halflings-regular.woff2
public/styles/bootswatch/.bower.json
public/styles/bootswatch/README.md
public/styles/bootswatch/bower.json
