services:
  _defaults:
    autowire: true
    public: false

  Ivoz\Provider\Domain\Service\Company\SyncDailyUsage:
    public: true
    arguments:
      $logger: '@logger'

  Ivoz\Provider\Domain\Service\Company\SyncBalances:
    public: true
    arguments:
      $logger: '@logger'

  Ivoz\Provider\Domain\Service\Company\AbstractBalanceOperation:
    abstract:  true
    arguments:
      $entityTools: '@Ivoz\Core\Application\Service\EntityTools'
      $logger: '@logger'
      $client: '@Ivoz\Cgr\Infrastructure\Cgrates\Service\CompanyBalanceService'
      $syncBalanceService: '@Ivoz\Provider\Domain\Service\Company\SyncBalances'
      $companyRepository: '@Ivoz\Provider\Domain\Model\Company\CompanyRepository'
      $createBalanceMovementByCompany: '@Ivoz\Provider\Domain\Service\BalanceMovement\CreateByCompany'

  Ivoz\Provider\Domain\Service\Company\IncrementBalance:
    public: true
    autowire: false
    parent: Ivoz\Provider\Domain\Service\Company\AbstractBalanceOperation

  Ivoz\Provider\Domain\Service\Company\DecrementBalance:
    public: true
    autowire: false
    parent: Ivoz\Provider\Domain\Service\Company\AbstractBalanceOperation
