services:
  _defaults:
    autowire: true
    public: false

  ###############################################
  ## Jobs
  ###############################################
  # Invoicer
  Ivoz\Provider\Infrastructure\Redis\Job\Invoicer:
    arguments:
      $redisDb: '%redis_jobs_db%'

  Ivoz\Provider\Domain\Job\InvoicerJobInterface:
    alias: Ivoz\Provider\Infrastructure\Redis\Job\Invoicer

  # Cgrates reload
  Ivoz\Cgr\Infrastructure\Gearman\Jobs\Cgrates:
    arguments:
      $settings: '%gearmand%'

  Ivoz\Cgr\Domain\Job\RaterReloadInterface:
    alias: Ivoz\Cgr\Infrastructure\Gearman\Jobs\Cgrates

  # Rates importer
  Ivoz\Provider\Infrastructure\Gearman\Jobs\RatesImporter:
    arguments:
      $manager: '@Ivoz\Core\Infrastructure\Domain\Service\Gearman\Manager'
      $settings: '%gearmand%'

  Ivoz\Provider\Domain\Job\RatesImporterJobInterface:
    alias: Ivoz\Provider\Infrastructure\Gearman\Jobs\RatesImporter

  # Audio Recoder
  Ivoz\Provider\Infrastructure\Gearman\Jobs\Recoder:
    arguments:
      $manager: '@Ivoz\Core\Infrastructure\Domain\Service\Gearman\Manager'
      $settings: '%gearmand%'

  Ivoz\Provider\Domain\Job\RecoderJobInterface:
    alias: Ivoz\Provider\Infrastructure\Gearman\Jobs\Recoder
