#include conf.d/mapperList.yaml
#include conf.d/actions.yaml

production:
  main:
    module: klearMatrix
    defaultScreen: calendarPeriodsList_screen
  screens: &calendarPeriods_screensLink
    calendarPeriodsList_screen: &calendarPeriodsList_screenLink
      controller: list
      pagination:
        items: 25
      order:
        field:
          - CalendarPeriod.startDate
        type: asc
      <<: *CalendarPeriods
      class: ui-silk-calendar-link
      title: _("List of %s %2s", ngettext('Calendar Period', 'Calendar Periods', 0), "[format| (%parent%)]")
      fields:
        blacklist:
          numberCountry: true
          numberValue: true
          extension: true
          voiceMailUser: true
        order:
          startDate: true
          endDate: true
          relSchedules: true
          locution: true
          routeType: true
          target: true
        options:
          title: _("Options")
          screens:
            calendarPeriodsEdit_screen: ${auth.acls.CalendarPeriods.update}
          dialogs:
            calendarPeriodsDel_dialog: ${auth.acls.CalendarPeriods.delete}
          default: calendarPeriodsEdit_screen
      options:
        title: _("Options")
        screens:
          calendarPeriodsNew_screen: ${auth.acls.CalendarPeriods.create}
        dialogs:
          calendarPeriodsDel_dialog: ${auth.acls.CalendarPeriods.delete}
    calendarPeriodsNew_screen: &calendarPeriodsNew_screenLink
      <<: *CalendarPeriods
      controller: new
      class: ui-silk-add
      label: true
      multiInstance: true
      title: _("Add %s %2s", ngettext('Calendar Period', 'Calendar Periods', 1), "[format| (%parent%)]")
      shortcutOption: N
      defaultValues:
        numberCountry: ${auth.companyCountryId}
      fields:
        blacklist:
          target: true
      fixedPositions: &calendarPeriods_fixedPosLink
        group0:
          colsPerRow: 3
          fields:
            startDate: 1
            endDate: 1
            relSchedules: 3
        group1:
          colsPerRow: 7
          label: _("Out of schedule configuration")
          fields:
            locution: 5
            routeType: 4
            numberCountry: 4
            numberValue: 3
            extension: 3
            voiceMailUser: 3
    calendarPeriodsEdit_screen: &calendarPeriodsEdit_screenLink
      <<: *CalendarPeriods
      controller: edit
      class: ui-silk-pencil
      label: false
      title: _("Edit %s %2s", ngettext('Calendar Period', 'Calendar Periods', 1), "[format| (%item%)]")
      defaultValues:
        numberCountry: ${auth.companyCountryId}
      fields:
        readOnly:
          calendar: true
        blacklist:
          target: true
      fixedPositions:
        <<: *calendarPeriods_fixedPosLink

  dialogs: &calendarPeriods_dialogsLink
    calendarPeriodsDel_dialog: &calendarPeriodsDel_dialogLink
      <<: *CalendarPeriods
      controller: delete
      class: ui-silk-bin
      labelOption: false
      title: _("Delete %s", ngettext('Calendar Period', 'Calendar Periods', 1))
      description: _("Do you want to delete this %s?", ngettext('Calendar Period', 'Calendar Periods', 1))
      message: _("%s successfully deleted.", ngettext('Calendar Period', 'Calendar Periods', 1))
      multiItem: 1
      labelOnList: 1

staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
