#include conf.d/mapperList.yaml
#include conf.d/actions.yaml

production:
  main:
    module: klearMatrix
    defaultScreen: callForwardSettingsList_screen
  screens: &callForwardSettings_screensLink
    callForwardSettingsList_screen: &callForwardSettingsList_screenLink
      controller: list
      pagination:
        items: 25
      <<: *CallForwardSettings
      class: ui-silk-telephone-go
      title: _("List of %s %2s", ngettext('Call forward setting', 'Call forward settings', 0), "[format| (%parent%)]")
      fields: &callForwardSettingsListFields_Link
        order:
          enabled: true
          ddi: true
          callTypeFilter: true
          callForwardType: true
          targetType: true
          targetTypeValue: true
        options:
          title: _("Options")
          screens:
            callForwardSettingsEdit_screen: ${auth.acls.CallForwardSettings.update}
          dialogs:
            callForwardSettingsDel_dialog: ${auth.acls.CallForwardSettings.delete}
          default: callForwardSettingsEdit_screen
        blacklist: &callForwardSettingsListBlacklist_Link
          numberCountry: true
          numberValue: true
          extension: true
          voiceMailUser: true
          noAnswerTimeout: true
          user: true
          friend: true
          residentialDevice: true
          cfwToretailAccount: true
      options:
        title: _("Options")
        screens:
          callForwardSettingsNew_screen: ${auth.acls.CallForwardSettings.create}
        dialogs:
          callForwardSettingsDel_dialog: ${auth.acls.CallForwardSettings.delete}

    callForwardSettingsNew_screen: &callForwardSettingsNew_screenLink
      <<: *CallForwardSettings
      controller: new
      class: ui-silk-add
      label: true
      multiInstance: true
      title: _("Add %s %2s", ngettext('Call forward setting', 'Call forward settings', 1), "[format| (%parent%)]")
      shortcutOption: N
      defaultValues:
        numberCountry: ${auth.companyCountryId}
      fields: &callForwardSettingsNewFields_Link
        blacklist: &callForwardSettingsNewBlacklist_Link
          targetTypeValue: true
          user: true
          friend: true
          residentialDevice: true
          voiceMailUser: ${auth.companyResidential}
        order: &callForwardSettingsOrder_Link
          enabled: true
          targetType: true
          noAnswerTimeout: true
          ddi: true
      fixedPositions: &callForwardSettingsFixedPositions_Link
        group0:
          colsPerRow: 12
          fields:
            enabled: 4
            callTypeFilter: 4
            callForwardType: 4
            noAnswerTimeout: 4
            ddi: 4
        group1:
          colsPerRow: 6
          fields:
            targetType: 2
            numberCountry: 2
            numberValue: 2
            extension: 3
            voiceMailUser: 3
            cfwToretailAccount: 3

    callForwardSettingsEdit_screen: &callForwardSettingsEdit_screenLink 
      <<: *CallForwardSettings
      controller: edit
      class: ui-silk-pencil
      label: false
      title: _("Edit %s %2s", ngettext('Call forward setting', 'Call forward settings', 1), "[format| (%item%)]")
      defaultValues:
        numberCountry: ${auth.companyCountryId}
      fields: &callForwardSettingsEditFields_Link
        blacklist: &callForwardSettingsEditBlacklist_Link
          targetTypeValue: true
          user: true
          residentialDevice: true
          friend: true
          voiceMailUser: ${auth.companyResidential}
        order:
          <<: *callForwardSettingsOrder_Link
      fixedPositions:
        <<: *callForwardSettingsFixedPositions_Link

  dialogs: &callForwardSettings_dialogsLink
    callForwardSettingsDel_dialog: &callForwardSettingsDel_dialogLink
      <<: *CallForwardSettings
      controller: delete
      class: ui-silk-bin
      labelOption: false
      title: _("Delete %s", ngettext('Call forward setting', 'Call forward settings', 1))
      description: _("Do you want to delete this %s?", ngettext('Call forward setting', 'Call forward settings', 1))
      message: _("%s successfully deleted.", ngettext('Call forward setting', 'Call forward settings', 1))
      multiItem: 1
      labelOnList: 1
staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
