#include conf.d/mapperList.yaml
#include conf.d/actions.yaml
#include conf.d/documentationLink.yaml
#include BalanceNotificationsList.yaml
#include BalanceMovementsList.yaml

production:
  main:
    module: klearMatrix
    defaultScreen: companyBalancesList_screen
  screens: &companyBalances_screensLink
    companyBalancesList_screen: &companyBalancesList_screenLink
      controller: list
      order:
        field:
        - Company.name
        type: asc
      pagination:
        items: 25
      <<: *Companies
      class: ui-silk-building
      title: _("List of %s %2s", ngettext('Current Day Usage', 'Current Day Usages', 0), "[format| (%parent%)]")
      info:
        <<: *documentationLink
        href: "/doc/en/administration_portal/brand/billing/current_day_usages.html"
      forcedValues:
        <<: *forcedBrand
      fields:
        blacklist:
          transformationRuleSet: true
          postalAddress: true
          postalCode: true
          town: true
          province: true
          countryName: true
          outgoingDdi: true
          outgoingDdiE164: true
          outgoingDdiRule: true
          registryData: true
          maxCalls: true
          defaultTimezone: true
          currency: true
          distributeMethod: true
          applicationServer: true
          mediaRelaySets: true
          ipFilter: true
          language: true
          onDemandRecord: true
          onDemandRecordCode: true
          recordingsLimitMB: true
          recordingsLimitEmail: true
          recordingsDiskUsage: true
          voicemailNotificationTemplate: true
          faxNotificationTemplate: true
          invoiceNotificationTemplate: true
          callCsvNotificationTemplate: true
          language: true
          nif: true
          country: true
          domainUsers: true
          relFeatures: true
          showInvoices: true
          balance: true
          billingMethod: true
          maxDailyUsage: true
          allowRecordingRemoval: true
          externallyExtraOpts: true
          relCountries: true
          maxDailyUsageEmail: true
          maxDailyUsageNotificationTemplate: true
        order:
          typeIcon: true
          name: true
          billingMethod: true
          currentDayUsage: true
          currentDayMaxUsage: true
          accountStatus: true

staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
