#include conf.d/mapperList.yaml
#include conf.d/actions.yaml

production:
  main:
    module: klearMatrix
    defaultScreen: extensionsList_screen
  screens: &extensions_screenLink
    extensionsList_screen: &extensionsList_screenLink
      controller: list
      pagination:
        items: 25
      order:
          number: true
      <<: *Extensions
      title: _("List of %s %2s", ngettext('Extension', 'Extensions', 0), "[format| (%parent%)]")
      class: ui-silk-book-open
      forcedValues:
        <<: *forcedCompany
      fields:
        options:
          title: _("Options")
          screens:
            extensionsEdit_screen: true
          dialogs:
            extensionsDel_dialog: true
          default: extensionsEdit_screen
        blacklist:
          ivrId: true
          huntGroupId: true
          userId: true
          conferenceRoomId: true
          numberCountryId: true
          numberValue: true
          friendValue: true
          queueId: true
          conditionalRouteId: true
        order:
          number: true
          routeType: true
          target: true
      options:
        title: _("Options")
        screens:
          extensionsNew_screen: true
        dialogs:
          extensionsDel_dialog: true
          importExtensions_dialog: false

    extensionsNew_screen: &extensionsNew_screenLink
      <<: *Extensions
      controller: new
      class: ui-silk-add
      label: true
      multiInstance: true
      title: _("Add %s", ngettext('Extension', 'Extensions', 1))
      forcedValues:
        <<: *forcedCompany
      shortcutOption: N
      defaultValues:
        numberCountryId: ${auth.companyCountryId}
      fields:
        blacklist:
          target: true
      fixedPositions: &extensionFixedPositions_link
        group0:
          colsPerRow: 2
          fields:
            number: 1
        group1:
          colsPerRow: 6
          fields:
            routeType: 2
            ivrId: 3
            huntGroupId: 3
            conferenceRoomId: 3
            userId: 3
            numberCountryId: 2
            numberValue: 2
            friendValue: 3
            queueId: 3
            conditionalRouteId: 3

    extensionsEdit_screen: &extensionsEdit_screenLink
      <<: *Extensions
      controller: edit
      class: ui-silk-pencil
      label: false
      forcedValues:
        <<: *forcedCompany
      title: _("Edit %s %2s", ngettext('Extension', 'Extensions', 1), "[format| (%item%)]")
      fields:
        blacklist:
          target: true
      fixedPositions:
        <<: *extensionFixedPositions_link
  dialogs: &extensions_dialogsLink
    extensionsDel_dialog: &extensionsDel_dialogLink
      <<: *Extensions
      controller: delete
      class: ui-silk-bin
      labelOption: false
      title: _("Delete %s", ngettext('Extension', 'Extensions', 1))
      description: _("Do you want to delete this %s?", ngettext('Extension', 'Extensions', 1))
      message: _("%s successfully deleted.", ngettext('Extension', 'Extensions', 1))
      multiItem: 1
      labelOnList: 1

    importExtensions_dialog:
      <<: *Extensions
      module: default
      title: _("Import %s", ngettext('Extension', 'Extensions', 0))
      label: false
      labelOnEdit: true
      labelOnList: true
      labelOnOption: true
      labelOnEntityPostSave: true
      controller: import-file
      action: import
      class:  ui-silk-page-gear
      freeUploadCommand: importExtensionsFreeUpload_command
      delimiter: ";"
      enclosure: '"'
      escape: "\\"
      forcedValues:
        company: *forcedCompany

  commands:
    importExtensionsFreeUpload_command:
      <<: *Extensions
      controller: File
      action: free-upload

staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
