#include conf.d/mapperList.yaml
#include conf.d/actions.yaml

production:
  main:
    module: klearMatrix
    defaultScreen: holidayDatesList_screen
  screens: &holidayDates_screensLink
    holidayDatesList_screen: &holidayDatesList_screenLink
      controller: list
      pagination:
        items: 25
      <<: *HolidayDates
      class: ui-silk-calendar-view-day
      title: _("List of %s %2s", ngettext('Holiday date', 'Holiday dates', 0), "[format| (%parent%)]")
      fields:
        blacklist:
          numberCountry: true
          numberValue: true
          extension: true
          voiceMailUser: true
        order:
          name: true
          eventDate: true
          locution: true
          wholeDayEvent: true
          timeIn: true
          timeOut: true
          routeType: true
          target: true
        options:
          title: _("Options")
          screens:
            holidayDatesEdit_screen: true
          dialogs:
            holidayDatesDel_dialog: true
          default: holidayDatesEdit_screen
      options:
        title: _("Options")
        screens:
          holidayDatesNew_screen: true
        dialogs:
          holidayDatesDel_dialog: true
          importHolidayDates_dialog: true
    holidayDatesNew_screen: &holidayDatesNew_screenLink
      <<: *HolidayDates
      controller: new
      class: ui-silk-add
      label: true
      multiInstance: true
      title: _("Add %s %2s", ngettext('Holiday date', 'Holiday dates', 1), "[format| (%parent%)]")
      shortcutOption: N
      defaultValues:
        numberCountry: ${auth.companyCountryId}
      fields:
        blacklist:
          target: true
      fixedPositions: &holidayDates_fixedPosLink
        group0:
          colsPerRow: 2
          fields:
            name: 1
            locution: 1
        group1:
          colsPerRow: 2
          fields:
            eventDate: 1
            wholeDayEvent: 1
            timeIn: 1
            timeOut: 1
        group2:
          colsPerRow: 7
          fields:
            routeType: 4
            numberCountry: 4
            numberValue: 3
            extension: 3
            voiceMailUser: 3
    holidayDatesEdit_screen: &holidayDatesEdit_screenLink
      <<: *HolidayDates
      controller: edit
      class: ui-silk-pencil
      label: false
      title: _("Edit %s %2s", ngettext('Holiday date', 'Holiday dates', 1), "[format| (%item%)]")
      defaultValues:
        numberCountry: ${auth.companyCountryId}
      fields:
        readOnly:
          calendar: true
        blacklist:
          target: true
      fixedPositions:
        <<: *holidayDates_fixedPosLink
  dialogs: &holidayDates_dialogsLink
    holidayDatesDel_dialog: &holidayDatesDel_dialogLink
      <<: *HolidayDates
      controller: delete
      class: ui-silk-bin
      labelOption: false
      title: _("Delete %s", ngettext('Holiday date', 'Holiday dates', 1))
      description: _("Do you want to delete this %s?", ngettext('Holiday date', 'Holiday dates', 1))
      message: _("%s successfully deleted.", ngettext('Holiday date', 'Holiday dates', 1))
      multiItem: 1
      labelOnList: 1
    importHolidayDates_dialog:
      <<: *HolidayDates
      module: default
      title: _("Import %s", ngettext('Holiday date', 'Holiday dates', 0))
      label: false
      labelOnEdit: true
      labelOnList: true
      labelOnOption: true
      labelOnEntityPostSave: true
      controller: import-file
      action: import-holiday-dates
      class:  ui-silk-page-gear
      freeUploadCommand: importHolidayDatesFreeUpload_command
      delimiter: ";"
      enclosure: '"'
      escape: "\\"
      forcedValues:
        calendar: "%parent%"

  commands: &holidayDates_commandsLink
    importHolidayDatesFreeUpload_command:
      <<: *HolidayDates
      controller: File
      action: free-upload

staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
