#include conf.d/mapperList.yaml
#include conf.d/actions.yaml
#include conf.d/documentationLink.yaml
#include AdministratorsList.yaml
#include RatingProfilesList.yaml
#include OutgoingRoutingList.yaml
#include KamUsersAddressList.yaml

production:
  main:
    module: klearMatrix
    defaultScreen: residentialClientsList_screen
  screens: &residentialClients_screensLink
    residentialClientsList_screen: &residentialClientsList_screenLink
      controller: list
      pagination:
        items: 25
      <<: *ResidentialClients
      class: ui-silk-building
      title: _("List of %s %2s", ngettext('Residential Client', 'Residential Clients', 0), "[format| (%parent%)]")
      info:
        <<: *documentationLink
        href: "/doc/en/administration_portal/brand/clients/residential.html"
      forcedValues:
        type: 'residential'
        <<: *forcedBrand
      fields:
        options:
          title: _("Options")
          screens:
            residentialClientsEdit_screen: true
            kamUsersAddressList_screen: true
            administratorsList_screen: true
            ratingProfilesList_screen: ${auth.brandFeatures.billing.enabled}
            outgoingRoutingList_screen: true
          dialogs:
            residentialClientsDel_dialog: false
            emulateCompany_dialog: true
          default: residentialClientsEdit_screen
        blacklist:
          typeIcon: true
          domainUsers: true
          transformationRuleSet: true
          postalAddress: true
          postalCode: true
          town: true
          province: true
          countryName: true
          country: true
          outgoingDdiRule: true
          registryData: true
          maxCalls: true
          defaultTimezone: true
          distributeMethod: true
          applicationServer: true
          mediaRelaySets: true
          ipFilter: true
          language: true
          onDemandRecord: true
          onDemandRecordCode: true
          externallyExtraOpts: true
          type: true
          voicemailNotificationTemplate: true
          faxNotificationTemplate: true
          invoiceNotificationTemplate: true
          callCsvNotificationTemplate: true
          balance: true
          showInvoices: true
        order:
          name: true
          nif: true
          billingMethod: true
          outgoingDDI: true
          relFeatures: true
      options:
        title: _("Options")
        screens:
          residentialClientsNew_screen: true
        dialogs:
          residentialClientsDel_dialog: true
      csv:
        active: false
        filename: "ResidentialClients"
        headers: true
        enclosure: '"'
        separator: ";"
        nameklear: false
        rawValues: true
        ignoreBlackList: true
        newLine: "\r\n"
        encoding: "utf-8"
        executionSeconds: ""

    residentialClientsNew_screen: &residentialClientsNew_screenLink
      <<: *ResidentialClients
      controller: new
      fields:
        blacklist:
          domainUsers: true
          nif: true
          type: true
          typeIcon: true
          postalAddress: true
          postalCode: true
          town: true
          province: true
          countryName: true
          onDemandRecord: true
          onDemandRecordCode: true
          ipFilter: false
          mediaRelaySets: true
          outboundPrefix: true
          distributeMethod: true
          applicationServer: true
          maxCalls: false
          outgoingDdiRule: true
          externallyExtraOpts: true
          balance: true
          voicemailNotificationTemplate: true
          faxNotificationTemplate: true
          invoiceNotificationTemplate: true
          callCsvNotificationTemplate: true
          showInvoices: true
        order: &residentialClientsOrder_Link
          id: true
          name: true
          maxCalls: true
          language: true
          showInvoices: true
          onDemandRecord: true
          voicemailNotificationTemplate: true
          mediaRelaySets: true
          externallyExtraOpts: true
      fixedPositions: &residentialClientsFixedPositions_Link
        group0:
          colsPerRow: 6
          label: _("Basic Configuration")
          fields:
            name: 3
            relFeatures: 3
            billingMethod: 3
            outgoingDDI: 3
        group1:
          colsPerRow: 12
          label: _("Geographic Configuration")
          fields:
            language: 4
            country: 4
            defaultTimezone: 4
            transformationRuleSet: 8
        group2:
          colsPerRow: 2
          label: _("Security")
          fields:
            maxCalls: 1
            ipFilter: 1
      class: ui-silk-add
      label: true
      multiInstance: true
      title: _("Add %s", ngettext('Residential Client', 'Residential Clients', 1))
      shortcutOption: N
      forcedValues:
        type: "residential"
        <<: *forcedBrand
        nif: '12345678-Z'
        postalAddress: 'Postal address'
        postalCode: 'PC'
        town: 'Town'
        countryName: 'Country'
        province: 'Province'

    residentialClientsEdit_screen: &residentialClientsEdit_screenLink
      <<: *ResidentialClients
      controller: edit
      fields:
        blacklist:
          type: true
          typeIcon: true
          domainUsers: true
          distributeMethod: ${auth.isNotMainOperator}
          applicationServer: ${auth.isNotMainOperator}
          mediaRelaySets: ${auth.isNotMainOperator}
          onDemandRecord: ${auth.brandFeatures.recordings.disabled}
          onDemandRecordCode: ${auth.brandFeatures.recordings.disabled}
          nif: ${auth.brandFeatures.invoices.disabled}
          postalAddress: ${auth.brandFeatures.invoices.disabled}
          postalCode: ${auth.brandFeatures.invoices.disabled}
          town: ${auth.brandFeatures.invoices.disabled}
          province: ${auth.brandFeatures.invoices.disabled}
          countryName: ${auth.brandFeatures.invoices.disabled}
          outgoingDdiRule: true
          balance: true
        whitelist:
          id: ${auth.isMainOperator}
        order:
          <<: *residentialClientsOrder_Link
      fixedPositions:
        group0:
          colsPerRow: 12
          label: _("Basic Configuration")
          fields:
            name: 8
            relFeatures: 4
            billingMethod: 4
            outgoingDDI: 6
        group1:
          colsPerRow: 12
          label: _("Geographic Configuration")
          fields:
            language: 4
            country: 4
            defaultTimezone: 4
            transformationRuleSet: 8
        group2:
          colsPerRow: 2
          label: _("Security")
          fields:
            maxCalls: 1
            ipFilter: 1
        group3:
          colsPerRow: 12
          collapsed: true
          label: _("Platform data")
          fields:
            mediaRelaySets: 4
            distributeMethod: 4
            applicationServer: 4
        group4:
          colsPerRow: 12
          collapsed: true
          label: _("Invoice data")
          fields:
            showInvoices: 6
            nif: 6
            postalAddress: 8
            postalCode: 4
            town: 4
            province: 4
            countryName: 4
        group5:
          colsPerRow: 12
          label: ngettext('Recording', 'Recordings', 0)
          collapsed: true
          fields:
            onDemandRecord: 6
            onDemandRecordCode: 6
        group6:
          colsPerRow: 1
          collapsed: true
          label: _("Externally rater options")
          fields:
            externallyExtraOpts: 1
        group7:
          colsPerRow: 2
          collapsed: true
          label: _("Notification options")
          fields:
            voicemailNotificationTemplate: 1
            faxNotificationTemplate: 1
            invoiceNotificationTemplate: 1
            callCsvNotificationTemplate: 1
      class: ui-silk-pencil
      label: false
      title: _("Edit %s %2s", ngettext('Residential Client', 'Residential Clients', 1), "[format| (%item%)]")
      forcedValues:
        <<: *forcedBrand

    # Administrators
    <<: *administrators_screensLink
    administratorsList_screen:
      <<: *administratorsList_screenLink
      class: ui-silk-user-gray
      title: _("List of %s %2s", ngettext('Client admin', 'Client admins', 0), "[format| (%parent%)]")
      filterField: Company
      parentOptionCustomizer:
        - recordCount
    administratorsNew_screen:
      <<: *administratorsNew_screenLink
      title: _("Add %s", ngettext('Client admin', 'Client admins', 1), "[format| (%parent%)]")
      filterField: Company
      forcedValues:
        <<: *forcedBrand
    administratorsEdit_screen:
      <<: *administratorsEdit_screenLink
      title: _("Edit %s %2s", ngettext('Client admin', 'Client admins', 1), "[format| (%item%)]")
      filterField: Company
      forcedValues:
        <<: *forcedBrand

    # Rating Profiles:
    <<: *ratingProfiles_screensLink
    ratingProfilesList_screen:
      <<: *ratingProfilesList_screenLink
      filterField: company
      forcedValues:
        "self::routingTag": null
      parentOptionCustomizer:
        - recordCount
    ratingProfilesNew_screen:
      <<: *ratingProfilesNew_screenLink
      forcedValues:
        "self::routingTag": null
      filterField: company
    ratingProfilesEdit_screen:
      <<: *ratingProfilesEdit_screenLink
      filterField: company
      forcedValues:
        "self::routingTag": null

    # outgoingRouting
    <<: *outgoingRouting_screensLink
    outgoingRoutingList_screen:
      <<: *outgoingRoutingList_screenLink
      filterField: company
      parentOptionCustomizer:
        - recordCount
    outgoingRoutingNew_screen:
      <<: *outgoingRoutingNew_screenLink
      filterField: company
    outgoingRoutingEdit_screen:
      <<: *outgoingRoutingEdit_screenLink
      filterField: company

    #kamUsersAddress:
    kamUsersAddressList_screen:
      <<: *kamUsersAddressList_screenLink
      filterField: company
      parentOptionCustomizer:
        - recordCount
    kamUsersAddressNew_screen:
      <<: *kamUsersAddressNew_screenLink
      filterField: company
    kamUsersAddressEdit_screen:
      <<: *kamUsersAddressEdit_screenLink
      filterField: company

  dialogs: &residentialClients_dialogsLink
    residentialClientsDel_dialog: &residentialClientsDel_dialogLink
      <<: *ResidentialClients
      controller: delete
      secureDelete: true
      class: ui-silk-bin
      labelOption: false
      title: _("Delete %s", ngettext('Residential Client', 'Residential Clients', 1))
      description: _("Do you want to delete this %s?", ngettext('Residential Client', 'Residential Clients', 1))
      message: _("%s successfully deleted.", ngettext('Residential Client', 'Residential Clients', 1))
      multiItem: 1
      labelOnList: 1

    emulateCompany_dialog:
      title: _("Emulate Residential Client %s", "[format| (%item%)]")
      module: default
      controller: klear-custom-extra-auth
      action: emulate
      class: ui-silk-house-go
      label: false
      labelOnEdit: false
      labelOnList: false
      labelOnEntityPostSave: false
      multiItem: false
      parentOptionCustomizer:
        - IvozProvider_Klear_Options_OptionsCustomizer

    # ratingProfiles:
    <<: *ratingProfiles_dialogsLink

    # Administrators dialogs
    <<: *administrators_dialogsLink
    administratorsDel_dialog:
      <<: *administratorsDel_dialogLink
      title: _("Delete %s", ngettext('Client admin', 'Client admins', 1))
      description: _("Do you want to delete this %s?", ngettext('Client admin', 'Client admins', 1))
      message: _("%s successfully deleted.", ngettext('Client admin', 'Client admins', 1))

    # outgoingRouting dialogs:
    <<: *outgoingRouting_dialogsLink

    # kamUsersAddress dialogs:
    <<: *kamUsersAddress_dialogsLink

staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
