#include conf.d/mapperList.yaml
#include conf.d/actions.yaml
#include conf.d/documentationLink.yaml
#include RatingProfilesList.yaml
#include AdministratorsList.yaml
#include KamTrustedList.yaml

production:
  main:
    module: klearMatrix
    defaultScreen: wholesaleClientsList_screen
  screens: &wholesaleClients_screensLink
    wholesaleClientsList_screen: &wholesaleClientsList_screenLink
      controller: list
      pagination:
        items: 25
      <<: *WholesaleClients
      class: ui-silk-cart
      title: _("List of %s %2s", ngettext('Wholesale Client', 'Wholesale Clients', 0), "[format| (%parent%)]")
      info:
        <<: *documentationLink
        href: "/doc/en/administration_portal/brand/clients/wholesale.html"
      forcedValues:
        type: 'wholesale'
        <<: *forcedBrand
      fields:
        options:
          title: _("Options")
          screens:
            wholesaleClientsEdit_screen: true
            kamTrustedList_screen: true
            administratorsList_screen: true
            ratingProfilesList_screen: ${auth.brandFeatures.billing.enabled}
          dialogs:
            wholesaleClientsDel_dialog: false
            emulateCompany_dialog: true
          default: wholesaleClientsEdit_screen
        blacklist:
          typeIcon: true
          transformationRuleSet: true
          postalAddress: true
          postalCode: true
          town: true
          province: true
          countryName: true
          registryData: true
          defaultTimezone: true
          mediaRelaySets: true
          language: true
          balance: true
          maxCalls: true
          recordingsDiskUsage: true
          externallyExtraOpts: true
          showInvoices: true
          invoiceNotificationTemplate: true
          callCsvNotificationTemplate: true
        order:
          name: true
          nif: true
          outgoingDDI: true
          billingMethod: true
          relRoutingTags: true
          relCodecs: true
      options:
        title: _("Options")
        screens:
          wholesaleClientsNew_screen: true
        dialogs:
          wholesaleClientsDel_dialog: true
      csv:
        active: false
        filename: "WholesaleClients"
        headers: true
        enclosure: '"'
        separator: ";"
        nameklear: false
        rawValues: true
        ignoreBlackList: true
        newLine: "\r\n"
        encoding: "utf-8"
        executionSeconds: ""

    wholesaleClientsNew_screen: &wholesaleClientsNew_screenLink
      <<: *WholesaleClients
      controller: new
      fields:
        blacklist:
          nif: true
          type: true
          typeIcon: true
          postalAddress: true
          postalCode: true
          town: true
          province: true
          countryName: true
          mediaRelaySets: true
          maxCalls: false
          externallyExtraOpts: true
          showInvoices: true
          invoiceNotificationTemplate: true
          callCsvNotificationTemplate: true
        order: &wholesaleClientsOrder_Link
          id: true
          name: true
          maxCalls: true
          language: true
          relRoutingTags: true
          showInvoices: true
          onDemandRecord: true
          invoiceNotificationTemplate: true
          mediaRelaySets: true
          externallyExtraOpts: true
      fixedPositions: &wholesaleClientsFixedPositions_Link
        group0:
          colsPerRow: 6
          label: _("Basic Configuration")
          fields:
            name: 3
            billingMethod: 3
        group1:
          colsPerRow: 2
          label: _("Security")
          fields:
            maxCalls: 1
        group2:
          colsPerRow: 12
          label: _("Geographic Configuration")
          fields:
            language: 4
            defaultTimezone: 4
            transformationRuleSet: 8
        group3:
          colsPerRow: 12
          label: _("Wholesale specific")
          fields:
            relRoutingTags: 6
            relCodecs: 6
      class: ui-silk-add
      label: true
      multiInstance: true
      title: _("Add %s", ngettext('Wholesale Client', 'Wholesale Clients', 1))
      shortcutOption: N
      forcedValues:
        type: "wholesale"
        <<: *forcedBrand
        nif: '12345678-Z'
        postalAddress: 'Postal address'
        postalCode: 'PC'
        town: 'Town'
        countryName: 'Country'
        province: 'Province'

    wholesaleClientsEdit_screen: &wholesaleClientsEdit_screenLink
      <<: *WholesaleClients
      controller: edit
      fields:
        blacklist:
          type: true
          typeIcon: true
          mediaRelaySets: ${auth.isNotMainOperator}
          nif: ${auth.brandFeatures.invoices.disabled}
          postalAddress: ${auth.brandFeatures.invoices.disabled}
          postalCode: ${auth.brandFeatures.invoices.disabled}
          town: ${auth.brandFeatures.invoices.disabled}
          province: ${auth.brandFeatures.invoices.disabled}
          countryName: ${auth.brandFeatures.invoices.disabled}
        whitelist:
          id: ${auth.isMainOperator}
        order:
          <<: *wholesaleClientsOrder_Link
      fixedPositions:
        group0:
          colsPerRow: 6
          label: _("Basic Configuration")
          fields:
            name: 3
            billingMethod: 3
        group1:
          colsPerRow: 2
          label: _("Security")
          fields:
            maxCalls: 1
        group2:
          colsPerRow: 12
          label: _("Geographic Configuration")
          fields:
            language: 4
            defaultTimezone: 4
            transformationRuleSet: 4
        group3:
          colsPerRow: 12
          label: _("Wholesale specific")
          fields:
            relRoutingTags: 6
            relCodecs: 6
        group4:
          colsPerRow: 12
          label: _("Invoice data")
          collapsed: true
          fields:
            showInvoices: 6
            nif: 6
            postalAddress: 8
            postalCode: 4
            town: 4
            province: 4
            countryName: 4
        group5:
          colsPerRow: 12
          collapsed: true
          label: _("Platform data")
          fields:
            mediaRelaySets: 4
        group6:
          colsPerRow: 1
          collapsed: true
          label: _("Externally rater options")
          fields:
            externallyExtraOpts: 1
        group7:
          colsPerRow: 2
          collapsed: true
          label: _("Notification options")
          fields:
            invoiceNotificationTemplate: 1
            callCsvNotificationTemplate: 1
      class: ui-silk-pencil
      label: false
      title: _("Edit %s %2s", ngettext('Wholesale Client', 'Wholesale Clients', 1), "[format| (%item%)]")
      forcedValues:
        <<: *forcedBrand

    # Administrators screens
    <<: *administrators_screensLink
    administratorsList_screen:
      <<: *administratorsList_screenLink
      class: ui-silk-user-gray
      title: _("List of %s %2s", ngettext('Client admin', 'Client admins', 0), "[format| (%parent%)]")
      filterField: Company
      parentOptionCustomizer:
        - recordCount
    administratorsNew_screen:
      <<: *administratorsNew_screenLink
      title: _("Add %s", ngettext('Client admin', 'Client admins', 1), "[format| (%parent%)]")
      filterField: Company
      forcedValues:
        <<: *forcedBrand
    administratorsEdit_screen:
      <<: *administratorsEdit_screenLink
      title: _("Edit %s %2s", ngettext('Client admin', 'Client admins', 1), "[format| (%item%)]")
      filterField: Company
      forcedValues:
        <<: *forcedBrand

    # KamTrusted Address screens
    <<: *kamTrusted_screensLink
    kamTrustedList_screen:
      <<: *kamTrustedList_screenLink
      class: ui-silk-door-in
      title: _("List of %s %2s", ngettext('Wholesale Address', 'Wholesale Addresses', 0), "[format| (%parent%)]")
      info:         # Disable info box @TODO
      rawCondition: # Disable raw condtion filtering @TODO
      filterField: Company
      parentOptionCustomizer:
        - recordCount
    kamTrustedNew_screen:
      <<: *kamTrustedNew_screenLink
      title: _("Add %s", ngettext('Wholesale Address', 'Wholesale Addresses', 1), "[format| (%parent%)]")
      filterField: Company
    kamTrustedEdit_screen:
      <<: *kamTrustedEdit_screenLink
      title: _("Edit %s %2s", ngettext('Wholesale Address', 'Wholesale Addresses', 1), "[format| (%item%)]")
      filterField: Company

    # Rating Profile:
    <<: *ratingProfiles_screensLink
    ratingProfilesList_screen:
      <<: *ratingProfilesList_screenLink
      filterField: company
      parentOptionCustomizer:
        - recordCount
    ratingProfilesNew_screen:
      <<: *ratingProfilesNew_screenLink
      filterField: company
    ratingProfilesEdit_screen:
      <<: *ratingProfilesEdit_screenLink
      filterField: company

  dialogs: &wholesaleClients_dialogsLink
    wholesaleClientsDel_dialog: &wholesaleClientsDel_dialogLink
      <<: *WholesaleClients
      controller: delete
      secureDelete: true
      class: ui-silk-bin
      labelOption: false
      title: _("Delete %s", ngettext('Wholesale Client', 'Wholesale Clients', 1))
      description: _("Do you want to delete this %s?", ngettext('Wholesale Client', 'Wholesale Clients', 1))
      message: _("%s successfully deleted.", ngettext('Wholesale Client', 'Wholesale Clients', 1))
      multiItem: 1
      labelOnList: 1

    emulateCompany_dialog:
      title: _("Emulate Wholesale Client %s", "[format| (%item%)]")
      module: default
      controller: klear-custom-extra-auth
      action: emulate
      class: ui-silk-cart-go
      label: false
      labelOnEdit: false
      labelOnList: false
      labelOnEntityPostSave: false
      multiItem: false
      parentOptionCustomizer:
        - IvozProvider_Klear_Options_OptionsCustomizer

    # Administrators dialogs
    <<: *administrators_dialogsLink
    administratorsDel_dialog:
      <<: *administratorsDel_dialogLink
      title: _("Delete %s", ngettext('Wholesale admin', 'Wholesale admins', 1))
      description: _("Do you want to delete this %s?", ngettext('Wholesale admin', 'Wholesale admins', 1))
      message: _("%s successfully deleted.", ngettext('Wholesale admin', 'Wholesale admins', 1))

    # KamTrusted dialogs
    <<: *kamTrusted_dialogsLink
    kamTrustedDel_dialog:
      <<: *kamTrustedDel_dialogLink
      title: _("Delete %s", ngettext('Wholesale admin', 'Wholesale admins', 1))
      description: _("Do you want to delete this %s?", ngettext('Wholesale admin', 'Wholesale admins', 1))
      message: _("%s successfully deleted.", ngettext('Wholesale admin', 'Wholesale admins', 1))

    # ratingProfiles:
    <<: *ratingProfiles_dialogsLink

staging:
  _extends: production
testing:
  _extends: production
development:
  _extends: production
localdev:
  _extends: production
