

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Cuentas minoristas &mdash; documentación de IvozProvider - tempest</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../../_static/css/theme.css" type="text/css" />
  

  
    <link rel="stylesheet" href="../../../_static/banner.css" type="text/css" />
  

  
        <link rel="index" title="Índice"
              href="../../../genindex.html"/>
        <link rel="search" title="Búsqueda" href="../../../search.html"/>
    <link rel="top" title="documentación de IvozProvider - tempest" href="../../../index.html"/>
        <link rel="up" title="Vistas" href="index.html"/>
        <link rel="next" title="Dispositivos residenciales" href="residential_devices.html"/>
        <link rel="prev" title="DDIs" href="ddis.html"/> 

  
  <script src="../../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../../index.html" class="icon icon-home"> IvozProvider
          

          
          </a>

          
            
            
              <div class="version">
                4.6
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <p class="caption"><span class="caption-text">Basic Concepts</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../basic_concepts/intro/index.html">Introducción a IvozProvider</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../basic_concepts/architecture/index.html">Arquitectura general de la plataforma</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../basic_concepts/installation/index.html">Instalación inicial</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../basic_concepts/operation_roles/index.html">Roles de la plataforma</a></li>
</ul>
<p class="caption"><span class="caption-text">Getting Started</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../getting_started/internal_calls/index.html">Realizando llamadas internas</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../getting_started/external_incoming_calls/index.html">Recibiendo llamadas externas</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../getting_started/external_outgoing_calls/index.html">Realizando llamadas externas</a></li>
</ul>
<p class="caption"><span class="caption-text">Administration portal</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../platform/index.html">Configuración de la Plataforma</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">Configuración de Marca</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../clients/index.html">Clientes</a></li>
<li class="toctree-l2"><a class="reference internal" href="../providers/index.html">Proveedores</a></li>
<li class="toctree-l2"><a class="reference internal" href="../routing/index.html">Enrutamiento</a></li>
<li class="toctree-l2"><a class="reference internal" href="../billing/index.html">Tarificación</a></li>
<li class="toctree-l2"><a class="reference internal" href="../invoicing/index.html">Facturación</a></li>
<li class="toctree-l2"><a class="reference internal" href="../calls/index.html">Llamadas</a></li>
<li class="toctree-l2"><a class="reference internal" href="../settings/index.html">Configuraciones</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.html">Vistas</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="ddis.html">DDIs</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Cuentas minoristas</a></li>
<li class="toctree-l3"><a class="reference internal" href="residential_devices.html">Dispositivos residenciales</a></li>
<li class="toctree-l3"><a class="reference internal" href="users.html">Usuarios</a></li>
<li class="toctree-l3"><a class="reference internal" href="ipfilter_blocked_addresses.html">Direcciones bloqueadas por filtro IP</a></li>
<li class="toctree-l3"><a class="reference internal" href="bruteforce_attacks.html">Ataques de fuerza bruta</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../client/index.html">Configuración del Cliente</a></li>
</ul>
<p class="caption"><span class="caption-text">Specific portals</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../user_portal/index.html">Portal de Usuario</a></li>
</ul>
<p class="caption"><span class="caption-text">Security and Maintenance</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../security_and_maintenance/security/index.html">Seguridad</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../security_and_maintenance/maintenance/index.html">Solución de problemas</a></li>
</ul>
<p class="caption"><span class="caption-text">Rest API</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../api_rest/introduction.html">Introducción a la API de IvozProvider</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../api_rest/multilevel.html">API multinivel</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../api_rest/web_client.html">Cliente web incorporado</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../api_rest/integrations.html">Integraciones de terceros</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../api_rest/use_case.html">Caso de Uso</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../api_rest/acls.html">ACLs</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../../index.html">IvozProvider</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../../index.html">Docs</a> &raquo;</li>
      
          <li><a href="../index.html">Configuración de Marca</a> &raquo;</li>
      
          <li><a href="index.html">Vistas</a> &raquo;</li>
      
    <li>Cuentas minoristas</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../../_sources/administration_portal/brand/views/retail_accounts.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="retail-accounts">
<h1>Cuentas minoristas<a class="headerlink" href="#retail-accounts" title="Enlazar permanentemente con este título">¶</a></h1>
<p>Esta sección lista <strong>todas las cuentas minoristas existentes</strong> de cada cliente minorista de la marca.</p>
<p>Como todas las cuentas minoristas de todos los clientes minoristas usan el mismo dominio SIP (dominio SIP de la marca), se debe evitar la colisión usando algún tipo de secuencia numérica. Esta sección puede ser útil para este propósito.</p>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="residential_devices.html" class="btn btn-neutral float-right" title="Dispositivos residenciales" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="ddis.html" class="btn btn-neutral" title="DDIs" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2016-2019, Irontec.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  
<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
        <span class="fa fa-book"> Other Versions</span>
        v: main
        <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
        <dl>
            <dt>Branches</dt>
            <dd><a href="../../../../artemis/administration_portal/brand/views/retail_accounts.html">artemis</a></dd>
            <dd><a href="../../../../halliday/administration_portal/brand/views/retail_accounts.html">halliday</a></dd>
            <dd><a href="retail_accounts.html">main</a></dd>
            <dd><a href="../../../../oasis/index.html">oasis</a></dd>
            <dd><a href="../../../../tempest/administration_portal/brand/views/retail_accounts.html">tempest</a></dd>
        </dl>
    </div>
</div>


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../../',
            VERSION:'tempest',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../../_static/doctools.js"></script>
      <script type="text/javascript" src="../../../_static/translations.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>