includes:
    - phpstan-baseline.neon

parameters:
    scanDirectories:
        - %currentWorkingDirectory%/vendor/swoole/ide-helper/output/swoole/namespace/
    ignoreErrors:
        - '#Constant SWOOLE.* not found#'