Source: oasis-app-user-webapp
Section: php
Priority: optional
Build-Depends: debhelper, nodejs, npm, ruby-compass, git
Standards-Version: 3.9.6
Maintainer: Irontec OASIS Team <oasis@irontec.com>

Package: oasis-app-user-webapp
Architecture: all
Section: php
Priority: optional
Depends: klear
Homepage: http://www.irontec.com
Description: OASIS - User Webapp - Zendframework application
 User webapp using klear and zendframework 1
 .

