#!/usr/bin/make -f

override_dh_auto_build:
	# Install basic node modules
	npm install bower grunt-cli karma grunt-karma
	npm install 
	node_modules/bower/bin/bower install --allow-root
	node_modules/grunt-cli/bin/grunt build 
	rm -f dist/.htaccess

%:
	dh $@
