production: 
  class: \IvozProvider\Model\ApplicationServers
  fields: 
    ip: 
      title: _('Ip')
      type: text
      required: true
      default: true
    name: 
      title: ngettext('Name', 'Names', 1)
      type: text
      maxLength: 64
staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
