production: 
  class: \IvozProvider\Model\KamDispatcher
  fields: 
    setid: 
      title: _('Setid')
      type: number
      defaultValue: 0
      source: 
        control: Spinner
      default: true
    destination: 
      title: _('Destination')
      type: text
      defaultValue: 
      maxLength: 192
    flags: 
      title: _('Flag')
      type: number
      defaultValue: 0
      source: 
        control: Spinner
    priority: 
      title: _('Priority')
      type: number
      defaultValue: 0
      source: 
        control: Spinner
    attrs: 
      title: _('Attr')
      type: text
      defaultValue: 
      maxLength: 128
    description: 
      title: ngettext('Description', 'Descriptions', 1)
      type: text
      defaultValue: 
      maxLength: 64
    applicationServerId: 
      title: _('Applicationserverid')
      type: select
      required: true
      source: 
        data: mapper
        config: 
          mapperName: \IvozProvider\Mapper\Sql\ApplicationServers
          fieldName: 
            fields: 
              - name
            template: '%name%'
          order: name
staging: 
  _extends: production
testing: 
  _extends: production
development: 
  _extends: production
localdev: 
  _extends: production
