Source: oasis-app-portals
Section: php
Priority: optional
Build-Depends: debhelper
Standards-Version: 3.9.6
Maintainer: Irontec OASIS Team <oasis@irontec.com>

Package: oasis-app-portals
Architecture: all
Section: php
Priority: optional
Depends: klear, oasis-data-library
Homepage: http://www.irontec.com
Description: OASIS - Portals - Zendframework application
 Portals using klear and zendframework 1
 .

