Source: ivozprovider
Section: php
Priority: optional
Build-Depends: debhelper, dh-systemd,
    nodejs, ruby-compass, git, openssh-client, curl, php7.0,
    python, make, python-sphinx-rtd-theme, gettext,
    python-sphinx (>=1.4.6), sphinx-common (>=1.4.6), libjs-sphinxdoc (>=1.4.6),
    libjs-jquery (>=1.11.3), python-alabaster (>=0.7.8), composer,
    php7.0-mbstring, php7.0-xml, php7.0-zip, php-mailparse, php-gearman
Standards-Version: 3.9.6
Maintainer: Irontec IvozProvider Team <ivozprovider@irontec.com>

Package: ivozprovider
Architecture: all
Section: admin
Priority: optional
Depends: debconf, po-debconf,
    ivozprovider-profile-as (=${binary:Version}),
    ivozprovider-profile-data (=${binary:Version}),
    ivozprovider-profile-proxy (=${binary:Version}),
    ivozprovider-profile-portal (=${binary:Version}),
    ivozprovider-kamailio-users (=${binary:Version}),
    ivozprovider-kamailio-trunks (=${binary:Version}),
    ivozprovider-recordings (=${binary:Version}),
    ivozprovider-rtpengine
Homepage: http://www.irontec.com
Description: IVOZ Provider - Virtual standalone package
 .

Package: ivozprovider-profile-common
Architecture: all
Section: admin
Priority: optional
Depends: po-debconf, vim, sudo, htop, vlan, tcpdump, ngrep, screen, ssh, tree, conntrack
Homepage: http://www.irontec.com
Description: IVOZ Provider - Common configuration files
 Files includes in this package are common to all IVOZ Provider systems
 .
 This package is used to:
  - System wide configuration files
  - Environment configuration requests (testing, production, ..)
 .

Package: ivozprovider-profile-as
Architecture: all
Section: admin
Priority: optional
Pre-Depends: libmyodbc, unixodbc
Depends: ivozprovider-profile-common (=${binary:Version}),
    ivozprovider-asterisk-agi (=${binary:Version}),
    ivozprovider-asterisk-config (=${binary:Version}),
    ivozprovider-asterisk-sounds,
    ivozprovider-asterisk,
    php7.0-igbinary,
    php-gearman,
    sngrep,
    ghostscript,
    libtiff-tools
Homepage: http://www.irontec.com
Description: IVOZ Provider - Profile for Application Servers
 .

Package: ivozprovider-profile-data
Architecture: all
Section: admin
Priority: optional
Pre-Depends: bind9, mysql-server
Depends: ivozprovider-profile-common (=${binary:Version}),
    ivozprovider-scheme (=${binary:Version}),
    ivozprovider-balances (=${binary:Version}),
    libstring-crc32-perl,
    libgearman-client-perl,
    redis-server
Homepage: http://www.irontec.com
Description: IVOZ Provider - Data System Profile
 .

Package: ivozprovider-profile-portal
Architecture: all
Section: admin
Priority: optional
Depends: ivozprovider-profile-common (=${binary:Version}),
    ivozprovider-doc (=${binary:Version}),
    ivozprovider-async-workers (=${binary:Version}),
    ivozprovider-scheduler (=${binary:Version}),
    apache2,
    ssl-cert,
    php-gearman,
    php7.0,
    php-igbinary,
    php7.0-mysql,
    php-imagick,
    php7.0-mbstring,
    php7.0-curl,
    php-yaml,
    php7.0-gd,
    ivozprovider-web-admin (=${binary:Version}),
    ivozprovider-web-user (=${binary:Version}),
    gearman-job-server,
    gearman,
    supervisor,
    libav-tools,
    sox,
    libsox-fmt-mp3
Homepage: http://www.irontec.com
Description: IVOZ Provider - Portal System Profile
 .

Package: ivozprovider-profile-proxy
Architecture: all
Section: admin
Priority: optional
Depends: ivozprovider-profile-common (=${binary:Version}),
        sngrep,
        mysql-client,
        netcat-openbsd,
        ssl-cert,
        ivozprovider-kamailio,
        ivozprovider-kamailio-json-modules,
        ivozprovider-kamailio-mysql-modules,
        ivozprovider-kamailio-tls-modules,
        ivozprovider-kamailio-xml-modules,
        ivozprovider-kamailio-websocket-modules,
        ivozprovider-kamailio-presence-modules,
        ivozprovider-kamailio-extra-modules,
        ivozprovider-kamailio-utils-modules,
        ivozprovider-kamailio-trunks (=${binary:Version}),
        ivozprovider-kamailio-users (=${binary:Version}),
        ivozprovider-recordings (=${binary:Version}),
        ivozprovider-cgrates,
        ivozprovider-cgrates-tools,
        ivozprovider-cgrates-config (=${binary:Version}),
        ivozprovider-rtpengine
Homepage: http://www.irontec.com
Description: IVOZ Provider - Profile files for a Proxy Systems
 .

Package: ivozprovider-kamailio-users
Architecture: all
Section: admin
Priority: optional
Homepage: http://www.irontec.com
Description: IVOZ Provider - Kamailio - Configuration files for Users kamailio
  This package include all requires files to configure kamailio properly
  for a users proxy.
 .

Package: ivozprovider-kamailio-trunks
Architecture: all
Section: admin
Priority: optional
Homepage: http://www.irontec.com
Description: IVOZ Provider - Kamailio - Configuration files for Trunks proxy kamailio
  This package include all requires files to configure kamailio properly
  for a trunks proxy.
 .

Package: ivozprovider-asterisk-config
Architecture: all
Section: admin
Priority: optional
Homepage: http://www.irontec.com
Description: IVOZ Provider - Asterisk - Configuration files
 This package includes all config files found in /etc
 that will require asterisk to run properly.
 .
 This files include driver and modules configurations and
 diaplan context files.
 .

Package: ivozprovider-asterisk-agi
Architecture: all
Section: php
Priority: optional
Depends: ivozprovider-common-library (=${binary:Version})
Homepage: http://www.irontec.com
Description: IVOZ Provider - Asterik - Gateway Interface Zend Application
 .

Package: ivozprovider-scheme
Architecture: all
Section: database
Priority: optional
Pre-Depends: ivozprovider-common-library (=${binary:Version}), bind9, php7.0-mysql, php7.0-xml, mysql-server
Homepage: http://www.irontec.com
Description: IVOZ Provider - Database Scheme
 .

Package: ivozprovider-web-admin
Architecture: all
Section: php
Priority: optional
Conflicts: ivozprovider-portals
Depends: klear, ivozprovider-common-library (=${binary:Version}), ivozprovider-web-rest (=${binary:Version}), zendframework, libxrender1
Homepage: http://www.irontec.com
Description: IVOZ Provider - Admin Web - Klear based web interface
 Portals using klear and zendframework 1
 .

Package: ivozprovider-web-user
Architecture: all
Section: php
Priority: optional
Conflicts: ivozprovider-userweb
Depends: ivozprovider-web-admin (=${binary:Version})
Homepage: http://www.irontec.com
Description: IVOZ Provider - User Web - Angular based user web interface
 User webapp using Angular and Bootstrap
 .

Package: ivozprovider-web-rest
Architecture: all
Section: php
Priority: optional
Depends: ivozprovider-common-library (=${binary:Version}), apache2, libapache2-mod-php7.0
Homepage: http://www.irontec.com
Description: IVOZ Provider - Rest API files
 .

Package: ivozprovider-common-library
Architecture: all
Section: php
Depends: php7.0-cli, php7.0-mysql, php7.0-mbstring, php7.0-xml, acl, klear-library, php-mailparse, php7.0-intl
Provides: ivozprovider-data-library
Conflicts: ivozprovider-data-library
Priority: optional
Homepage: http://www.irontec.com
Description: IVOZ Provider - Mappers and Models for Zend applications
 .

Package: ivozprovider-recordings
Architecture: all
Priority: optional
Depends: ivozprovider-common-library (=${binary:Version}),
    libav-tools
Homepage: http://www.irontec.com
Description: IVOZ Provider - Recordings - Symfony microservice
 Recordings Microservice for encoding storage recordings
 .

Package: ivozprovider-async-workers
Architecture: all
Priority: optional
Depends: ivozprovider-common-library (=${binary:Version}), php-gearman
Homepage: http://www.irontec.com
Description: IVOZ Provider - Async Workers - Symfony microservice
 .

Package: ivozprovider-scheduler
Architecture: all
Priority: optional
Depends: ivozprovider-common-library (=${binary:Version})
Homepage: http://www.irontec.com
Description: IVOZ Provider - Scheduled tasks runner - Symfony microservice
 .

Package: ivozprovider-balances
Architecture: all
Priority: optional
Depends: ivozprovider-common-library (=${binary:Version}), php-gearman
Homepage: http://www.irontec.com
Description: IVOZ Provider - Rating updater - Symfony microservice
  .

Package: ivozprovider-doc
Architecture: all
Priority: optional
Homepage: http://www.irontec.com
Description: IVOZ Provider - HTML Documentation
 Generated documentation with sphinx using Read the Docs theme.
 .

Package: ivozprovider-cgrates-config
Architecture: all
Section: admin
Priority: optional
Homepage: http://www.irontec.com
Description: IVOZ Provider - CGrateS - Configuration files
 This package includes all config files found in /etc
 that will require cgrates to run properly.
 .
