#!/bin/bash
# Source debconf library.
. /usr/share/debconf/confmodule

# Environment file
ENVFILE="/etc/systemd/system.conf"

## Get environment
db_input high ivozprovider/environment             || true
db_go                                              || true

# Set configured environment
grep APPLICATION_ENV $ENVFILE &>/dev/null
if [ "$1" == "configure" ] || [ $? -ne 0 ]; then
        # Get Environment
        db_get ivozprovider/environment            || true
        ENV=$RET

        grep "APPLICATION_ENV" $ENVFILE &>/dev/null
        if [ $? -eq 0 ]; then
            grep "APPLICATION_ENV=$ENV" $ENVFILE &>/dev/null
            # enviroment set but different
            if [ $? -ne 0 ]; then
                # update existing environment
                sed -i "s/APPLICATION_ENV=.*/APPLICATION_ENV=$ENV/g" $ENVFILE
            fi
        else
            # Set Applications Environment
            echo "DefaultEnvironment=APPLICATION_ENV=$ENV" >> $ENVFILE
        fi
fi

# Set current environment
export $(systemctl show-environment)

:
