#!/bin/bash

# Source debconf library.
. /usr/share/debconf/confmodule

#######################################################################################################################
#######################################################################################################################

# Show Configuration general menu
function show_menu_options()
{
    while [ 1 ]; do
        # Display configuration menu
        db_input high ivozprovider/menu_data                || true
        db_go                                               || true
        # Exec the menu entry callback
        db_get ivozprovider/menu_data                       || true
        OPTION=$RET

        # Run selected option
        [ "$OPTION" == "configure_finish" ] && break
        eval $OPTION
    done
}

function configure_dns_menu()
{
    while [ 1 ]; do
        # Display configuration menu
        db_input high ivozprovider/menu_dns_server          || true
        db_go                                               || true
        # Exec the menu entry callback
        db_get ivozprovider/menu_dns_server                 || true
        OPTION=$RET

        # Run selected option
        [ "$OPTION" == "configure_back" ] && break
        eval $OPTION
    done
}

function configure_mysql_password()
{
    # Request MySQL root password
    db_input high ivozprovider/mysql_password               || true
    db_go                                                   || true
    db_get ivozprovider/mysql_password                      || true
    MYSQL_PASS=$RET

    # Request MySQL root password confirmation
    db_input high ivozprovider/mysql_password_confirm       || true
    db_go                                                   || true
    db_get ivozprovider/mysql_password_confirm              || true
    MYSQL_PASS_CONFIRM=$RET

    # Check both passwords are the same
    if [ "$MYSQL_PASS" != "$MYSQL_PASS_CONFIRM" ]; then
        db_input high ivozprovider/mysql_password_error     || true
        db_go                                               || true
        configure_mysql_password
    else
        # Set password used by mysql-server package
        db_set mysql-community-server/root-pass $MYSQL_PASS
        db_set mysql-community-server/re-root-pass $MYSQL_PASS
    fi
}

function check_valid_ip4()
{
    # Expect 4 number seperaded by dots
    if [[  "$1" =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
        # Each number must not be greater than 255
        for I in 1 2 3 4; do
            if [ $(echo "$1" | cut -d. -f$I) -gt 255 ]; then
                return 1    # invalid segment digits
            fi
        done
        return 0            # valid
    else
        return 1            # invalid ip4 dot format
    fi
}

function configure_dns_address()
{
    # Rquest Kamailio users listen address
    db_input high ivozprovider/dns_address                  || true
    db_go                                                   || true
    db_get ivozprovider/dns_address                         || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input high ivozprovider/invalid_ip               || true
        db_go                                               || true
        configure_dns_address
    fi
}

function configure_users_address()
{
    # Rquest Kamailio users listen address
    db_input high ivozprovider/users_address                || true
    db_go                                                   || true
    db_get ivozprovider/users_address                       || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input high ivozprovider/invalid_ip               || true
        db_go                                               || true
        configure_users_address
    fi
}

function configure_trunks_address()
{
    # Request Kamalio trunks listen address
    db_input high ivozprovider/trunks_address               || true
    db_go                                                   || true
    db_get ivozprovider/trunks_address                      || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input high ivozprovider/invalid_ip               || true
        db_go                                               || true
        configure_trunks_address
    fi
}

function configure_jobs_address()
{
    # Request Kamalio jobs listen address
    db_input high ivozprovider/jobs_address                 || true
    db_go                                                   || true
    db_get ivozprovider/jobs_address                        || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input high ivozprovider/invalid_ip               || true
        db_go                                               || true
        configure_jobs_address
    fi
}

function configure_data_address()
{
    # Request Kamalio data listen address
    db_input high ivozprovider/data_address                 || true
    db_go                                                   || true
    db_get ivozprovider/data_address                        || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input high ivozprovider/invalid_ip               || true
        db_go                                               || true
        configure_data_address
    fi
}

function configure_storage_address()
{
    # Request Kamalio storage listen address
    db_input high ivozprovider/storage_address              || true
    db_go                                                   || true
    db_get ivozprovider/storage_address                     || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input high ivozprovider/invalid_ip               || true
        db_go                                               || true
        configure_storage_address
    fi
}

function configure_logs_address()
{
    # Request Kamalio logs listen address
    db_input high ivozprovider/logs_address                 || true
    db_go                                                   || true
    db_get ivozprovider/logs_address                        || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input high ivozprovider/invalid_ip               || true
        db_go                                               || true
        configure_logs_address
    fi
}

#######################################################################################################################
#######################################################################################################################

# This profile configuration has been done from another task/tool
db_get ivozprovider/preseed
if [ $? -eq 0 ] && [ "$RET" == "true" ]; then
    exit 0
fi

# Run while reconfigure or first install
if [ "$1" == "configure" ] && [ -z "$2" ] || [ "$1" = "reconfigure" ]; then
    show_menu_options
fi

:
