#!/bin/bash
# Source debconf library.
. /usr/share/debconf/confmodule

## Get environment
db_input high ivozprovider/environment             || true
db_go                                              || true

# Set configured environment
grep APPLICATION_ENV /etc/environment &>/dev/null
if [ "$1" == "configure" ] || [ $? -ne 0 ]; then
        # Get Environment
        db_get ivozprovider/environment            || true
        ENV=$RET

        grep "APPLICATION_ENV" /etc/environment &>/dev/null
        if [ $? -eq 0 ]; then
            grep "APPLICATION_ENV=$ENV" /etc/environment &>/dev/null
            # enviroment set but different
            if [ $? -ne 0 ]; then
                # update existing environment
                sed -i "s/APPLICATION_ENV=.*/APPLICATION_ENV=$ENV/g" /etc/environment
            fi
        else
            # Set Applications Environment
            echo "export APPLICATION_ENV=$ENV"      >> /etc/environment
            echo "APPLICATION_ENV=$ENV"             >> /etc/environment
        fi
fi

:
