#!/bin/bash

# Source debconf library.
. /usr/share/debconf/confmodule

# Request mysql password
function setup_mysql_password()
{
    db_input high ivozprovider/mysql_password           || true
    db_go                                               || true
}

# Restart services confirmation
if [ "$1" = "reconfigure" ]; then
    setup_mysql_password
fi


:
