#!/bin/bash

# Source debconf library.
. /usr/share/debconf/confmodule

function configure_mysql_password()
{
    # Reset password
    db_set ivozprovider/mysql_password ""
    db_set ivozprovider/mysql_password_confirm ""

    # Request MySQL root password
    db_input medium ivozprovider/mysql_password              || true
    db_go                                                  || true
    db_get ivozprovider/mysql_password                     || true
    MYSQL_PASS=$RET

    # Request MySQL root password confirmation
    db_input medium ivozprovider/mysql_password_confirm      || true
    db_go                                                  || true
    db_get ivozprovider/mysql_password_confirm             || true
    MYSQL_PASS_CONFIRM=$RET

    # Check both passwords are the same
    if [ "$MYSQL_PASS" != "$MYSQL_PASS_CONFIRM" ]; then
        db_input medium ivozprovider/mysql_password_error    || true
        db_go                                              || true
        db_set ivozprovider/mysql_password ""
    else
        # Set password used by mysql-server package
        db_set mysql-server/root_password $MYSQL_PASS
        db_set mysql-server/root_password_again $MYSQL_PASS
    fi
}

function configure_users_address()
{
    # Rquest Kamailio users listen address
    db_input medium ivozprovider/users_address               || true
    db_go                                                  || true
    db_get ivozprovider/users_address                      || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input medium ivozprovider/invalid_ip              || true
        db_go                                              || true
        db_set ivozprovider/users_address ""
    fi
}

function configure_trunks_address()
{
    # Request Kamalio trunks listen address
    db_input medium ivozprovider/trunks_address              || true
    db_go                                                  || true
    db_get ivozprovider/trunks_address                     || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input medium ivozprovider/invalid_ip              || true
        db_go                                              || true
        db_set ivozprovider/trunks_address ""
    fi
}

function configure_trunks_address()
{
    # Request Kamalio trunks listen address
    db_input medium ivozprovider/trunks_address              || true
    db_go                                                  || true
    db_get ivozprovider/trunks_address                     || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input medium ivozprovider/invalid_ip              || true
        db_go                                              || true
        db_set ivozprovider/trunks_address ""
    fi
}

function configure_jobs_address()
{
    # Request Kamalio jobs listen address
    db_input medium ivozprovider/jobs_address                || true
    db_go                                                  || true
    db_get ivozprovider/jobs_address                       || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input medium ivozprovider/invalid_ip              || true
        db_go                                              || true
        db_set ivozprovider/jobs_address ""
    fi
}

function configure_data_address()
{
    # Request Kamalio data listen address
    db_input medium ivozprovider/data_address                || true
    db_go                                                  || true
    db_get ivozprovider/data_address                       || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input medium ivozprovider/invalid_ip              || true
        db_go                                              || true
        db_set ivozprovider/data_address ""
    fi
}

function configure_storage_address()
{
    # Request Kamalio storage listen address
    db_input medium ivozprovider/storage_address             || true
    db_go                                                  || true
    db_get ivozprovider/storage_address                    || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input medium ivozprovider/invalid_ip              || true
        db_go                                              || true
        db_set ivozprovider/storage_address ""
    fi
}

function configure_logs_address()
{
    # Request Kamalio logs listen address
    db_input medium ivozprovider/logs_address                || true
    db_go                                                  || true
    db_get ivozprovider/logs_address                       || true

    # Check entered IP is valid
    if ! check_valid_ip4 $RET; then
        db_input medium ivozprovider/invalid_ip              || true
        db_go                                              || true
        db_set ivozprovider/logs_address ""
    fi
}

# Restart services confirmation
configure_mysql_password
configure_users_address
configure_trunks_address
configure_jobs_address
configure_data_address
configure_storage_address
configure_logs_address

:
