#!/usr/bin/make -f

build_userweb:
	# Build with npm
	cd userweb ; npm install bower grunt-cli karma grunt-karma
	cd userweb ; npm install 
	cd userweb ; node_modules/bower/bin/bower install --allow-root
	cd userweb ; node_modules/grunt-cli/bin/grunt build 
	cd userweb ; rm -f dist/.htaccess
	cd userweb ; mv dist/index.html ./

build_library:
	# Build with composer
	cd library ; git config --global http.sslVerify false
	cd library ; curl -sS http://getcomposer.org/installer | php -- --install-dir=. --filename=composer
	cd library ; ./composer --no-interaction install

override_dh_auto_build: build_userweb build_library

# Install systemd unit files
override_dh_systemd_enable:
	dh_systemd_enable --name=fastagi@
	dh_systemd_enable --name=fastagi --no-enable fastagi.socket
	dh_systemd_enable --name=kamusers@
	dh_systemd_enable --name=kamtrunks@
	dh_systemd_enable --name=cdrparser
	dh_systemd_enable

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade --name=fastagi@
	dh_systemd_start --restart-after-upgrade --name=kamailio@
	dh_systemd_start

# Install /etc/default configuration
override_dh_installinit:
	dh_installinit --name=kamusers --noscripts --no-restart-on-upgrade --no-start
	dh_installinit --name=kamtrunks  --noscripts --no-restart-on-upgrade --no-start

%:
	dh $@ --with systemd
