#!/usr/bin/make -f

export SYMFONY_ENV=prod

build_doc:
	# Build doc using sphinx
	cd doc/sphinx ; sphinx-build -q -D"language=en" . ../html/en
	cd doc/sphinx ; sphinx-build -q -D"language=es" . ../html/es
	cd doc/sphinx ; sphinx-build -q -D"language=es" -bsinglehtml . ../html/essingle
	cd doc/sphinx ; sphinx-build -q -D"language=en" -bsinglehtml . ../html/ensingle

build_library:
	git config --global http.sslVerify false
	cd library ; composer --no-interaction --no-dev  --no-progress install

build_agis: build_library
	cd asterisk/agi ; composer --no-interaction --no-dev  --no-progress install

build_webrest: build_library
	cd web/rest/platform ; composer --no-interaction --no-dev  --no-progress install
	cd web/rest/platform ; composer dump-autoload --optimize --no-dev --classmap-authoritative

build_webadmin: build_library
	cd web/admin ; msgfmt -o application/languages/es_ES/es_ES.mo application/languages/es_ES/es_ES.po
	cd web/admin ; msgfmt -o application/languages/en_US/en_US.mo application/languages/en_US/en_US.po

build_webuser: build_library build_webadmin
	cd web/user ; npm install bower grunt-cli karma grunt-karma
	cd web/user ; npm install
	cd web/user ; node_modules/bower/bin/bower install --allow-root
	cd web/user ; node_modules/grunt-cli/bin/grunt build
	cd web/user ; rm -f dist/.htaccess
	cd web/user ; mv dist/index.html ./index.phtml

build_microservices: build_library
	cd microservices/balances; composer --no-interaction --no-dev  --no-progress install
	cd microservices/recordings; composer --no-interaction --no-dev  --no-progress install
	cd microservices/workers; composer --no-interaction --no-dev  --no-progress install
	cd microservices/scheduler; composer --no-interaction --no-dev  --no-progress install


build_scheme: build_library
	cd scheme ; composer --no-interaction --no-dev  --no-progress install

override_dh_auto_build: build_doc build_agis build_webadmin build_webrest build_microservices build_scheme build_webuser

override_dh_install:
	dh_install
	# Remove .git directiories
	-find debian -type d -name .git -prune -exec rm -fr {} \;

# Install systemd unit files
override_dh_systemd_enable:
	dh_systemd_enable -p ivozprovider-asterisk-agi	  --name=fastagi@      fastagi@.service
	dh_systemd_enable -p ivozprovider-asterisk-agi	  --name=fastagi       fastagi.socket
	dh_systemd_enable -p ivozprovider-profile-proxy   --name=kamailio@     kamailio@.service --no-enable
	dh_systemd_enable -p ivozprovider-recordings      --name=ivozprovider-recordings         --no-enable
	dh_systemd_enable -p ivozprovider-balances        --name=ivozprovider-balances           --no-enable
	dh_systemd_enable -p ivozprovider-scheduler       --name=ivozprovider-scheduler          --no-enable
	dh_systemd_enable -p ivozprovider-scheduler       --name=ivozprovider-cdrs               --no-enable
	dh_systemd_enable -p ivozprovider-profile-proxy   --name=cgrates-loader                  --no-enable

override_dh_systemd_start:
	dh_systemd_start  -p ivozprovider-asterisk-agi     --name=fastagi@     fastagi@.service   --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-asterisk-agi     --name=fastagi      fastagi.socket     --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-profile-proxy    --name=kamailio@    kamailio@.service  --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-recordings	   --name=ivozprovider-recordings         --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-balances	       --name=ivozprovider-balances           --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-scheduler	       --name=ivozprovider-scheduler          --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-scheduler        --name=ivozprovider-cdrs               --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-profile-proxy    --name=cgrates-loader                  --no-restart-on-upgrade --no-start

# Install /etc/default configuration
override_dh_installinit:
	dh_installinit    -p ivozprovider-kamailio-users   --name=kamusers     --noscripts --no-restart-on-upgrade --no-start
	dh_installinit    -p ivozprovider-kamailio-trunks  --name=kamtrunks    --noscripts --no-restart-on-upgrade --no-start

%:
	dh $@ --with systemd
