#!/usr/bin/make -f

build_doc:
	# Build doc using sphinx
	cd doc/sphinx ; sphinx-build -D"language=en" . ../html/en
	cd doc/sphinx ; sphinx-build -D"language=es" . ../html/es

build_userweb:
	# Build with npm
	cd userweb ; npm install bower grunt-cli karma grunt-karma
	cd userweb ; npm install
	cd userweb ; node_modules/bower/bin/bower install --allow-root
	cd userweb ; node_modules/grunt-cli/bin/grunt build
	cd userweb ; rm -f dist/.htaccess
	cd userweb ; mv dist/index.html ./index.phtml

build_library:
	# Build with composer
	cd library ; git config --global http.sslVerify false
	cd library ; curl -sS http://getcomposer.org/installer | php -- --install-dir=. --filename=composer
	cd library ; ./composer --no-interaction install
	cd library/Composer ; ../composer --no-interaction install

override_dh_auto_build: build_doc build_userweb build_library

# Install systemd unit files
override_dh_systemd_enable:
	dh_systemd_enable -p ivozprovider-asterisk-agi	  --name=fastagi@      fastagi@.service
	dh_systemd_enable -p ivozprovider-asterisk-agi	  --name=fastagi       fastagi.socket
	dh_systemd_enable -p ivozprovider-profile-proxy   --name=kamailio@     kamailio@.service --no-enable
	dh_systemd_enable -p ivozprovider-profile-data	  --name=cdrparser     cdrparser.service  --no-enable
	dh_systemd_enable -p ivozprovider-profile-portal  --name=gearman-job-server
	dh_systemd_enable -p ivozprovider-recordings      --name=ivozprovider-recordings          --no-enable

override_dh_systemd_start:
	dh_systemd_start  -p ivozprovider-asterisk-agi     --name=fastagi@     fastagi@.service   --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-asterisk-agi     --name=fastagi      fastagi.socket     --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-profile-proxy    --name=kamailio@    kamailio@.service  --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-profile-data	   --name=cdrparser    cdrparser.service  --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-profile-portal   --name=gearman-job-server              --no-restart-on-upgrade --no-start
	dh_systemd_start  -p ivozprovider-recordings	   --name=ivozprovider-recordings         --no-restart-on-upgrade --no-start

# Install /etc/default configuration
override_dh_installinit:
	dh_installinit    -p ivozprovider-kamailio-users   --name=kamusers     --noscripts --no-restart-on-upgrade --no-start
	dh_installinit    -p ivozprovider-kamailio-trunks  --name=kamtrunks    --noscripts --no-restart-on-upgrade --no-start

%:
	dh $@ --with systemd
