<div class="row">

    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="calldate"></strong>: <p>{{ngDialogData.calldate}}</p>
        </div>
        
        <div class="col-md-6">
            <strong translate="src"></strong>: <p>{{ngDialogData.src}}</p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="src_dialed"></strong>: <p>{{ngDialogData.src_dialed}}</p>
        </div>
        
        <div class="col-md-6">
            <strong translate="src_duration"></strong>: <p>{{getDuration(ngDialogData.src_duration)}}</p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="dst"></strong>: <p>{{ngDialogData.dst}}</p>
        </div>
        
        <div class="col-md-6">
            <strong translate="dst_src_cid"></strong>: <p>{{ngDialogData.dst_src_cid}}</p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="dst_duration"></strong>: <p>{{getDuration(ngDialogData.dst_duration)}}</p>
        </div>
        
        <div class="col-md-6">
            <strong translate="type"></strong>: <p>{{ngDialogData.type}}</p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="desc"></strong>: <p>{{ngDialogData.desc}}</p>
        </div>
        
        <div class="col-md-6">
            <strong translate="fw_desc"></strong>: <p>{{ngDialogData.fw_desc}}</p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="ext_forwarder"></strong>: <p>{{ngDialogData.ext_forwarder}}</p>
        </div>
        
        <div class="col-md-6">
            <strong translate="int_forwarder"></strong>: <p>{{ngDialogData.int_forwarder}}</p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="forward_to"></strong>: <p>{{ngDialogData.forward_to}}</p>
        </div>
    </div>

</div>
