<div class="row" style="min-height: 275px;">
    
    <div class="shaft-load2" ng-show="loading">
        <div class="shaft1"></div>
        <div class="shaft2"></div>
        <div class="shaft3"></div>
        <div class="shaft4"></div>
        <div class="shaft5"></div>
        <div class="shaft6"></div>
        <div class="shaft7"></div>
        <div class="shaft8"></div>
        <div class="shaft9"></div>
        <div class="shaft10"></div>
    </div>
    
    <div class="col-md-12" ng-show="!loading">

        <h3>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="pointer">
                        <a ng-click="showForm()"><i class="fa fa-search"></i> - {{'search' | translate}}</a>
                    </li>
                    <li class="pointer">
                        <a download-csv="getCallsToCsv()"><i class="fa fa-file-excel-o"></i> - {{'exportToCsv' | translate}}</a>
                    </li>
                </ul>
            </div>
            {{'Mis llamadas' | translate}} ({{totalItems}})
        </h3>
        
        <div ng-include="'views/calls/search.html'" ng-show="viewForm"></div>
        
        <div ng-include="'views/calls/table-calls.html'"></div>
        
        <div class="row text-center">
            <paging
                class="small pointer"
                page="page" 
                page-size="pageSize" 
                total="totalItems"
                adjacent="2"
                dots="..."
                scroll-top="false" 
                hide-if-empty="false"
                ul-class="pagination"
                active-class="active"
                disabled-class="disabled"
                show-prev-next="true"
                paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)"
                ></paging>
        </div>
    </div>
</div>