<div class="row">

    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="calldate"></strong>: <p>{{ngDialogData.calldate}}</p>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="src"></strong>: <p>{{ngDialogData.aParty}}</p>
        </div>
        <div class="col-md-6">
            <strong translate="src_dialed"></strong>: <p>{{ngDialogData.bParty}}</p>
        </div>
    </div>

    <div class="col-md-12">
       <div class="col-md-6">
            <strong translate="dst_duration"></strong>: <p>{{getDuration(ngDialogData.duration)}}</p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6">
            <strong translate="type"></strong>: <p>{{ngDialogData.type}}</p>
        </div>

        <div class="col-md-6">
            <strong translate="subtype"></strong>: <p>{{ngDialogData.subtype}}</p>
        </div>

    </div>
    
</div>
