<br />
<form class="form form-horizontal well" id="formSearchCalls" name="form" ng-submit="search()" role="form" >

    <div class="col-md-12 text-right">
        <i class="fa fa-search-minus pointer" ng-click="showForm()"></i>
    </div>
    
    <div class="col-md-12">
        <div class="form-group col-md-4">
            <datepicker 
                date-format="dd-MM-yyyy"
                date-max-limit="{{dateNow}}"
                button-prev="<i class='fa fa-arrow-left'></i>" 
                button-next="<i class='fa fa-arrow-right'></i>" 
                >
                <input type="text" name="calldate" class="form-control empty" ng-model="formData.calldate" placeholder="{{'calldate' | translate}}" />
            </datepicker>
        </div>
        
        <div class="form-group col-md-4">
            <input type="text" name="type" class="form-control empty" ng-model="formData.type" placeholder="{{'type' | translate}}" />
        </div>
        
        <div class="form-group col-md-4">
            <input type="text" name="desc" class="form-control empty" ng-model="formData.desc" placeholder="{{'desc' | translate}}" />
        </div>
    
    </div>
    
    <div class="col-md-12">
        
        <div class="form-group col-md-4">
            <input type="text" name="src" class="form-control empty" ng-model="formData.src" placeholder="{{'src' | translate}}" />
        </div>
        
        <div class="form-group col-md-4">
            <input type="text" name="src_dialed" class="form-control empty" ng-model="formData.src_dialed" placeholder="{{'src_dialed' | translate}}" />
        </div>
        
        <div class="form-group col-md-4">
            <input type="number" name="src_duration" class="form-control empty" ng-model="formData.src_duration" placeholder="{{'src_duration' | translate}}" />
        </div>
        
    </div>
    
    <div class="col-md-12">
        
        <div class="form-group col-md-4">
            <input type="text" name="dst" class="form-control empty" ng-model="formData.dst" placeholder="{{'dst' | translate}}" />
        </div>
        
        <div class="form-group col-md-4">
            <input type="text" name="dst_src_cid" class="form-control empty" ng-model="formData.dst_src_cid" placeholder="{{'dst_src_cid' | translate}}" />
        </div>
        
        <div class="form-group col-md-4">
            <input type="number" name="dst_duration" class="form-control empty" ng-model="formData.dst_duration" placeholder="{{'dst_duration' | translate}}" />
        </div>
        
    </div>
    
    <div class="form-actions text-right">
    
        <button type="submit" class="btn btn-info">
            <i class="fa fa-search"></i> {{'search' | translate}}
        </button>
        
        <span class="btn btn-danger" ng-click="reset()">
            <i class="fa fa-trash-o"></i> {{'clear' | translate}}
        </span>
    
    </div>
    
</form>