parameters:
	ignoreErrors:
		-
			message: "#^Method Kernel\\:\\:configureContainer\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Kernel.php

		-
			message: "#^Method Kernel\\:\\:configureRoutes\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Kernel.php

