<script type="text/javascript">
$(document).ready(function(){setTimeout(function(){$('[data-toggle="tooltip"]').tooltip();},1000);});
</script>

<div class="well well-lg">
    <div class="img-circle" style="background-image: url({{logo}});"></div>
    <!--<img alt="{{brandName}}" ng-src="{{logo}}" class="img-circle" />-->
    <h3>{{nombre}}</h3>
    <h4>{{brandName}}</h4>
    <div style="width: 100%;">
        <div class="text-center" id="qrcode" ng-show="{{gsQRCode}}">
            <qr class="pointer" text="QRCode" size="46" correction-level="L"></qr>
            <div>
                <qr text="QRCode" size="200"></qr>
                <br />{{'scan this QR code' | translate}}
                <br />{{'to provision GS Wave' | translate}}
            </div>
        </div>
        <p class="text-muted text-center" style="margin-bottom: 0;">{{'statusTerminal' | translate}}
            <i class="fa fa-check-circle" style="color: green;" ng-show="statusTerminal" data-toggle="tooltip" data-placement="bottom" title="{{'terminalOk' | translate}}"></i>
            <i class="fa fa-exclamation-circle" style="color: red;" ng-show="!statusTerminal" data-toggle="tooltip" data-placement="bottom" title="{{'terminalFail' | translate}}"></i>
        </p>
        <p class="text-muted text-center" style="margin-bottom: 0;">{{userAgent}}</p>
        <p class="text-muted text-center" style="margin-bottom: 0;">{{ipRegistered}}</p>
    </div>


    <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <a href="#/account" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="{{'MyAccount' | translate}}">
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <a href="#/preferences" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="{{'MyPreferences' | translate}}">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <a href="#/login" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="{{'Logout' | translate}}">
            <i class="fa fa-sign-out"></i>
        </a>
    </div>
</div>

<div class="list-group">
    <a
            href="#/"
            class="list-group-item"
            ng-class="$state.current.name === 'app.index' ? 'active' : ''"
    >
        <i class="fa fa-home" aria-hidden="true"></i> {{'Index' | translate}}
    </a>
    <a
            href="#/calls"
            class="list-group-item"
            ng-class="$state.current.name === 'app.calls' ? 'active' : ''"
    >
        <i class="fa fa-phone" aria-hidden="true"></i> {{'Calls' | translate}} <span class="badge">{{totalCalls}}</span>
    </a>
    <a
            href="#/detours"
            class="list-group-item"
            ng-class="$state.current.name === 'app.detours' ? 'active' : ''"
    >
        <i class="fa fa-level-up" aria-hidden="true"></i> {{'Detours' | translate}} <span class="badge">{{totalDetours}}</span>
    </a>
    <a
            href="#/preferences"
            class="list-group-item"
            ng-class="$state.current.name === 'app.preferences' ? 'active' : ''"
    >
        <i class="fa fa-cog" aria-hidden="true"></i> {{'MyPreferences' | translate}}
    </a>
    <a
            href="#/account"
            class="list-group-item"
            ng-class="$state.current.name === 'app.account' ? 'active' : ''"
    >
        <i class="fa fa-user" aria-hidden="true"></i> {{'MyAccount' | translate}}
    </a>
</div>




