imports:
    - { resource: "@CoreBundle/Resources/config/doctrine_cache.yml" }
    - { resource: "@ProviderBundle/Resources/config/config.yml" }
    - { resource: "@ApiBundle/Resources/config/config.yml" }
    - { resource: "@ApiBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    #required to generate valid urls from console
    #https://symfony.com/doc/current/console/request_context.html
    router.request_context.base_url: /api/client
    api_default_role: ROLE_COMPANY_ADMIN

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: false       # Allows optimizing the container by removing unused services; this also means
                            # fetching services directly from the container via $container->get() won't work.
                            # The best practice is to be explicit about your dependencies anyway.

    DataFixtures\:
        resource: '../../../../library/DataFixtures/*'

    Service\UserProvider::User:
        class: Service\UserProvider
        arguments:
            $identifierField: 'email'
            $entityClass: 'Ivoz\Provider\Domain\Model\User\User'

    Service\UserProvider::Administrator:
        class: Service\UserProvider
        arguments:
            $identifierField: 'username'
            $entityClass: 'Ivoz\Provider\Domain\Model\Administrator\Administrator'

    Service\AuthEndpointDecorator:
        decorates: 'api_platform.swagger.normalizer.documentation'
        decoration_priority: 5
        arguments:
            $decoratedNormalizer:
                '@Service\AuthEndpointDecorator.inner'

    Ivoz\Api\Operation\ExchangeToken:
        arguments:
            $userProvider: '@Service\UserProvider::Administrator'
            $requiredInputRole: 'ROLE_BRAND_ADMIN'
            $requiredOutputRole: 'ROLE_COMPANY_ADMIN'

    Ivoz\Api\Core\Security\DataAccessControlParser:
        calls:
            - [ addRepository, ['matchListRepository', '@=service("doctrine.orm.entity_manager").getRepository("Ivoz\\Provider\\Domain\\Model\\MatchList\\MatchList")']]

    #######################################
    ## Controllers
    #######################################
    Controller\Auth\:
        resource: '../src/Controller/Auth/*'
        tags: ['controller.service_arguments']

    Controller\My\:
        resource: '../src/Controller/My/*'
        tags: ['controller.service_arguments']

    Controller\Provider\:
        resource: '../src/Controller/Provider/*'
        tags: ['controller.service_arguments']

