#!version:1.0.0.1
account.1.user_name = <?php echo $this->terminal->getName(); ?> 
account.1.auth_name = <?php echo $this->terminal->getName(); ?> 
account.1.password = <?php echo $this->terminal->getPassword(); ?> 
account.1.display_name = <?php echo $this->user->getName(); ?> 
account.1.label = <?php echo $this->user->getName(); ?> 
account.1.sip_server_host = <?php echo $this->company->getDomainUsers(); ?> 
account.1.sip_server_port = 5060 

lang.gui = <?php echo $this->language->getNameEn(); ?>
lang.wui = <?php echo $this->language->getNameEn(); ?>
