services:
  _defaults:
    autowire: true
    public: false

  Ivoz\Provider\Domain\Service\Company\SyncBalances:
    public: true
    arguments:
      $logger: '@logger'

  Ivoz\Provider\Domain\Service\Company\IncrementBalance:
    public: true
    arguments:
      $logger: '@logger'

  Ivoz\Provider\Domain\Service\Company\AbstractBalanceOperation:
    abstract:  true
    arguments:
      $entityPersister: '@Ivoz\Core\Infrastructure\Domain\Service\DoctrineEntityPersister'
      $logger: '@logger'
      $client: '@Ivoz\Core\Infrastructure\Domain\Service\Cgrates\CompanyBalanceService'
      $syncBalanceService: '@Ivoz\Provider\Domain\Service\Company\SyncBalances'
      $companyRepository: '@Ivoz\Provider\Domain\Model\Company\CompanyRepository'

  Ivoz\Provider\Domain\Service\Company\IncrementBalance:
    public: true
    autowire: false
    parent: Ivoz\Provider\Domain\Service\Company\AbstractBalanceOperation

  Ivoz\Provider\Domain\Service\Company\DecrementBalance:
    public: true
    autowire: false
    parent: Ivoz\Provider\Domain\Service\Company\AbstractBalanceOperation