.ppm/
*/web/swagger.json
*/build/
*/phpunit.xml
!*/features/coverage/.gitkeep
*/features/coverage/*
**.php~
*/var/*
!*/var/cache
*/var/cache/*
!*/var/cache/.gitkeep
!*/var/logs
*/var/logs/*
!*/var/logs/.gitkeep
!*/var/sessions
*/var/sessions/*
!*/var/sessions/.gitkeep
!*/var/SymfonyRequirements.php
*/vendor/
*/results/
