# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
imports:
  - { resource: "@CoreBundle/Resources/config/services.yml" }
  - { resource: "@CoreBundle/Resources/config/logger.yml" }

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false
