Source: oasis-scheme
Section: php
Priority: optional
Build-Depends: debhelper
Standards-Version: 3.9.6
Maintainer: Irontec OASIS Team <oasis@irontec.com>

Package: oasis-scheme
Architecture: all
Section: database
Priority: optional
Depends: phing
Homepage: http://www.irontec.com
Description: OASIS - Database Scheme
 .

