#
# IvozProvider TLS Configuration File
#

# This is the default server domain, settings
# in this domain will be used for all incoming
# connections that do not match any other server
# domain in this configuration file.

[server:default]
method = SSLv23
verify_certificate = no
require_certificate = no
private_key = /etc/kamailio/proxyusers/kamailio-selfsigned.key
certificate = /etc/kamailio/proxyusers/kamailio-selfsigned.pem

# This is the default client domain, settings
# in this domain will be used for all outgoing
# TLS connections that do not match any other
# client domain in this configuration file.

[client:default]
verify_certificate = no
require_certificate = no

