<div class="shaft-load" ng-show="loading">
    <div class="shaft1"></div>
    <div class="shaft2"></div>
    <div class="shaft3"></div>
    <div class="shaft4"></div>
    <div class="shaft5"></div>
    <div class="shaft6"></div>
    <div class="shaft7"></div>
    <div class="shaft8"></div>
    <div class="shaft9"></div>
    <div class="shaft10"></div>
</div>

<div class="panel panel-default" ng-show="!loading">
    <div class="panel-heading">
        <h3>
            {{'nuevoDesvio' | translate}}
        </h3>
    </div>
    <form
            class="form"
            ng-submit="create()"
            role="form"
            name="form"
            ng-show="!loading"
    >
        <div class="panel-body">
            <div class="alert alert-success" role="alert" ng-show="success">
                <strong translate="creadoCorrectamente"></strong>
            </div>

            <div class="alert alert-danger" role="alert" ng-show="error">
                <strong>{{errorMessage | translate}}</strong>
            </div>

            <div class="col-md-12" style="margin-bottom: 20px; margin-top: 20px;">

                <div class="col-md-12">

                    <div class="form-group col-md-12">

                        <label
                                for="enabled"
                                class="col-sm-4 control-label"
                                translate="enabled"
                        ></label>

                        <div class="col-sm-8">
                            <select
                                    class="form-control"
                                    id="enabled"
                                    name="enabled"
                                    ng-model="detour.enabled"
                                    required="required"
                            >
                                <option value="0" translate="no"></option>
                                <option value="1" translate="yes"></option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group col-md-12">

                        <label
                                for="callTypeFilter"
                                class="col-sm-4 control-label"
                                translate="callTypeFilter"
                        ></label>

                        <div class="col-sm-8">
                            <select
                                    class="form-control"
                                    id="callTypeFilter"
                                    name="callTypeFilter"
                                    ng-model="detour.callTypeFilter"
                                    required="required"
                            >
                                <option value="internal" translate="internal"></option>
                                <option value="external" translate="external"></option>
                                <option value="both" translate="both"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label
                                for="callForwardType"
                                class="col-sm-4 control-label"
                                translate="callForwardType"
                        ></label>

                        <div class="col-sm-8">
                            <select
                                    class="form-control"
                                    id="callForwardType"
                                    name="callForwardType"
                                    ng-model="detour.callForwardType"
                                    required="required"
                            >
                                <option value="inconditional" translate="inconditional"></option>
                                <option value="noAnswer" translate="noAnswer"></option>
                                <option value="busy" translate="busy"></option>
                                <option value="userNotRegistered" translate="userNotRegistered"></option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group col-md-12" ng-show="callForwardTypeNoAnswer">

                        <label
                                for="noAnswerTimeout"
                                class="col-sm-4 control-label"
                                translate="noAnswerTimeout"
                        ></label>

                        <div class="col-sm-8">
                            <input
                                    type="number"
                                    name="noAnswerTimeout"
                                    id="noAnswerTimeout"
                                    class="form-control"
                                    placeholder="{{'noAnswerTimeout' | translate}}"
                                    ng-model="detour.noAnswerTimeout"
                            />
                        </div>

                    </div>

                    <div class="form-group col-md-12">

                        <label
                                for="targetType"
                                class="col-sm-4 control-label"
                                translate="targetType"
                        ></label>

                        <div class="col-sm-8">
                            <select
                                    class="form-control"
                                    id="targetType"
                                    name="targetType"
                                    ng-model="detour.targetType"
                                    required="required"
                            >
                                <option value="number" translate="number"></option>
                                <option value="extension" translate="extension"></option>
                                <option value="voicemail" translate="voicemail"></option>
                            </select>
                        </div>

                    </div>


                    <div class="form-group col-md-12" ng-show="numberValueShow">

                        <label
                                for="numberValue"
                                class="col-sm-4 control-label"
                                translate="numberValue"
                        ></label>

                        <div class="col-sm-4">
                            <select
                                    class="form-control"
                                    id="numberCountry"
                                    name="numberCountry"
                                    ng-model="detour.numberCountry"
                                    ng-options="numberCountry.id as numberCountry.name for numberCountry in countries"
                            >
                            </select>
                        </div>

                        <div class="col-sm-4">
                            <input
                                    type="text"
                                    name="numberValue"
                                    id="numberValue"
                                    class="form-control"
                                    placeholder="{{'numberValue' | translate}}"
                                    ng-model="detour.numberValue"
                            />
                        </div>

                    </div>


                    <div class="form-group col-md-12" ng-show="extensionShow">

                        <label
                                for="extension"
                                class="col-sm-4 control-label"
                                translate="extension"
                        ></label>

                        <div class="col-sm-8">
                            <select
                                    class="form-control"
                                    id="extension"
                                    name="extension"
                                    ng-model="detour.extension"
                            >
                                <option ng-repeat="extension in extensions" value="{{extension.id}}">{{extension.number}}</option>
                            </select>

                        </div>

                    </div>

                    <div class="form-group col-md-12" ng-show="voiceMailUserShow">

                        <label
                                for="voiceMailUser"
                                class="col-sm-4 control-label"
                                translate="voiceMailUser"
                        ></label>

                        <div class="col-sm-8">
                            <select
                                    class="form-control"
                                    id="voiceMailUser"
                                    name="voiceMailUser"
                                    ng-model="detour.voiceMailUser.id"
                                    ng-options="user.id as user.fullName for user in users"
                            >
                            </select>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button
                    type="submit"
                    class="btn btn-success"
                    ng-disabled="form.$invalid || formAction"
                    translate="create"
            ></button>

            <a
                    class="btn btn-danger"
                    ng-href="#/detours"
                    translate="returnDetours"
            ></a>
        </div>
    </form>
</div>
