<table class="table table-striped table-calls">
    <thead>
        <tr>
           <th translate="enabled"></th>
           <th translate="callTypeFilter"></th>
           <th translate="callForwardType"></th>
           <th translate="targetType"></th>
           <th translate="destiny"></th>
           <th translate="options"></th>
        </tr>
    </thead>
    
    <tbody>
        <tr ng-repeat="detour in callsFS">
        
          <td data-th="{{'enabled' | translate}}">
              <span ng-show="detour.enabled">{{'yes' | translate}}</span>
              <span ng-show="!detour.enabled">{{'no' | translate}}</span>

          </td>
          <td data-th="{{'callTypeFilter' | translate}}">{{detour.callTypeFilter | translate}}</td>
          <td data-th="{{'callForwardType' | translate}}">{{detour.callForwardType | translate}}</td>
          <td data-th="{{'targetType' | translate}}">{{(detour.targetType || 'Unassigned')| translate}}</td>
          <td data-th="{{'destiny' | translate}}">{{detourTarget(detour)}}</td>
          
          <td data-th="{{'options' | translate}}">
              <a 
                ng-href="#/detours/{{detour.id}}" 
                class="btn btn-warning" 
                data-toggle="tooltip" 
                data-placement="bottom" 
                data-original-title="{{'editDetour' | translate}}" 
                title="{{'editDetour' | translate}}"
                ><i class="fa fa-pencil"></i></a>
              <button 
                    ng-click="deleteDetour(detour)" 
                    class="btn btn-danger"
                    data-toggle="tooltip" 
                    data-placement="bottom" 
                    data-original-title="{{'deleteDetour' | translate}}" 
                    title="{{'deleteDetour' | translate}}" 
                    ><i class="fa fa-trash-o"></i></button>
          </td>
          
        </tr>
    </tbody>
</table>
<script type="text/javascript">
$(document).ready(function(){setTimeout(function(){$('[data-toggle="tooltip"]').tooltip();},1000);});
</script>
